<!-- pino -->
<svg data-name="Pin Icon" viewBox="0 0 40.828 40.973" xmlns="http://www.w3.org/2000/svg" class="pino"
  *ngIf="icon === 'pino'">
  <path
    d="M25.095 35.043a6.241 6.241 0 0 0 1.12-4.071 4.685 4.685 0 0 1 .416-2.977l8.083-11.639a7.516 7.516 0 0 1 1.033-1.325l.066.067c1.026 1.026 2.793 1.015 4.389.108a1.392 1.392 0 0 0 .143-2.223l-12.5-12.5a1.392 1.392 0 0 0-2.223.142c-.906 1.6-.918 3.363.11 4.39l.066.066a7.586 7.586 0 0 1-1.326 1.032l-11.636 8.085a4.685 4.685 0 0 1-2.977.416 6.238 6.238 0 0 0-4.072 1.12 1.458 1.458 0 0 0-.111 2.268l7.408 7.408-8.227 8.228.019.019c-3.3 3.475-5.386 6.587-4.765 7.208s3.733-1.468 7.208-4.765l.019.019 8.227-8.227 7.263 7.264a1.458 1.458 0 0 0 2.267-.113z"
    data-name="Caminho 1328" />
</svg>

<!-- anterior -->
<svg class="anterior" viewBox="0 0 43.328 28.314" xmlns="http://www.w3.org/2000/svg" *ngIf="icon === 'anterior'">
  <defs>
    <style>
      .cls-1 {
        filter: url(#a)
      }
    </style>
    <filter id="a" x="0" y="0" width="43.328" height="28.314" filterUnits="userSpaceOnUse">
      <feOffset dy="3" />
      <feGaussianBlur result="blur" stdDeviation="1.5" />
      <feFlood flood-opacity=".161" />
      <feComposite in2="blur" operator="in" />
      <feComposite in="SourceGraphic" />
    </filter>
  </defs>
  <g class="cls-1">
    <path transform="translate(-1.5 -7.09)"
      d="M36.295 8.59L23.164 20.528 10.034 8.59 6 12.265 23.164 27.9l17.164-15.635z" data-name="Icon" />
  </g>
</svg>


<!-- próximo -->
<svg class="proximo" viewBox="0 0 43.328 28.314" xmlns="http://www.w3.org/2000/svg" *ngIf="icon === 'proximo'">
  <defs>
    <style>
      .cls-1 {
        filter: url(#a)
      }
    </style>
    <filter id="a" x="0" y="0" width="43.328" height="28.314" filterUnits="userSpaceOnUse">
      <feOffset dy="3" />
      <feGaussianBlur result="blur" stdDeviation="1.5" />
      <feFlood flood-opacity=".161" />
      <feComposite in2="blur" operator="in" />
      <feComposite in="SourceGraphic" />
    </filter>
  </defs>
  <g class="cls-1">
    <path transform="translate(-1.5 -7.09)"
      d="M36.295 8.59L23.164 20.528 10.034 8.59 6 12.265 23.164 27.9l17.164-15.635z" data-name="Icon" />
  </g>
</svg>

<!-- busca -->
<svg class="busca" viewBox="0 0 30.028 30.028" xmlns="http://www.w3.org/2000/svg" *ngIf="icon === 'busca'">
  <path
    d="M21.464 18.885H20.1l-.474-.47a11.106 11.106 0 0 0 2.692-7.255A11.159 11.159 0 0 0 11.16 0 11.159 11.159 0 0 0 0 11.159a11.159 11.159 0 0 0 11.16 11.159 11.109 11.109 0 0 0 7.254-2.688l.474.47v1.36l8.581 8.568 2.56-2.56-8.565-8.583zm-10.3 0a7.724 7.724 0 0 1-7.73-7.726 7.725 7.725 0 0 1 7.726-7.725 7.726 7.726 0 0 1 7.726 7.725 7.725 7.725 0 0 1-7.726 7.726z" />
</svg>

<!-- x -->
<svg class="cursor-pointer erasebutton x" data-name="Grupo 1083" viewBox="0 0 20.011 20.011"
  xmlns="http://www.w3.org/2000/svg" *ngIf="icon === 'x'">
  <path
    d="M19.525 2.849A1.67 1.67 0 0 0 17.163.487l-7.157 7.157L2.849.487A1.67 1.67 0 0 0 .487 2.849l7.157 7.157-7.157 7.157a1.67 1.67 0 0 0 2.362 2.362l7.157-7.157 7.157 7.157a1.67 1.67 0 0 0 2.362-2.362l-7.157-7.157z"
    data-name="Caminho 1673" />
</svg>

<!-- bandeira -->
<svg class="bandeira" viewBox="0 0 22.513 29.944" xmlns="http://www.w3.org/2000/svg" *ngIf="icon === 'bandeira'">
  <path d="M22.512 1.361h-19.7V0H0v29.945h2.814v-12.25h19.7l-4.221-8.167z" data-name="Caminho 1778" />
</svg>

<!-- check -->
<svg class="check" viewBox="0 0 31.022 26.59" xmlns="http://www.w3.org/2000/svg" *ngIf="icon === 'check'">
  <path transform="translate(-4.008 -8)"
    d="M34.047,8.794a3.011,3.011,0,0,0-4.269.2L15.13,25.679,10.22,22.022a3.774,3.774,0,1,0-4.889,5.752l7.685,6.1a2.935,2.935,0,0,0,4.147-.314L34.291,12.994A3.008,3.008,0,0,0,34.047,8.794Z"
    data-name="check icon" />
</svg>

<!-- info -->
<svg class="info" data-name="Info Icon" viewBox="0 0 21.611 21.611" xmlns="http://www.w3.org/2000/svg"
  *ngIf="icon === 'info'">
  <path
    d="M10.805 0a10.805 10.805 0 1 0 10.806 10.805A10.809 10.809 0 0 0 10.805 0zm1.081 16.208H9.725V9.725h2.161v6.483zm0-8.644H9.725V5.4h2.161v2.164z" />
</svg>

<!-- eye open -->
<svg version="1.1" class="eye-open" data-name="Eye-open Icon" viewBox="0 0 26.5 23" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink" *ngIf="icon === 'eye-open'">
  <path
    d="m12 5c-5 0-9.27 3.11-11 7.5 1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 12.5c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z" />
</svg>

<!-- eye close -->
<svg class="eye-close" data-name="Eye-close Icon" viewBox="0 0 27 23" xmlns="http://www.w3.org/2000/svg"
  *ngIf="icon === 'eye-close'">
  <path
    d="m12 7c2.76 0 5 2.24 5 5 0 0.65-0.13 1.26-0.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74 0.25-3.98 0.7l2.16 2.16c0.57-0.23 1.18-0.36 1.83-0.36zm-10-2.73l2.28 2.28 0.46 0.46c-1.66 1.29-2.96 3.01-3.74 4.99 1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-0.3 4.38-0.84l0.42 0.42 2.93 2.92 1.27-1.27-17.73-17.73-1.27 1.27zm5.53 5.53l1.55 1.55c-0.05 0.21-0.08 0.43-0.08 0.65 0 1.66 1.34 3 3 3 0.22 0 0.44-0.03 0.65-0.08l1.55 1.55c-0.67 0.33-1.41 0.53-2.2 0.53-2.76 0-5-2.24-5-5 0-0.79 0.2-1.53 0.53-2.2zm4.31-0.78l3.15 3.15 0.02-0.16c0-1.66-1.34-3-3-3l-0.17 0.01z" />
</svg>

<!-- post -->
<svg class="post" data-name="Post Icon" version="1.1" viewBox="0 0 511.626 511.626" xmlns="http://www.w3.org/2000/svg"
  *ngIf="icon === 'post'">
  <path
    d="m49.106 178.73c6.472 4.567 25.981 18.131 58.528 40.685 32.548 22.554 57.482 39.92 74.803 52.099 1.903 1.335 5.946 4.237 12.131 8.71 6.186 4.476 11.326 8.093 15.416 10.852 4.093 2.758 9.041 5.852 14.849 9.277 5.806 3.422 11.279 5.996 16.418 7.7 5.14 1.718 9.898 2.569 14.275 2.569h0.575c4.377 0 9.137-0.852 14.277-2.569 5.137-1.704 10.615-4.281 16.416-7.7 5.804-3.429 10.752-6.52 14.845-9.277 4.093-2.759 9.229-6.376 15.417-10.852 6.184-4.477 10.232-7.375 12.135-8.71 17.508-12.179 62.051-43.11 133.62-92.79 13.894-9.703 25.502-21.411 34.827-35.116 9.332-13.699 13.993-28.07 13.993-43.105 0-12.564-4.523-23.319-13.565-32.264-9.041-8.947-19.749-13.418-32.117-13.418h-420.26c-14.655 0-25.933 4.948-33.832 14.844-7.898 9.898-11.847 22.27-11.847 37.115 0 11.991 5.236 24.985 15.703 38.974 10.466 13.99 21.604 24.983 33.403 32.976z" />
  <path
    d="m483.07 209.28c-62.424 42.251-109.82 75.087-142.18 98.501-10.849 7.991-19.65 14.229-26.409 18.699-6.759 4.473-15.748 9.041-26.98 13.702-11.228 4.668-21.692 6.995-31.401 6.995h-0.578c-9.707 0-20.177-2.327-31.405-6.995-11.228-4.661-20.223-9.229-26.98-13.702-6.755-4.47-15.559-10.708-26.407-18.699-25.697-18.842-72.995-51.68-141.9-98.501-10.852-7.228-20.464-15.513-28.839-24.838v226.68c0 12.57 4.471 23.319 13.418 32.265 8.945 8.949 19.701 13.422 32.264 13.422h420.27c12.56 0 23.315-4.473 32.261-13.422 8.949-8.949 13.418-19.694 13.418-32.265v-226.68c-8.186 9.132-17.7 17.417-28.555 24.838z" />
</svg>

<!-- erro -->
<svg class="erro" viewBox="0 0 22.696 19.628" xmlns="http://www.w3.org/2000/svg" *ngIf="icon === 'erro'">
  <defs>
    <style>
      .cls-1 {
        fill: #05008e
      }
    </style>
  </defs>
  <path class="cls-1" transform="translate(-12.998 -970.36)"
    d="M24.346 970.362a2.055 2.055 0 0 0-1.792 1.006l-9.268 15.545a1.987 1.987 0 0 0 0 2.061 2.059 2.059 0 0 0 1.706 1.016H33.7a2.062 2.062 0 0 0 1.706-1.016 1.987 1.987 0 0 0 0-2.061l-9.268-15.545a2.055 2.055 0 0 0-1.792-1.006zm0 1.84a.352.352 0 0 1 .211.106l9.268 15.545a.262.262 0 0 1 0 .182c-.083.139-.055.115-.125.115H14.992c-.069 0-.041.024-.125-.115a.261.261 0 0 1 0-.182l9.268-15.545a.352.352 0 0 1 .211-.105zm0 3.68a.92.92 0 0 0-.92.92v6.747a.92.92 0 1 0 1.84 0V976.8a.92.92 0 0 0-.92-.918zm0 9.2a1.227 1.227 0 1 0 1.227 1.227 1.227 1.227 0 0 0-1.227-1.226z"
    data-name="Warning Icon" />
</svg>

<!-- condicões gerais -->
<svg class="condicoesGerais" viewBox="0 0 55.573 66.371" xmlns="http://www.w3.org/2000/svg" fill="#05008e" width="58"
  height="64" *ngIf="icon === 'condicoesGerais'">
  <g data-name="Conditions Icon">
    <g data-name="Grupo 1079">
      <g data-name="Grupo 1">
        <path
          d="M55.451 12.338h-8.409V8.687a2.543 2.543 0 0 1 .853-2.014l.244-.252V3.273a3.17 3.17 0 1 1 6.337 0v3.148c.122 0 .122.126.244.252a3.018 3.018 0 0 1 .853 2.014v3.651z"
          data-name="Caminho 1" />
        <path
          d="M47.408 55.645h7.8l-2.681 8.687a1.215 1.215 0 0 1-1.219.881 1.178 1.178 0 0 1-1.1-.881c-1.581-5.162-2.434-7.554-2.8-8.687z"
          data-name="Caminho 2" />
        <path d="M55.573 53.128h-8.409c0-5.036 0-27.193-.122-38.272h8.409c.122 26.06.122 35.251.122 38.272z"
          data-name="Caminho 3" />
      </g>
      <g data-name="Grupo 2">
        <path
          d="M38.024 55.294h-.122a1.067 1.067 0 0 1-1.1-.755 1.176 1.176 0 0 1 .244-1.385l.122-.126c.122-.126.122-.126.122-.252s0-.126-.122-.126l-.122-.126a.121.121 0 0 0-.122.126l-.122.126a1.087 1.087 0 0 1-1.341.252 1.212 1.212 0 0 1-.731-1.133v-.378c-.244-.252-.366 0-.366.126v.251a1.1 1.1 0 0 1-.731 1.133 1.087 1.087 0 0 1-1.341-.252l-.122-.126a.224.224 0 0 0-.366 0 .241.241 0 0 0 0 .378l.122.126a1.407 1.407 0 0 1 .244 1.385 1.171 1.171 0 0 1-1.1.755h-.244a.252.252 0 0 0 0 .5h.244a1.067 1.067 0 0 1 1.1.755 1.176 1.176 0 0 1-.244 1.385l-.122.126a.241.241 0 0 0 0 .378l.122.126a.121.121 0 0 0 .122-.126l.122-.126a1.09 1.09 0 0 1 .853-.378.715.715 0 0 1 .487.126 1.212 1.212 0 0 1 .731 1.133v.252c0 .252.487.252.487 0v-.126a1.1 1.1 0 0 1 .731-1.133 1.088 1.088 0 0 1 1.341.252l.122.126c.244.126.244.126.366 0a.241.241 0 0 0 0-.378l-.122-.126a1.267 1.267 0 0 1 .853-2.14h.122c.122 0 .122 0 .122-.126l.122-.126q-.178-.373-.361-.373z"
          data-name="Caminho 4" />
        <path d="m36.195 16.265h9.263l-11.7-12.086v9.568a2.486 2.486 0 0 0 2.437 2.518z" data-name="Caminho 5" />
        <path
          d="M36.2 18.783a4.972 4.972 0 0 1-4.875-5.036V3.424H3.656A3.729 3.729 0 0 0 0 7.201v55.393a3.652 3.652 0 0 0 3.656 3.777h38.877a3.652 3.652 0 0 0 3.656-3.777V18.783zm-25.715 3.4h25.101a1.26 1.26 0 0 1 0 2.518H10.481a1.171 1.171 0 0 1-1.219-1.259 1.241 1.241 0 0 1 1.219-1.26zm-3.047 5.413h31.2a1.26 1.26 0 0 1 0 2.518h-31.2a1.171 1.171 0 0 1-1.219-1.259 1.241 1.241 0 0 1 1.215-1.259zm0 5.288h31.2a1.26 1.26 0 0 1 0 2.518h-31.2a1.171 1.171 0 0 1-1.219-1.259 1.333 1.333 0 0 1 1.215-1.26zm0 5.413h31.2a1.26 1.26 0 0 1 0 2.518h-31.2a1.171 1.171 0 0 1-1.219-1.259 1.333 1.333 0 0 1 1.215-1.259zm-1.223 6.672a1.171 1.171 0 0 1 1.219-1.259h31.2a1.26 1.26 0 0 1 0 2.518h-31.2a1.241 1.241 0 0 1-1.219-1.259zm33.637 12.59c-.122.126-.244.252-.366.252a2.843 2.843 0 0 1-.731 2.392 2.64 2.64 0 0 1-2.316.755 2.437 2.437 0 0 1-2.194 1.133 2.931 2.931 0 0 1-2.194-1.133h-.487a2.933 2.933 0 0 1-1.95-.755 2.843 2.843 0 0 1-.731-2.392 2.569 2.569 0 0 1-1.1-2.266 3.1 3.1 0 0 1 1.1-2.266v-.5a2.607 2.607 0 0 1 .731-1.888 2.64 2.64 0 0 1 2.316-.755 2.646 2.646 0 0 1 4.022-.378c.122.126.244.252.244.378h.487a2.439 2.439 0 0 1 1.828.755 2.826 2.826 0 0 1 .731 1.888v.5a2.569 2.569 0 0 1 1.1 2.266 1.778 1.778 0 0 1-.49 2.014z"
          data-name="Caminho 6" />
      </g>
    </g>
    <path d="M26.404 47.081h16.065V63.29H26.404z" data-name="Retângulo 1319" />
  </g>
</svg>

<!-- emitir extrato -->
<svg class="emitirExtrato" viewBox="0 0 87 82" xmlns="http://www.w3.org/2000/svg" fill="#05008e" width="66" height="70"
  *ngIf="icon === 'emitirExtrato'">
  <defs>
    <style>
      .cls-1 {
        fill: #fff;
        stroke: #707070
      }

      .cls-2 {
        clip-path: url(#a)
      }

      .cls-3 {
        fill: #e4e4e4;
        font-size: 17px;
        font-family: HelveticaNeue-Bold, Helvetica Neue;
        font-weight: 700
      }
    </style>
    <clipPath id="a">
      <path class="cls-1" transform="translate(-12107 -13180)" d="M0 0h87v82H0z" data-name="Retângulo 1321" />
    </clipPath>
  </defs>
  <g class="cls-2" transform="translate(12107 13180)" data-name="Grupo de máscara 53">
    <g data-name="statement Icon">
      <path transform="translate(-12106 -13179)"
        d="M12.117 4A3.891 3.891 0 0 0 8 7.786v7.573h8.233V7.786A3.891 3.891 0 0 0 12.117 4z"
        data-name="Caminho 1970" />
      <path transform="translate(-12100 -13166)"
        d="M64.165 54H24.372v3.786A6.447 6.447 0 0 1 23 61.573h41.165a3.891 3.891 0 0 0 4.117-3.786V54z"
        data-name="Caminho 1971" />
      <path transform="translate(-12103 -13179)"
        d="M64.4 7.786A3.891 3.891 0 0 0 60.282 4H15a5.65 5.65 0 0 1 1.372 3.786v63.107a3.891 3.891 0 0 0 4.117 3.786 3.891 3.891 0 0 0 4.117-3.786v-6.311H64.4zM30.1 9.427l9.605-2.9 9.605 2.9v4.165a16.19 16.19 0 0 1-7.959 13.631l-1.651 1.01-1.647-1.01a16.19 16.19 0 0 1-7.959-13.631zm0 21.078h19.2v2.524H30.094zm-10.983 6.31h12.35v2.525h-12.35zm0 5.049h28.815v2.524H19.117zm0 5.049h12.35v2.524h-12.35zm0 5.049h5.489v2.524h-5.489zm21.955 7.573H19.117V57.01h21.954zm20.583 0H43.816V57.01h17.838zm0-5.049H27.35v-2.525h34.3zm0-5.049H34.21v-2.524h27.444zm0-5.049H50.676v-2.524h10.978zm0-5.049H34.21v-2.524h27.444z"
        data-name="Caminho 1972" />
      <path transform="translate(-12081 -13174)" d="M0 0h32.983v29.871H0z" data-name="Retângulo 1320" />
      <text class="cls-3" transform="translate(-12068 -13155)" data-name="$">
        <tspan x="0" y="0">$</tspan>
      </text>
    </g>
  </g>
</svg>

<!-- emitir título -->
<svg class="emitirTitulo" data-name="Title Icon" viewBox="0 0 65.468 75.195" xmlns="http://www.w3.org/2000/svg"
  width="62" height="72" fill="#05008e" *ngIf="icon === 'emitirTitulo'">
  <path
    d="M0 70.365V15.917a7.866 7.866 0 0 1 8.7-4.732c1.844.184 3.749 0 5.807 0a25.23 25.23 0 0 0 0-2.673A7.866 7.866 0 0 1 19.204 0h31.342c4.548 4.763 9.065 9.525 13.643 14.227a4.117 4.117 0 0 1 1.26 3.073v39.515a6.514 6.514 0 0 1-6.914 7.006h-7.62v4.824a6.514 6.514 0 0 1-6.637 6.545H6.514a6.145 6.145 0 0 1-5.838-3.564zm14.5-55.831H7.74c-3.257 0-4.333 1.106-4.333 4.363V67.6c0 3.257 1.045 4.271 4.363 4.271h36.2a3.257 3.257 0 0 0 3.718-3.564V63.7H45.23c-7.375 0-14.749-.215-22.124 0-6.514.277-8.757-3.687-8.7-8.573.215-12.782 0-25.565 0-38.378zm22.646 2.55c-.737.338-1.26.553-1.782.83a4.732 4.732 0 0 0 0 8.7 13.8 13.8 0 0 0 4.087 1.045c1.475.246 2.827 1.26 2.673 2.366a2.458 2.458 0 0 1-2.458 2.089c-1.874.246-2.919-.277-3.257-1.629s-1.475-2.489-2.827-1.936a1.967 1.967 0 0 0-.615 3.073 28.33 28.33 0 0 0 3.718 3.718l.369-.307c0 .461 0 1.075.215 1.291a3.073 3.073 0 0 0 1.874.983c.553 0 1.567-.553 1.6-.922 0-1.321.953-1.475 1.844-1.905a4.947 4.947 0 0 0 3.257-4.671 4.793 4.793 0 0 0-3.319-4.578c-1.106-.461-2.427-.4-3.564-.83a6.76 6.76 0 0 1-2.427-1.629c-.215-.184 0-1.291.522-1.629s1.967-1.567 3.073-.768a6.576 6.576 0 0 1 2 2.212 2.028 2.028 0 0 0 2.458 1.045 1.413 1.413 0 0 0 1.133-1.939 5.469 5.469 0 0 0-1.2-2.55 24.95 24.95 0 0 0-3.626-2.55 1.844 1.844 0 0 0-1.967-2.274c-1.624.092-1.778 1.381-1.778 2.765zm5.562 31.71H28.42c-1.26 0-2.243.246-2.366 1.69s.737 1.874 2.4 1.874h28.453a1.782 1.782 0 0 0 2-1.905c0-1.106-.86-1.659-2.028-1.629zm-8.419-3.073h9.4c1.168 0 2.089-.277 2.151-1.659s-.922-1.844-2.182-1.844H25.073c-1.26 0-2.3.43-2.3 1.813s1.045 1.751 2.335 1.721zM51.253 6.668v6.545a1.782 1.782 0 0 0 1.2 1.137h6.7l.184-.4z"
    data-name="Caminho 45" />
</svg>

<!-- trófeu com estrela -->
<svg class="trofeuEstrela" data-name="Award Icon" viewBox="0 0 63.569 67.976" xmlns="http://www.w3.org/2000/svg"
  fill="#fac300" width="22px" height="24px" *ngIf="icon === 'trofeuEstrela'">
  <path
    d="M46.563 59.812H17.006a.739.739 0 0 0-.739.739v6.685a.739.739 0 0 0 .739.739h29.558a.739.739 0 0 0 .739-.739v-6.685a.74.74 0 0 0-.74-.739z"
    data-name="Caminho 15" />
  <path
    d="M60.793 4.168c-2.1-1.588-5.047-1.909-8.787-.976 0-.931-.016-1.772-.037-2.475A.739.739 0 0 0 51.23 0H12.339a.739.739 0 0 0-.739.717c-.021.7-.035 1.544-.036 2.474-3.74-.933-6.688-.613-8.788.976C.583 5.822-.356 8.69.121 12.241c1.023 7.63 8.382 18.019 19.119 23.036a20.615 20.615 0 0 0 6.8 6.207v.468a2.961 2.961 0 0 0-1.748 2.69v.085a2.958 2.958 0 0 0 1.951 2.773v1.282a22.726 22.726 0 0 1-6.074 7.7.739.739 0 0 0 .449 1.326h22.334a.739.739 0 0 0 .448-1.326 22.744 22.744 0 0 1-6.073-7.709V47.5a2.958 2.958 0 0 0 1.956-2.773v-.085a2.962 2.962 0 0 0-1.747-2.69v-.469a20.612 20.612 0 0 0 6.8-6.208c10.733-5.018 18.089-15.405 19.112-23.034.476-3.551-.465-6.418-2.655-8.073zM4.662 11.633c-.143-1.068-.219-2.982.878-3.813 1.079-.816 3.293-.736 6.139.168a68.075 68.075 0 0 0 3.55 19.468C9.272 22.8 5.304 16.426 4.662 11.633zm36.321 3.456l-4.46 4.348 1.052 6.14a.189.189 0 0 1-.185.22.183.183 0 0 1-.087-.022l-5.516-2.9-5.514 2.9a.188.188 0 0 1-.273-.2l1.054-6.14-4.465-4.345a.188.188 0 0 1 .1-.32l6.165-.9 2.758-5.586a.2.2 0 0 1 .337 0l2.758 5.586 6.165.9a.189.189 0 0 1 .152.128.191.191 0 0 1-.041.191zm17.928-3.456c-.643 4.792-4.608 11.165-10.563 15.821a68.047 68.047 0 0 0 3.547-19.465c2.846-.9 5.059-.983 6.137-.167 1.095.83 1.019 2.744.876 3.811z"
    data-name="Caminho 16" />
</svg>

<!-- trófeu sem estrela -->
<svg class="trofeu" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#fac300" width="22px" height="24px"
  *ngIf="icon === 'trofeu'">
  <defs>
    <style>
      .cls-1 {
        fill: transparent;
      }

      .cls-2 {
        fill: #fac300;
      }
    </style>
  </defs>
  <g transform="translate(-575 -247)" data-name="Grupo 1521">
    <g transform="translate(36 -210)" data-name="Grupo 1520">
      <path class="cls-1" transform="translate(539 457)" d="M0 0h24v24H0z" data-name="Retângulo 1843" />
    </g>
    <path class="cls-2" transform="translate(576 247)"
      d="M14.941 13.17c4.144-.532 7.391-5.352 7.391-11.225h-3.655c.041-.638.069-1.284.069-1.945H3.682c0 .661.028 1.307.069 1.945H0c0 5.92 3.3 10.766 7.493 11.232a7.536 7.536 0 0 0 .863.853H8.2v1.517h1.507v3.792H8.2v1.517H6.695v3.034h9.038v-3.034h-1.506v-1.517H12.72v-3.792h1.507V14.03h-.155a7.465 7.465 0 0 0 .869-.86zm5.8-9.708c-.382 3.628-2.141 6.592-4.458 7.738a21.67 21.67 0 0 0 2.258-7.734h2.2zm-19.159 0h2.3a21.58 21.58 0 0 0 2.293 7.8C3.8 10.165 1.981 7.157 1.587 3.461z"
      data-name="Caminho 2813" />
  </g>
</svg>

<!-- prêmio recebido -->
<svg class="premioRecebido" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg" fill="#05008e" width="40px"
  height="40px" *ngIf="icon === 'premioRecebido'">
  <defs>
    <style>
      .cls-1 {
        fill: #fff
      }

      .cls-2 {
        stroke: #05008e;
        stroke-width: .5px
      }
    </style>
  </defs>
  <g transform="translate(-422 -311)" data-name="Grupo 1554">
    <path class="cls-1" transform="translate(422 311)" d="M0 0h40v40H0z" data-name="Retângulo 1940" />
    <g transform="translate(-10518 -14115)" data-name="Grupo 1553">
      <path class="cls-2" transform="translate(10944 14437)"
        d="M24.47 28.336h-.925l-.011-3.58 6.759-11.817a1.291 1.291 0 0 0 .167-.408V12.5c.032-.158.05-.216.05-.217l-.022-9.838v-.01a1.349 1.349 0 0 0-.366-.97 1.171 1.171 0 0 0-.858-.344h-.053a1.2 1.2 0 0 0-.984.394 1.418 1.418 0 0 0-.3.909v7.068h-.925V2.425a2.315 2.315 0 0 1 .527-1.507A2.184 2.184 0 0 1 29.212.2h.052a2.064 2.064 0 0 1 1.507.628 2.274 2.274 0 0 1 .649 1.626l.022 9.829a.987.987 0 0 1-.055.338l-.01.031a2 2 0 0 1-.282.744.3.3 0 0 1-.025.045v-.006L24.459 25l.011 3.332zm-5.821-.006h-.925l.011-5.03a6.737 6.737 0 0 1 .91-3.863l1.838-3.018.009-.012a6.582 6.582 0 0 1 1.1-1.128l.139-.122a5.8 5.8 0 0 0 1.057-1.113l1.22-2a2.631 2.631 0 0 1 1.568-1.154 2.677 2.677 0 0 1 .721-.106h.139a1.633 1.633 0 0 1 .764.237 1.94 1.94 0 0 1 .963 1.324 3 3 0 0 1-.578 1.953L25.143 18.3l-.789-.48 2.446-4.004a2.184 2.184 0 0 0 .453-1.342c-.037-.263-.188-.451-.538-.67a1.015 1.015 0 0 0-.464-.087 1.616 1.616 0 0 0-.426.056 1.709 1.709 0 0 0-1.021.746l-1.221 2a6.027 6.027 0 0 1-1.226 1.318l-.009.008a7.654 7.654 0 0 0-1.088 1.08l-1.82 2.986a5.582 5.582 0 0 0-.777 3.384l-.011 5.031zm-4.931-.2h-.925l-.011-5.03a5.589 5.589 0 0 0-.775-3.383l-1.822-2.989A7.578 7.578 0 0 0 9.1 15.653a6.084 6.084 0 0 1-1.235-1.328l-1.221-2a1.7 1.7 0 0 0-1.021-.744 1.631 1.631 0 0 0-.43-.057 1.008 1.008 0 0 0-.46.086c-.35.219-.5.407-.538.672a2.185 2.185 0 0 0 .453 1.34L7.09 17.63l-.789.482L3.854 14.1a3 3 0 0 1-.578-1.953 1.941 1.941 0 0 1 .963-1.326A1.637 1.637 0 0 1 5 10.586h.139a2.743 2.743 0 0 1 .721.1 2.636 2.636 0 0 1 1.566 1.156l1.221 2a5.824 5.824 0 0 0 1.063 1.117l.128.112a6.664 6.664 0 0 1 1.111 1.14l.009.011 1.838 3.02a6.737 6.737 0 0 1 .91 3.863l.011 5.03zm-5.821 0h-.925l.011-3.33L.372 13.245l-.02-.036a2 2 0 0 1-.283-.746c0-.01-.006-.021-.011-.034A1 1 0 0 1 0 12.084l.022-9.829A2.275 2.275 0 0 1 .67.627 2.062 2.062 0 0 1 2.175 0h.054A2.154 2.154 0 0 1 3.91.717a2.32 2.32 0 0 1 .524 1.508v7.066h-.925V2.226a1.417 1.417 0 0 0-.3-.908 1.193 1.193 0 0 0-.983-.4h-.054a1.172 1.172 0 0 0-.859.344 1.351 1.351 0 0 0-.366.971l-.022 9.846a2.055 2.055 0 0 1 .05.215v.032a1.259 1.259 0 0 0 .172.413v.007l6.762 11.809-.009 3.579z"
        data-name="Subtração 255" />
      <g transform="translate(10949 14427)" data-name="Award Icon">
        <path transform="translate(-24.151 -64.689)"
          d="M39.334 84.192H29.7a.241.241 0 0 0-.241.241v2.18a.241.241 0 0 0 .241.241h9.638a.241.241 0 0 0 .241-.241v-2.18a.241.241 0 0 0-.245-.241z"
          data-name="Caminho 15" />
        <path transform="translate(-7.917 -5)"
          d="M27.74 6.359a3.288 3.288 0 0 0-2.865-.318c0-.3-.005-.578-.012-.807A.241.241 0 0 0 24.622 5H11.941a.241.241 0 0 0-.241.234c-.007.229-.011.5-.012.807a3.29 3.29 0 0 0-2.866.318 2.689 2.689 0 0 0-.866 2.633c.334 2.488 2.733 5.876 6.234 7.512a6.722 6.722 0 0 0 2.217 2.024v.153a.965.965 0 0 0-.57.877v.028a.964.964 0 0 0 .637.9v.418a7.411 7.411 0 0 1-1.981 2.512.241.241 0 0 0 .146.432h7.283a.241.241 0 0 0 .146-.432 7.416 7.416 0 0 1-1.98-2.514v-.417a.964.964 0 0 0 .637-.9v-.028a.966.966 0 0 0-.57-.877v-.153a6.721 6.721 0 0 0 2.218-2.027c3.5-1.637 5.9-5.024 6.233-7.511a2.689 2.689 0 0 0-.866-2.63zM9.437 8.793c-.047-.348-.071-.972.286-1.243a2.446 2.446 0 0 1 2 .055 22.2 22.2 0 0 0 1.158 6.348 8.926 8.926 0 0 1-3.444-5.16zM21.28 9.92l-1.454 1.418.343 2a.061.061 0 0 1-.06.072.06.06 0 0 1-.028-.007l-1.8-.945-1.8.945a.061.061 0 0 1-.089-.065l.344-2-1.453-1.418a.061.061 0 0 1 .034-.1l2.01-.292.9-1.821a.064.064 0 0 1 .11 0l.9 1.821 2.01.292a.062.062 0 0 1 .05.042.062.062 0 0 1-.017.058zm5.846-1.127a8.925 8.925 0 0 1-3.444 5.159A22.189 22.189 0 0 0 24.838 7.6a2.444 2.444 0 0 1 2-.054c.362.275.334.899.288 1.247z"
          data-name="Caminho 16" />
      </g>
    </g>
  </g>
</svg>

<!-- formulário -->
<svg class="formulario" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg" fill="#05008e" width="40px" height="40px"
  *ngIf="icon === 'formulario'">
  <defs>
    <style>
      .cls-1 {
        fill: #fff
      }
    </style>
  </defs>
  <g transform="translate(-358 -311)" data-name="Grupo 1552">
    <path class="cls-1" transform="translate(358 311)" d="M0 0h40v40H0z" data-name="Retângulo 1929" />
    <g transform="translate(352.17 307.07)">
      <path
        d="M34.831 40.126H10.5V7.685h24.331v14.852l2.7-4.844V7.746a2.624 2.624 0 0 0-2.6-2.765H10.388A2.617 2.617 0 0 0 7.8 7.746v32.487a2.477 2.477 0 0 0 2.591 2.6h24.544a2.484 2.484 0 0 0 2.6-2.6v-8.9l-2.7 4.844z"
        data-name="Caminho 2775" />
      <path transform="translate(12.818 11.933)" d="M0 0h15.062v1.931H0z" data-name="Retângulo 1933" />
      <path transform="translate(12.818 20.816)" d="M0 0h15.062v1.931H0z" data-name="Retângulo 1934" />
      <path transform="translate(12.818 16.567)" d="M0 0h19.696v1.931H0z" data-name="Retângulo 1935" />
      <path transform="translate(12.818 25.45)" d="M0 0h19.696v1.931H0z" data-name="Retângulo 1936" />
      <path transform="translate(12.818 29.698)" d="M0 0h15.062v1.932H0z" data-name="Retângulo 1937" />
      <path transform="translate(-45.38 -13.457)" d="M87.046 28.171l-.732 1.275L86 30l2.715 1.558.315-.55.732-1.275z"
        data-name="Caminho 2776" />
      <path transform="translate(-30.972 -17.376)" d="M61.169 51.551V54.8l2.79-1.688 9.609-16.627-2.715-1.559z"
        data-name="Caminho 2777" />
      <path transform="translate(-6.941 -40.047)"
        d="M23.46 74.842l-.852-.852-1 1-1-1-.852.852 1 1-1 1 .852.853 1-1 1 1 .852-.853-1-1z"
        data-name="Caminho 2778" />
      <g transform="translate(17.396 36.64)" data-name="Grupo 1551">
        <path d="M0 0h10.496v.781H0z" data-name="Retângulo 1938" />
      </g>
    </g>
  </g>
</svg>

<!-- construcao -->
<svg class="construcao" width="426.12" height="281.14" viewBox="0 0 426.123 281.138" xmlns="http://www.w3.org/2000/svg"
  *ngIf="icon === 'construcao'">
  <g transform="translate(-239.54 -174)" data-name="Grupo 1149">
    <g transform="translate(239.54 247.55)" data-name="noun_Plumbing Work_1173135">
      <g transform="translate(0)" fill="#fed100" data-name="Grupo 1148">
        <circle transform="translate(97.894)" cx="20.617" cy="20.617" r="20.617" data-name="Elipse 48" />
        <path transform="translate(-9.196 1.604)"
          d="M173.651,39.043c-2.479-.525-4.52-4.879-1.025-6.98a39.858,39.858,0,0,1,6.311-3.114,10.619,10.619,0,0,0-10.531-1.425c-6.122,2.417-1.6,10.947-11.83,21.726-1.813,1.912-4.127,4.3-6.68,6.916-4.118-1.435-7.885.088-11.3,3.258l-19.1,16.026L113.7,63.582A19.1,19.1,0,0,0,86.2,37.565C84.639,38.82,47.58,68.744,27.5,108.912a19.155,19.155,0,0,0-1.875,6.321c-.025.152-.025.307-.053.455-.025.282-.053.564-.068.846a12.39,12.39,0,0,0,.025,2.088,19.146,19.146,0,0,0,.96,4.982l11.1,49.428-21.249,9.673a12.187,12.187,0,1,0,10.1,22.184l30.259-13.778a12.186,12.186,0,0,0,6.844-13.757l-9.686-43.132a19.055,19.055,0,0,0,5.165-4.149l17.661,9.586-9.509,32.319a12.186,12.186,0,1,0,23.38,6.878l12.291-41.772a12.2,12.2,0,0,0-5.878-14.15L71.775,109.271A211.847,211.847,0,0,1,95.22,81.277l9.555,19.6a12.185,12.185,0,0,0,10.959,6.844c3.039,0,5.6-1.673,7.879-3.777l27.811-28.492c4.477-4.146,7.851-9.744,4.523-14.643a72.687,72.687,0,0,1,12.459-10.949,16.2,16.2,0,0,1,4.22-1.558s1.721-.438,2.5-.626a7.746,7.746,0,0,0,2.118-.873,6.423,6.423,0,0,0,2.493-1.992c.863-1.221,2.175-3.321,2.24-8.421C181.974,36.388,176.131,39.568,173.651,39.043Z"
          data-name="Caminho 2035" />
      </g>
    </g>
    <g transform="translate(422 174)" fill="none" data-name="Subtração 15">
      <path
        d="M229.962,202.551H13.706A13.722,13.722,0,0,1,0,188.844v-51.78H15.229v50.257H228.441V15.229H15.229V38.074H0V13.421A13.727,13.727,0,0,1,13.706,0H229.962a13.722,13.722,0,0,1,13.706,13.706V188.844A13.722,13.722,0,0,1,229.962,202.551Z" />
      <path
        d="m229.96 202.55h-216.26c-7.5578 0-13.706-6.1487-13.706-13.706v-51.78h15.229v50.257h213.21l4.5776e-5 -172.09h-213.21v22.844h-15.229v-24.367-0.28508c0.075375-3.5957 1.5362-6.968 4.1133-9.4958 2.5807-2.5314 5.9877-3.9255 9.5931-3.9255h216.26c7.5577 0 13.706 6.1487 13.706 13.706v175.14c0 7.5578-6.1487 13.706-13.706 13.706z"
        fill="#fed100" />
    </g>
    <g transform="translate(521.02 207.82)">
      <g transform="translate(0)" data-name="Grupo 1075">
        <g data-name="Grupo 1074">
          <g fill="#fed100" data-name="Grupo 1073">
            <path transform="translate(-11.92 -11.92)"
              d="M66.873,35.459v7.874H60.685a21.457,21.457,0,0,1-3.447,8.331l4.369,4.377-5.565,5.565-4.377-4.369a21.457,21.457,0,0,1-8.331,3.447v6.188H35.459V60.685a21.457,21.457,0,0,1-8.331-3.447l-4.377,4.369-5.565-5.565,4.369-4.377a21.457,21.457,0,0,1-3.447-8.331H11.92V35.459h6.188a21.457,21.457,0,0,1,3.447-8.331l-4.369-4.377,5.565-5.565,4.377,4.369a21.457,21.457,0,0,1,8.331-3.447V11.92h7.874v6.188a21.457,21.457,0,0,1,8.331,3.447l4.377-4.369,5.565,5.565-4.369,4.377a21.457,21.457,0,0,1,3.447,8.331ZM49.58,39.4A10.183,10.183,0,1,0,39.4,49.58,10.184,10.184,0,0,0,49.58,39.4Z"
              data-name="Caminho 1960" />
            <path transform="translate(-16.328 -16.328)"
              d="M49.12,43.264a.54.54,0,1,1,0,1.08H48.7a4.877,4.877,0,0,1-1.055,2.533l.307.307a.54.54,0,0,1-.764.764l-.307-.307A4.877,4.877,0,0,1,44.344,48.7v.424a.54.54,0,1,1-1.08,0V48.7a4.877,4.877,0,0,1-2.533-1.055l-.307.307a.54.54,0,0,1-.764-.764l.307-.307a4.877,4.877,0,0,1-1.055-2.533h-.424a.54.54,0,1,1,0-1.08h.432a4.828,4.828,0,0,1,1.047-2.533l-.307-.307a.54.54,0,0,1,.764-.764l.307.307a4.8,4.8,0,0,1,2.533-1.047v-.432a.54.54,0,1,1,1.08,0v.432a4.8,4.8,0,0,1,2.533,1.047l.307-.307a.54.54,0,0,1,.764.764l-.307.307A4.906,4.906,0,0,1,48.7,43.264h.424Zm-3.464.54A1.852,1.852,0,1,0,43.8,45.656,1.854,1.854,0,0,0,45.656,43.8Z"
              data-name="Caminho 1961" />
          </g>
        </g>
      </g>
    </g>
    <g transform="translate(565.32 239.42)" data-name="noun_Gear_2017833">
      <g transform="translate(0)" data-name="Grupo 1075">
        <g transform="translate(0)" data-name="Grupo 1074">
          <g fill="#fed100" data-name="Grupo 1073">
            <path transform="translate(-11.92 -11.92)"
              d="M59.13,32.143v6.765H53.814a18.434,18.434,0,0,1-2.961,7.157l3.753,3.761-4.781,4.781-3.761-3.753a18.433,18.433,0,0,1-7.157,2.961V59.13H32.143V53.814a18.433,18.433,0,0,1-7.157-2.961l-3.761,3.753-4.781-4.781L20.2,46.065a18.434,18.434,0,0,1-2.961-7.157H11.92V32.143h5.316A18.434,18.434,0,0,1,20.2,24.986l-3.753-3.761,4.781-4.781L24.986,20.2a18.434,18.434,0,0,1,7.157-2.961V11.92h6.765v5.316A18.434,18.434,0,0,1,46.065,20.2l3.761-3.753,4.781,4.781-3.753,3.761a18.434,18.434,0,0,1,2.961,7.157ZM44.274,35.525a8.748,8.748,0,1,0-8.748,8.748A8.749,8.749,0,0,0,44.274,35.525Z"
              data-name="Caminho 1960" />
            <path transform="translate(-19.373 -19.373)"
              d="M47.545,42.514a.464.464,0,1,1,0,.928h-.364a4.19,4.19,0,0,1-.906,2.176l.264.264a.464.464,0,1,1-.656.656l-.264-.264a4.19,4.19,0,0,1-2.176.906v.364a.464.464,0,1,1-.928,0v-.364a4.19,4.19,0,0,1-2.176-.906l-.264.264a.464.464,0,0,1-.657-.656l.264-.264a4.19,4.19,0,0,1-.906-2.176h-.364a.464.464,0,1,1,0-.928h.371a4.148,4.148,0,0,1,.9-2.176l-.264-.264a.464.464,0,0,1,.657-.657l.264.264a4.124,4.124,0,0,1,2.176-.9v-.371a.464.464,0,1,1,.928,0v.371a4.124,4.124,0,0,1,2.176.9l.264-.264a.464.464,0,1,1,.656.657l-.264.264a4.215,4.215,0,0,1,.906,2.176h.364Zm-2.976.464a1.591,1.591,0,1,0-1.591,1.591A1.593,1.593,0,0,0,44.569,42.978Z"
              data-name="Caminho 1961" />
          </g>
        </g>
      </g>
    </g>
    <g transform="translate(484.6 239.42)" data-name="noun_Gear_2017833">
      <g transform="translate(0)" data-name="Grupo 1075">
        <g data-name="Grupo 1074">
          <g fill="#fed100" data-name="Grupo 1073">
            <path transform="translate(-11.92 -11.92)"
              d="M59.13,32.143v6.765H53.814a18.434,18.434,0,0,1-2.961,7.157l3.753,3.761-4.781,4.781-3.761-3.753a18.433,18.433,0,0,1-7.157,2.961V59.13H32.143V53.814a18.433,18.433,0,0,1-7.157-2.961l-3.761,3.753-4.781-4.781L20.2,46.065a18.434,18.434,0,0,1-2.961-7.157H11.92V32.143h5.316A18.434,18.434,0,0,1,20.2,24.986l-3.753-3.761,4.781-4.781L24.986,20.2a18.434,18.434,0,0,1,7.157-2.961V11.92h6.765v5.316A18.434,18.434,0,0,1,46.065,20.2l3.761-3.753,4.781,4.781-3.753,3.761a18.434,18.434,0,0,1,2.961,7.157ZM44.274,35.525a8.748,8.748,0,1,0-8.748,8.748A8.749,8.749,0,0,0,44.274,35.525Z"
              data-name="Caminho 1960" />
            <path transform="translate(-19.373 -19.373)"
              d="M47.545,42.514a.464.464,0,1,1,0,.928h-.364a4.19,4.19,0,0,1-.906,2.176l.264.264a.464.464,0,1,1-.656.656l-.264-.264a4.19,4.19,0,0,1-2.176.906v.364a.464.464,0,1,1-.928,0v-.364a4.19,4.19,0,0,1-2.176-.906l-.264.264a.464.464,0,0,1-.657-.656l.264-.264a4.19,4.19,0,0,1-.906-2.176h-.364a.464.464,0,1,1,0-.928h.371a4.148,4.148,0,0,1,.9-2.176l-.264-.264a.464.464,0,0,1,.657-.657l.264.264a4.124,4.124,0,0,1,2.176-.9v-.371a.464.464,0,1,1,.928,0v.371a4.124,4.124,0,0,1,2.176.9l.264-.264a.464.464,0,1,1,.656.657l-.264.264a4.215,4.215,0,0,1,.906,2.176h.364Zm-2.976.464a1.591,1.591,0,1,0-1.591,1.591A1.593,1.593,0,0,0,44.569,42.978Z"
              data-name="Caminho 1961" />
          </g>
        </g>
      </g>
    </g>
    <path transform="translate(-9984 1062)"
      d="m10485-751.12h5.684v10.179h10.011v-10.179h5.592v26.251h-5.592v-11.528h-10.011v11.532h-5.684z" fill="#fed100"
      data-name="Caminho 2037" />
    <path transform="translate(-9984 1062)" d="m10511-746.24v-5.079h19.464v5.079h-7.022v20.92h-5.445v-20.92z"
      fill="#fed100" data-name="Caminho 2038" />
    <path transform="translate(-9984 1062)"
      d="m10535-725.32v-25.717h7.429l6.454 19.563 6.3-19.563h7.366v25.717h-5.009v-20.124l-6.479 20.124h-5.03l-6.179-20.124v20.124z"
      fill="#fed100" data-name="Caminho 2039" />
    <path transform="translate(-9984 1062)" d="m10569-751.04v26.2h16.29v-4.71h-10.268v-21.5z" fill="#fed100"
      data-name="Caminho 2040" />
    <path transform="translate(-9984 1062)" d="m10589-743.19v-4.544l17.479 8.7v2.816l-17.479 7.284v-4.091l11.754-4.755z"
      fill="#fed100" data-name="Caminho 2041" />
    <path transform="translate(-9984 1062)" d="m10466-725.32l10.09-25.425h4.824l-9.83 25.425z" fill="#fed100"
      data-name="Caminho 2042" />
    <path transform="translate(-9984 1062)"
      d="m10464-747.73l-17.356 8.682v2.875l17.356 7.4v-4.332l-12.092-4.651 12.092-5.524z" fill="#fed100"
      data-name="Caminho 2043" />
  </g>
</svg>

<!-- tela de erro -->
<svg class="telaErro" width="203.56" height="416.57" viewBox="0 0 203.557 416.573" xmlns="http://www.w3.org/2000/svg"
  *ngIf="icon === 'telaErro'">
  <defs>
    <style>
      .cls-1 {
        fill: #fed100
      }
    </style>
  </defs>
  <g transform="translate(-163.43 -2.5)">
    <g transform="translate(163.43 2.5)" data-name="Grupo 1062">
      <path class="cls-1" transform="translate(-23.654 78.019)"
        d="M215.222 80.94l-6.946-2.15V56.426c0-3.871-3.087-7.311-6.56-7.311h-27.01C166.6 34.492 160.815 24.6 149.625 24.6h-48.619c-11.19 0-16.978 9.462-25.081 24.514H49.3c-3.859 0-6.56 3.441-6.56 7.311v22.364l-7.331 2.15c-8.489 2.58-13.505 12.042-11.19 21.5 1.929 9.032 10.418 14.623 18.522 12.9v80.431c0 3.871 3.087 7.311 6.56 7.311h36.27l-12.734 112.68c-1.158 11.182 5.788 21.074 15.821 22.794h2.315c9.261 0 16.978-7.311 18.136-17.633l13.119-118.271h6.56l13.119 117.84c1.158 10.322 8.875 17.633 18.136 17.633h2.315c10.033-1.29 16.978-11.612 15.821-22.794l-12.734-112.68h36.271c3.859 0 6.56-3.441 6.56-7.311v-80.423a7.68 7.68 0 0 0 3.087.43c6.946 0 13.505-5.161 15.435-13.332 1.93-9.032-3.087-18.924-11.576-21.074zm-20.451 107.088H55.859V63.737h138.912z"
        data-name="Caminho 1928" />
      <circle class="cls-1" transform="translate(56.17)" cx="45.505" cy="45.505" r="45.505" data-name="Elipse 3" />
      <path class="cls-1" transform="translate(19.612 119.7)"
        d="M82.062 121.024A40.862 40.862 0 1 0 41.2 80.162a40.627 40.627 0 0 0 40.862 40.862zM65.346 70.875c-1.857-1.857-1.857-5.108 0-7.429 1.857-1.857 5.108-1.857 7.429 0l9.287 9.287 9.287-9.287c1.857-1.857 5.108-1.857 7.429 0 1.857 1.857 1.857 5.108 0 7.429l-9.287 9.287 9.287 9.287c1.857 1.857 1.857 5.108 0 7.429a5.649 5.649 0 0 1-7.429 0l-9.287-9.287-9.287 9.287a5.649 5.649 0 0 1-7.429 0c-1.857-1.857-1.857-5.108 0-7.429l9.287-9.287z"
        data-name="Caminho 1929" />
    </g>
  </g>
</svg>

<!-- titulos menu -->
<svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" width="50px" fill="#fff" *ngIf="icon === 'titulosMenu'">
  <defs>
    <style>
      .cls-1 {
        fill: #fff;
        stroke: #707070
      }

      .cls-2 {
        clip-path: url(#a)
      }
    </style>
    <clipPath id="a">
      <path class="cls-1" transform="translate(240 530)" d="M0 0h50v50H0z" data-name="Retângulo 1826" />
    </clipPath>
  </defs>
  <g class="cls-2" transform="translate(-240 -530)" data-name="Grupo de máscara 861">
    <g transform="translate(244.86 531.23)" data-name="Title Icon">
      <path transform="translate(-9.48 -10)"
        d="M9.48 52.153V19.535a4.712 4.712 0 0 1 5.209-2.835c1.1.11 2.246 0 3.479 0a15.114 15.114 0 0 0 0-1.6 4.712 4.712 0 0 1 2.817-5.1h18.776c2.724 2.853 5.43 5.706 8.173 8.523a2.467 2.467 0 0 1 .755 1.841v23.672a3.9 3.9 0 0 1-4.142 4.2h-4.566v2.89a3.9 3.9 0 0 1-3.976 3.921H13.382a3.681 3.681 0 0 1-3.5-2.135zm8.688-33.447h-4.05c-1.951 0-2.6.663-2.6 2.614V50.5c0 1.951.626 2.559 2.614 2.559h21.689a1.951 1.951 0 0 0 2.227-2.135v-2.765h-1.472c-4.418 0-8.836-.129-13.253 0-3.9.166-5.246-2.209-5.209-5.136.129-7.658 0-15.315 0-22.991zm13.566 1.528c-.442.2-.755.331-1.068.5a2.835 2.835 0 0 0 0 5.209 8.265 8.265 0 0 0 2.448.626c.884.147 1.693.755 1.6 1.417a1.473 1.473 0 0 1-1.473 1.252c-1.123.147-1.749-.166-1.951-.976s-.884-1.491-1.693-1.16a1.178 1.178 0 0 0-.368 1.841 16.972 16.972 0 0 0 2.227 2.227l.221-.184c0 .276 0 .644.129.773a1.841 1.841 0 0 0 1.123.589c.331 0 .939-.331.957-.552 0-.792.571-.884 1.1-1.141a2.964 2.964 0 0 0 1.951-2.8 2.872 2.872 0 0 0-1.988-2.743c-.663-.276-1.454-.239-2.135-.5a4.05 4.05 0 0 1-1.454-.976c-.129-.11 0-.773.313-.976s1.178-.939 1.841-.46a3.939 3.939 0 0 1 1.2 1.325 1.215 1.215 0 0 0 1.473.626.847.847 0 0 0 .684-1.151 3.277 3.277 0 0 0-.718-1.528 14.946 14.946 0 0 0-2.172-1.528 1.1 1.1 0 0 0-1.181-1.366c-.973.055-1.065.828-1.065 1.657zm3.332 19h-8.56c-.755 0-1.344.147-1.417 1.012s.442 1.123 1.436 1.123h17.046a1.068 1.068 0 0 0 1.2-1.141c0-.663-.515-.994-1.215-.976zm-5.044-1.841h5.633c.7 0 1.252-.166 1.289-.994s-.552-1.1-1.307-1.1H24.5c-.755 0-1.381.258-1.381 1.086s.626 1.049 1.4 1.031zm10.161-23.4v3.921a1.068 1.068 0 0 0 .718.681h4.013l.11-.239z"
        data-name="Caminho 45" />
    </g>
  </g>
</svg>

<!-- calendario menu -->
<svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" width="50px" fill="#fff" *ngIf="icon === 'calendarioMenu'">
  <defs>
    <style>
      .cls-1 {
        fill: #fff;
        stroke: #707070
      }

      .cls-2 {
        clip-path: url(#a)
      }
    </style>
    <clipPath id="a">
      <path class="cls-1" transform="translate(239 608)" d="M0 0h50v50H0z" data-name="Retângulo 1825" />
    </clipPath>
  </defs>
  <g class="cls-2" transform="translate(-239 -608)" data-name="Grupo de máscara 862">
    <g transform="translate(12472 14188)" data-name="Calendar Icon">
      <path transform="translate(-12232 -13585)"
        d="M40.466 14.916h-1.828v2.193a3.29 3.29 0 1 1-6.58 0v-2.193H28.4v2.193a3.29 3.29 0 1 1-6.58 0v-2.193h-3.651v2.193a3.29 3.29 0 1 1-6.579 0v-2.193H9.762A4.391 4.391 0 0 0 5.375 19.3v26.656a4.391 4.391 0 0 0 4.387 4.386h30.7a4.392 4.392 0 0 0 4.387-4.386V19.3a4.392 4.392 0 0 0-4.383-4.384zm1.462 31.04a1.464 1.464 0 0 1-1.462 1.462H9.762A1.464 1.464 0 0 1 8.3 45.956V25.15a1.462 1.462 0 0 1 1.462-1.462h30.7a1.462 1.462 0 0 1 1.462 1.462v20.806z"
        data-name="Caminho 1946" />
      <path transform="translate(-12242 -13580)"
        d="M24.1 13.773a2.193 2.193 0 0 0 2.193-2.193V7.193a2.193 2.193 0 0 0-4.386 0v4.387a2.193 2.193 0 0 0 2.193 2.193z"
        data-name="Caminho 1947" />
      <path transform="translate(-12255 -13580)"
        d="M47.233 13.773a2.193 2.193 0 0 0 2.192-2.193V7.193a2.193 2.193 0 1 0-4.385 0v4.387a2.193 2.193 0 0 0 2.193 2.193z"
        data-name="Caminho 1948" />
      <path transform="translate(-12267 -13580)"
        d="M70.37 13.773a2.194 2.194 0 0 0 2.194-2.193V7.193a2.193 2.193 0 0 0-4.386 0v4.387a2.193 2.193 0 0 0 2.192 2.193z"
        data-name="Caminho 1949" />
      <path transform="translate(-12241 -13600)"
        d="M23.5 41.708h-2.443a1.224 1.224 0 0 0-1.224 1.224v2.448a1.224 1.224 0 0 0 1.224 1.22H23.5a1.224 1.224 0 0 0 1.224-1.224v-2.444a1.224 1.224 0 0 0-1.224-1.224z"
        data-name="Caminho 1950" />
      <path transform="translate(-12250 -13600)"
        d="M39.926 41.708h-2.448a1.224 1.224 0 0 0-1.224 1.224v2.448a1.224 1.224 0 0 0 1.224 1.22h2.448a1.224 1.224 0 0 0 1.224-1.22v-2.448a1.224 1.224 0 0 0-1.224-1.224z"
        data-name="Caminho 1951" />
      <path transform="translate(-12259 -13600)"
        d="M56.347 41.708H53.9a1.224 1.224 0 0 0-1.224 1.224v2.448A1.224 1.224 0 0 0 53.9 46.6h2.447a1.224 1.224 0 0 0 1.224-1.224v-2.444a1.224 1.224 0 0 0-1.224-1.224z"
        data-name="Caminho 1952" />
      <path transform="translate(-12268 -13600)"
        d="M72.768 41.708H70.32a1.224 1.224 0 0 0-1.22 1.224v2.448a1.224 1.224 0 0 0 1.22 1.22h2.448a1.224 1.224 0 0 0 1.224-1.224v-2.444a1.225 1.225 0 0 0-1.224-1.224z"
        data-name="Caminho 1953" />
      <path transform="translate(-12241 -13608)"
        d="M23.5 56.036h-2.443a1.224 1.224 0 0 0-1.224 1.224v2.447a1.224 1.224 0 0 0 1.224 1.224H23.5a1.224 1.224 0 0 0 1.224-1.224V57.26a1.224 1.224 0 0 0-1.224-1.224z"
        data-name="Caminho 1954" />
      <path transform="translate(-12250 -13608)"
        d="M39.926 56.036h-2.448a1.224 1.224 0 0 0-1.224 1.224v2.447a1.224 1.224 0 0 0 1.224 1.224h2.448a1.224 1.224 0 0 0 1.224-1.224V57.26a1.224 1.224 0 0 0-1.224-1.224z"
        data-name="Caminho 1955" />
      <path transform="translate(-12259 -13608)"
        d="M56.347 56.036H53.9a1.224 1.224 0 0 0-1.224 1.224v2.447a1.224 1.224 0 0 0 1.224 1.225h2.447a1.224 1.224 0 0 0 1.224-1.224V57.26a1.224 1.224 0 0 0-1.224-1.224z"
        data-name="Caminho 1956" />
      <path transform="translate(-12268 -13608)"
        d="M72.768 56.036H70.32a1.224 1.224 0 0 0-1.22 1.224v2.447a1.224 1.224 0 0 0 1.224 1.224h2.448a1.224 1.224 0 0 0 1.224-1.224V57.26a1.225 1.225 0 0 0-1.228-1.224z"
        data-name="Caminho 1957" />
      <path transform="translate(-12241 -13616)"
        d="M23.5 70.363h-2.443a1.224 1.224 0 0 0-1.224 1.224v2.447a1.224 1.224 0 0 0 1.224 1.224H23.5a1.224 1.224 0 0 0 1.224-1.224v-2.447a1.224 1.224 0 0 0-1.224-1.224z"
        data-name="Caminho 1958" />
      <path transform="translate(-12250 -13616)"
        d="M39.926 70.363h-2.448a1.224 1.224 0 0 0-1.224 1.224v2.447a1.224 1.224 0 0 0 1.224 1.224h2.448a1.224 1.224 0 0 0 1.224-1.224v-2.447a1.225 1.225 0 0 0-1.224-1.224z"
        data-name="Caminho 1959" />
      <path transform="translate(-12259 -13616)"
        d="M56.347 70.363H53.9a1.224 1.224 0 0 0-1.224 1.224v2.447a1.224 1.224 0 0 0 1.224 1.225h2.447a1.224 1.224 0 0 0 1.224-1.224v-2.448a1.225 1.225 0 0 0-1.224-1.224z"
        data-name="Caminho 1960" />
    </g>
  </g>
</svg>

<!-- prêmios menu -->
<svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" width="50px" fill="#fff" *ngIf="icon === 'premioMenu'">
  <defs>
    <style>
      .cls-1 {
        fill: #fff
      }

      .cls-2 {
        clip-path: url(#a)
      }
    </style>
    <clipPath id="a">
      <path class="cls-1" transform="translate(143 606)" d="M0 0h50v50H0z" data-name="Retângulo 1824" />
    </clipPath>
  </defs>
  <g class="cls-2" transform="translate(-143 -606)" data-name="Grupo de máscara 859">
    <g transform="translate(146.72 607.66)" data-name="Award Icon">
      <path transform="translate(-18.403 -43.557)"
        d="M50.038 84.192H29.957a.5.5 0 0 0-.5.5v4.542a.5.5 0 0 0 .5.5h20.081a.5.5 0 0 0 .5-.5v-4.54a.5.5 0 0 0-.5-.502z"
        data-name="Caminho 15" />
      <path transform="translate(-7.917 -5)"
        d="M49.219 7.832c-1.426-1.079-3.429-1.3-5.97-.663 0-.633-.011-1.2-.025-1.682a.5.5 0 0 0-.5-.487H16.3a.5.5 0 0 0-.5.487 61.336 61.336 0 0 0-.025 1.681c-2.541-.634-4.544-.416-5.971.663C8.316 8.956 7.675 10.9 8 13.317c.7 5.184 5.695 12.242 12.989 15.65a14.006 14.006 0 0 0 4.618 4.217v.316a2.011 2.011 0 0 0-1.187 1.828v.057a2.009 2.009 0 0 0 1.327 1.881v.871a15.44 15.44 0 0 1-4.127 5.234.5.5 0 0 0 .3.9H37.1a.5.5 0 0 0 .3-.9 15.452 15.452 0 0 1-4.126-5.237v-.869a2.009 2.009 0 0 0 1.326-1.878v-.057a2.012 2.012 0 0 0-1.183-1.83v-.319a14 14 0 0 0 4.62-4.218C45.33 25.556 50.328 18.5 51.023 13.317c.323-2.417-.318-4.361-1.804-5.485zM11.084 12.9c-.1-.726-.149-2.026.6-2.59s2.237-.5 4.171.114a46.25 46.25 0 0 0 2.412 13.226c-4.051-3.159-6.746-7.49-7.183-10.75zm24.674 2.348l-3.03 2.954.715 4.172a.128.128 0 0 1-.126.149.124.124 0 0 1-.059-.015l-3.747-1.969-3.746 1.969a.128.128 0 0 1-.186-.134l.716-4.172-3.031-2.954a.127.127 0 0 1 .071-.218l4.189-.609 1.873-3.8a.133.133 0 0 1 .229 0l1.873 3.8 4.189.609a.128.128 0 0 1 .1.087.129.129 0 0 1-.03.134zm12.18-2.348c-.437 3.256-3.131 7.586-7.177 10.748a46.23 46.23 0 0 0 2.41-13.224c1.933-.614 3.437-.668 4.17-.113s.695 1.867.597 2.589z"
        data-name="Caminho 16" />
    </g>
  </g>
</svg>

<!-- registro de atividades menu -->
<svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" width="50px" fill="#fff"
  *ngIf="icon === 'registroAtividadesMenu'">
  <defs>
    <style>
      .cls-1 {
        fill: #fff;
        stroke: #707070
      }

      .cls-2 {
        clip-path: url(#a)
      }
    </style>
    <clipPath id="a">
      <path class="cls-1" transform="translate(240 686)" d="M0 0h50v50H0z" data-name="Retângulo 1827" />
    </clipPath>
  </defs>
  <g class="cls-2" transform="translate(-240 -686)" data-name="Grupo de máscara 863">
    <g transform="translate(12731 14188)" data-name="Activities Icon">
      <circle transform="translate(-12481 -13500)" cx="4.092" cy="4.092" r="4.092" data-name="Elipse 529" />
      <path transform="translate(-12493 -13506)"
        d="M22.673 16.371a8.978 8.978 0 0 1-13.339 0A5.741 5.741 0 0 0 7 20.978v4.91a.818.818 0 0 0 .818.818h16.368a.818.818 0 0 0 .814-.818v-4.91a5.741 5.741 0 0 0-2.327-4.607z"
        data-name="Caminho 1961" />
      <path transform="translate(-12496 -13510)"
        d="M32 52.82a4.1 4.1 0 0 0 4.092 4.092h12.275a4.1 4.1 0 0 0 4.092-4.092V43H32z" data-name="Caminho 1962" />
      <path transform="translate(-12496 -13509)"
        d="M48.367 35H36.092A4.1 4.1 0 0 0 32 39.092v.818h20.459v-.818A4.1 4.1 0 0 0 48.367 35zm-12.341 2.766a.845.845 0 0 1-.172.27.818.818 0 1 1 0-1.162.846.846 0 0 1 .172.892zm3.1.27a.861.861 0 0 1-.581.237 1.217 1.217 0 0 1-.164-.016.521.521 0 0 1-.147-.049.64.64 0 0 1-.148-.074l-.122-.1a.83.83 0 0 1 0-1.162 1.391 1.391 0 0 1 .122-.1.64.64 0 0 1 .148-.074.521.521 0 0 1 .147-.049.85.85 0 0 1 .745.221.83.83 0 0 1 .002 1.166zm3.273 0a.861.861 0 0 1-.581.237.818.818 0 0 1-.311-.065.845.845 0 0 1-.27-.172.83.83 0 0 1 0-1.162.845.845 0 0 1 .27-.172.818.818 0 0 1 .892.172.83.83 0 0 1 0 1.162z"
        data-name="Caminho 1963" />
      <path transform="translate(-12496 -13505)"
        d="M44.527 23.313l-1.944-1.674.174 2.35 2.973 2.561 2.562-2.973-.174-2.346-1.9 2.2A15.566 15.566 0 0 0 31 11v1.637a13.933 13.933 0 0 1 13.527 10.676z"
        data-name="Caminho 1964" />
      <path transform="translate(-12493 -13509)"
        d="M9.635 37.236l1.944 1.674-.174-2.35L8.432 34 5.87 36.973l.174 2.346 1.9-2.2a15.566 15.566 0 0 0 15.218 12.43v-1.637A13.933 13.933 0 0 1 9.635 37.236z"
        data-name="Caminho 1965" />
    </g>
  </g>
</svg>

<!-- dados financeiros menu -->
<svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" width="50px" fill="#fff"
  *ngIf="icon === 'dadosFinanceirosMenu'">
  <defs>
    <style>
      .cls-1 {
        fill: #fff;
        stroke: #707070
      }

      .cls-2 {
        clip-path: url(#a)
      }
    </style>
    <clipPath id="a">
      <path class="cls-1" transform="translate(240 764)" d="M0 0h50v50H0z" data-name="Retângulo 1828" />
    </clipPath>
  </defs>
  <g class="cls-2" transform="translate(-240 -764)" data-name="Grupo de máscara 864">
    <g transform="translate(12737 14123)" data-name="Finance Icon">
      <path transform="translate(-12505 -13367)"
        d="M32.829 17.167A15.662 15.662 0 1 0 48.49 32.829a15.679 15.679 0 0 0-15.661-15.662zM38.4 39.876a7.625 7.625 0 0 1-3.112 1.377v1.731a.914.914 0 0 1-1.828 0v-1.513c-.2.009-.39.018-.592.018-.232 0-.457-.007-.678-.018v1.513a.914.914 0 0 1-1.828 0v-1.75a6.542 6.542 0 0 1-5.219-4.962l4.878-.878q.615 2.069 3.161 2.069 1.982 0 1.982-1.053a.977.977 0 0 0-.458-.859A4.919 4.919 0 0 0 33.072 35q-4.5-.862-5.782-2.255a4.684 4.684 0 0 1-1.279-3.274 5.125 5.125 0 0 1 1.838-4.027 6.155 6.155 0 0 1 2.517-1.275v-1.5a.914.914 0 1 1 1.828 0v1.2h-.005c.306-.022.62-.035.947-.035.113 0 .22.006.33.009v-1.168a.914.914 0 1 1 1.828 0v1.382a6.219 6.219 0 0 1 4.756 3.989l-4.352 1.317a2.662 2.662 0 0 0-2.747-1.718q-1.719 0-1.718 1.066a.844.844 0 0 0 .389.74 4.756 4.756 0 0 0 1.505.5 31.769 31.769 0 0 1 4.365 1.15 4.71 4.71 0 0 1 2.157 1.711 4.782 4.782 0 0 1 .865 2.855 5.058 5.058 0 0 1-2.114 4.209z"
        data-name="Caminho 1966" />
      <path transform="translate(-12499 -13361)"
        d="M27.185 5.5a21.685 21.685 0 1 0 21.686 21.685A21.685 21.685 0 0 0 27.185 5.5zm0 38.953a17.268 17.268 0 1 1 17.268-17.268 17.287 17.287 0 0 1-17.268 17.268z"
        data-name="Caminho 1967" />
    </g>
  </g>
</svg>

<!-- sair menu -->
<svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" width="50px" fill="#fff" *ngIf="icon === 'sairMenu'">
  <defs>
    <style>
      .cls-1 {
        fill: #fff;
        stroke: #707070
      }

      .cls-2 {
        clip-path: url(#a)
      }
    </style>
    <clipPath id="a">
      <path class="cls-1" transform="translate(240 842)" d="M0 0h50v50H0z" data-name="Retângulo 1829" />
    </clipPath>
  </defs>
  <g class="cls-2" transform="translate(-240 -842)" data-name="Grupo de máscara 865">
    <g transform="translate(243.92 846.68)" data-name="Log Out Icon">
      <path transform="rotate(180 20.615 20.616)"
        d="M12.362 34.163c-1.07-.06-2.147-.022-3.221-.027a1.871 1.871 0 0 1-2.084-2.1V9.156a1.863 1.863 0 0 1 2.062-2.081c1.031-.007 2.062.024 3.092-.013a3.524 3.524 0 0 0-.089-7.046C10.962 0 9.8-.007 8.643.016A8.879 8.879 0 0 0 .214 6.893c-.08.36-.143.725-.214 1.088v25.248c.031.138.072.275.091.415a8.829 8.829 0 0 0 7.694 7.481 34.578 34.578 0 0 0 4.632.06 3.26 3.26 0 0 0 2.8-1.87 3.515 3.515 0 0 0-2.855-5.152z"
        data-name="Caminho 1968" />
      <path transform="rotate(180 15.38 17.218)"
        d="M18.772.987a3.344 3.344 0 0 0-2.4-.987 3.568 3.568 0 0 0-3.3 2.136 3.475 3.475 0 0 0 .728 3.851c1.483 1.512 2.979 3.023 4.472 4.528.1.1.2.246.358.407h-.771c-4.751 0-9.508-.019-14.261-.009A3.511 3.511 0 0 0 .1 15.248a3.583 3.583 0 0 0 3.57 2.7c4.8 0 9.593-.016 14.39-.016h.494a1.654 1.654 0 0 0 .123.2 1.92 1.92 0 0 0-.4.242c-1.423 1.412-2.851 2.818-4.251 4.255a3.52 3.52 0 0 0 4.963 4.993q5.411-5.37 10.77-10.786a3.42 3.42 0 0 0-.01-4.843Q24.281 6.47 18.772.987z"
        data-name="Caminho 1969" />
    </g>
  </g>
</svg>

<!-- hamburguer menu -->
<svg xmlns="http://www.w3.org/2000/svg" class="bars" viewBox="0 0 448 512" *ngIf="icon === 'hamburguerMenu'">
  <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
  <path
    d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z" />
</svg>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" *ngIf="icon === 'edit'">
  <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
  <path
    d="M490.3 40.4C512.2 62.27 512.2 97.73 490.3 119.6L460.3 149.7L362.3 51.72L392.4 21.66C414.3-.2135 449.7-.2135 471.6 21.66L490.3 40.4zM172.4 241.7L339.7 74.34L437.7 172.3L270.3 339.6C264.2 345.8 256.7 350.4 248.4 353.2L159.6 382.8C150.1 385.6 141.5 383.4 135 376.1C128.6 370.5 126.4 361 129.2 352.4L158.8 263.6C161.6 255.3 166.2 247.8 172.4 241.7V241.7zM192 63.1C209.7 63.1 224 78.33 224 95.1C224 113.7 209.7 127.1 192 127.1H96C78.33 127.1 64 142.3 64 159.1V416C64 433.7 78.33 448 96 448H352C369.7 448 384 433.7 384 416V319.1C384 302.3 398.3 287.1 416 287.1C433.7 287.1 448 302.3 448 319.1V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V159.1C0 106.1 42.98 63.1 96 63.1H192z" />
</svg>

<svg xmlns="http://www.w3.org/2000/svg" *ngIf="icon === 'fichaCadastro'" viewBox="0 0 45.424 56.882">
  <g id="Grupo_2592" data-name="Grupo 2592" transform="translate(14035.83 -1622.766)">
    <g id="Grupo_2591" data-name="Grupo 2591" transform="translate(-14035.83 1622.766)">
      <path id="Caminho_1920" data-name="Caminho 1920"
        d="M361.652,296.8H349.318a1.546,1.546,0,0,0-1.557,1.557,1.585,1.585,0,0,0,1.557,1.557h12.334a1.557,1.557,0,1,0,0-3.113Z"
        transform="translate(-325.248 -266.563)" />
      <path id="Caminho_1921" data-name="Caminho 1921"
        d="M361.652,370.16H349.318a1.546,1.546,0,0,0-1.557,1.557,1.585,1.585,0,0,0,1.557,1.557h12.334a1.557,1.557,0,1,0,0-3.113Z"
        transform="translate(-325.248 -332.079)" />
      <path id="Caminho_1922" data-name="Caminho 1922"
        d="M361.652,443.52H349.318a1.546,1.546,0,0,0-1.557,1.557,1.585,1.585,0,0,0,1.557,1.557h12.334a1.557,1.557,0,1,0,0-3.113Z"
        transform="translate(-325.248 -397.595)" />
      <path id="Caminho_1923" data-name="Caminho 1923"
        d="M285.234,296.8H283.8a1.546,1.546,0,0,0-1.557,1.557,1.585,1.585,0,0,0,1.557,1.557h1.437a1.557,1.557,0,0,0,0-3.113Z"
        transform="translate(-266.732 -266.563)" />
      <path id="Caminho_1924" data-name="Caminho 1924"
        d="M285.234,370.16H283.8a1.546,1.546,0,0,0-1.557,1.557,1.585,1.585,0,0,0,1.557,1.557h1.437a1.557,1.557,0,0,0,0-3.113Z"
        transform="translate(-266.732 -332.079)" />
      <path id="Caminho_1925" data-name="Caminho 1925"
        d="M285.234,443.52H283.8a1.546,1.546,0,0,0-1.557,1.557,1.585,1.585,0,0,0,1.557,1.557h1.437a1.557,1.557,0,0,0,0-3.113Z"
        transform="translate(-266.732 -397.595)" />
      <path id="Caminho_1927" data-name="Caminho 1927"
        d="M216.084,95.369a1.59,1.59,0,0,0-2.215,0l-4.611,4.611-1.916-1.916a1.566,1.566,0,1,0-2.215,2.215l2.994,2.994a1.591,1.591,0,0,0,2.275,0l5.748-5.748a1.576,1.576,0,0,0-.06-2.155Z"
        transform="translate(-197.464 -86.268)" />
      <path id="Caminho_2002" data-name="Caminho 2002"
        d="M182.228,35.556,171.51,24.838a1.635,1.635,0,0,0-1.138-.479h-7.245a13.107,13.107,0,1,0-17.963,14.789V69.326a1.546,1.546,0,0,0,1.557,1.557H181.03a1.546,1.546,0,0,0,1.557-1.557V36.694a1.169,1.169,0,0,0-.359-1.137ZM170.672,28.43l7.964,7.964h-7.964Zm-30.3-1.317a9.94,9.94,0,1,1,9.94,9.94A9.915,9.915,0,0,1,140.374,27.113Zm8.024,40.6V40.046a10.537,10.537,0,0,0,1.976.18,13.08,13.08,0,0,0,13.053-12.634h4.132V38.07a1.546,1.546,0,0,0,1.557,1.557h10.478V67.769H148.4Z"
        transform="translate(-137.201 -14.001)" />
    </g>
  </g>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" *ngIf="icon === 'sair'" class="rotate-180" viewBox="0 0 512 512">
  <!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
  <path
    d="M96 480h64C177.7 480 192 465.7 192 448S177.7 416 160 416H96c-17.67 0-32-14.33-32-32V128c0-17.67 14.33-32 32-32h64C177.7 96 192 81.67 192 64S177.7 32 160 32H96C42.98 32 0 74.98 0 128v256C0 437 42.98 480 96 480zM504.8 238.5l-144.1-136c-6.975-6.578-17.2-8.375-26-4.594c-8.803 3.797-14.51 12.47-14.51 22.05l-.0918 72l-128-.001c-17.69 0-32.02 14.33-32.02 32v64c0 17.67 14.34 32 32.02 32l128 .001l.0918 71.1c0 9.578 5.707 18.25 14.51 22.05c8.803 3.781 19.03 1.984 26-4.594l144.1-136C514.4 264.4 514.4 247.6 504.8 238.5z" />
</svg>