:host{
  width: 1em;
  height: 1em;
  display: inline-block;
}

svg{
  width: 100%;
  height: 100%;
  display: block;
  fill: currentColor !important;
}

.proximo {
  transform: rotate(-90deg);
}

.anterior {
  transform: rotate(90deg);
}
