:host{
    @apply w-full block;
}

button:hover{
  background: #fff200;
}
button{
    @apply rounded-full border-0 bg-gray-600 h-8 w-8 flex justify-center items-center;
    @apply text-white;
}

button.active{
    @apply bg-secondary;
    @apply text-white cursor-default;
    background: #006bbb;

}

button:disabled{
    @apply opacity-70;
}
