<div class="flex flex-row space-x-2">
    <button *ngIf="pages.totalPages > maxPages" [disabled]="pages.currentPage === pages.startPage"
        (click)="setPage(currentPage-1)">
        «
    </button>

    <button *ngFor="let p of pages.pages;" [class.active]="p === pages.currentPage" (click)="setPage(p)">
        {{p}}
    </button>

    <button *ngIf="pages.totalPages > maxPages" [disabled]="pages.currentPage === pages.endPage"
        (click)="setPage(currentPage+1)">
        »
    </button>
</div>