<div class="content-wrapper animated faster fadeIn">
   <content-header-small title="Liberação Estorno" [hasSearch]="false"></content-header-small>
    <section class="bg">
      <form #form="ngForm">
        <div class="caixa animated faster fadeIn" style="max-width:90%">
          <form-dados-proposta  [form]="formProposta" ></form-dados-proposta>
        </div>
        <div class="caixa animated faster fadeIn" style="max-width:90%">
          <form-dados-estorno [form]="formEstorno"></form-dados-estorno>
        </div>
        <div style="text-align:center" class="mb-3">
          <cap-button styleClass="" (click)="consultar()">Consultar</cap-button>
        </div>
      </form>
      <app-table-generica (click)="abreModal($event)"  [table]="tableModel"></app-table-generica>
    </section>
    <div class="clear-both"></div>
    <app-modal-liberacao>
    </app-modal-liberacao>
</div>
