<div class="flex flex-col items-center">
    <div class="w-full flex flex-col items-center">
        <div class="w-full">
            <div class="flex flex-col items-center relative">
                <div class="w-full">
                    <div class="flex">
                        <input (focus)="focus($event)" (focusout)="focusout($event)" [placeholder]="placeholder ?? ''"
                            #input [(ngModel)]="search" (ngModelChange)="onModelChange()"
                            class="p-1 px-2 bg-inherit appearance-none outline-none w-full text-gray-800">

                        <div class="text-gray-300 w-8 py-1 pl-2 pr-1 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <polyline *ngIf="!visible" points="18 15 12 20 6 15"></polyline>
                                <polyline *ngIf="visible" points="18 15 12 9 6 15"></polyline>
                            </svg>
                        </div>
                    </div>
                </div>
                <div [hidden]="!visible"
                    class="absolute shadow bg-white top-100 z-40 w-full lef-0 max-h-select overflow-y-auto">
                    <div class="flex flex-col w-full">
                        <div (mousedown)="click(item)" *ngFor="let item of searchItems;"
                            [attr.aria-selected]="currentItem === item">
                            <div
                                class="flex w-full items-center p-2 pl-2 border-transparent border-l-4 relative hover:border-gray-400">
                                <span>
                                    {{item.label}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>