<div [formGroup]="form" class="animated faster fadeIn">
  <div>
      <h1 class="title">Proposta</h1>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
        <cap-inputText
        label="Número proposta"
        id="P_ID_PROPOSTA"
        name="P_ID_PROPOSTA"
        title="Número da proposta"
        formControlName="P_ID_PROPOSTA">
        </cap-inputText>
    </div>
    <div class="col-md-6 mb-3 mt-3">
      <cap-select
      [items]="listaParceiros" label=""
      name="P_ID_PRODUTO" placeholder="Lista de parceiros"
      formControlName="P_ID_PRODUTO"
      [style]="style"
        >
      </cap-select>
    </div>
  </div>

  <div  class="row">
    <div class="col-md-6 mb-3 mt-3">
        <cap-select
        [items]="listaPlanos" label=""
        name="P_ID_PLANO" placeholder="Lista de produtos"
        formControlName="P_ID_PLANO"
        [style]="style"
        >
      </cap-select>
      <div *ngIf="f.P_ID_PLANO.errors && (f.P_ID_PLANO.dirty || f.P_ID_PLANO.touched)">
        <div class="invalid-field" *ngIf="f.P_ID_PLANO.errors?.required">Selecione um plano</div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
        <cpf-cnpj-input
        [cpfCnpjInput]="cpfCnpj"
        (cpfCnpjChangedOutput)="cpfCnpj = $event;"
        (isCpfCnpjValidoOutput)="isCpfCnpjValido = $event"
        >
        </cpf-cnpj-input>
      <div *ngIf="f.P_CPF_CNPJ.errors && (f.P_CPF_CNPJ.dirty || f.P_CPF_CNPJ.touched)">
        <div class="invalid-field" *ngIf="f.P_CPF_CNPJ.errors?.required">Insira seu CPF.</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
        <cap-inputText
        label="Nosso número"
        id="P_COD_NOSSO_NUMERO"
        name="P_COD_NOSSO_NUMERO"
        title="Nosso número"
        [disabled]="false"
        textHelper=""
        formControlName="P_COD_NOSSO_NUMERO"
        >
        </cap-inputText>
      <div *ngIf="f.P_COD_NOSSO_NUMERO.errors && (f.P_COD_NOSSO_NUMERO.dirty || f.P_COD_NOSSO_NUMERO.touched)">
        <div class="invalid-field" *ngIf="f.P_COD_NOSSO_NUMERO.errors?.required">Insira seu número.</div>
      </div>
    </div>
  </div>
</div>
