<cap-inputText id="cpfCnpj" label="CPF/CNPJ" [(ngModel)]="cpfCnpj" placeholder="Informe" title="Informe um CPF/CNPJ" [disabled]="disabled" (keypress)="disableString($event)"
  (ngModelChange)="validaCpfCnpj($event);cpfCnpjChanged($event)" (blur)="formataCpfCnpj()" name="cpfCnpj">
</cap-inputText>
<small class="error msg" *ngIf="!isCpfCnpjValido">CPF/CNPJ Inválido</small>
