<div class="content-header" [ngClass]="{ 'content-header-large content-search-dynamic': hasSearch && searchDynamic }">
  <form>
    <div class="row">
      <div [ngClass]="{ 'col-md-6': hasSearch && !textoHint && !searchDynamic, 'col-md-12': !hasSearch, 'flex': textoHint, 'col-md-7': textoHint }">
        <h1>{{title}}</h1>
        <span *ngIf="subtitle" class="content-header-small-subtitle">{{subtitle}}</span>
        <cap-hint texto="{{textoHint}}" *ngIf="textoHint"></cap-hint>
      </div>


        <!-- <div class="flex-end search-dynamic"> -->
        <div class="flex-end search-dynamic">
          <ng-content></ng-content>

          <!-- <div class="col-md-2 button-pesquisa"> -->
          <div class="button-pesquisa">
            <cap-button id="btn-buscar" icon="busca" styleClass="btn-ico" [disabled]="buttonDisabled" type="submit"
              (click)="buscar(); emitMenuEvent();">
            </cap-button>
          </div>
        </div>
      <!-- </div> -->

    </div>
  </form>
</div>
