.content-header {
  cap-button::ng-deep button.cap-button.btn-ico {
    padding: 0 13px;
  }
 
  h1 {
    margin-right: 20px;
  }
  
  .flex {
    display: flex;
  }
 
  .flex-end {
    display: flex;
    justify-content: flex-end;
  }
 
  .button-pesquisa {
    margin-top: -9px;
  }
 
  .search-dynamic {
    float: right;
    .button-pesquisa{
      margin: 20px 30px 30px 10px;
    }
    
  } 
}
 
.content-search-dynamic{
  height: 175px!important;
}