<div class="content-header" [ngClass]="{ 'content-header-small': !hasSearch, 'content-header-medium': hasSearch }">
  <form>
    <div class="row">
      <div
        [ngClass]="{ 'col-md-6': hasSearch && !textoHint, 'col-md-12': !hasSearch, 'flex': textoHint, 'col-md-7': textoHint }">
        <h1>{{title}}</h1>
        <span *ngIf="subtitle" class="content-header-small-subtitle">{{subtitle}}</span>
        <cap-hint texto="{{textoHint}}" *ngIf="textoHint"></cap-hint>
      </div>

      <div class="flex-end" *ngIf="hasSearch">
        <ng-content></ng-content>
        <div class="col-md-2 button-pesquisa" *ngIf="!botaoAtualizar">
          <cap-button id="btn-buscar" icon="busca" styleClass="btn-ico" [disabled]="buttonDisabled" type="submit"
            (click)="buscar(); emitMenuEvent();">
          </cap-button>
        </div>
        <div class="col-md-4 button-pesquisa" *ngIf="botaoAtualizar">
          <cap-button class="small" label="ATUALIZAR" [disabled]="buttonDisabled" type="submit"
            (click)="buscar(); emitMenuEvent();">
          </cap-button>
        </div>
      </div>

    </div>
  </form>
</div>
