.content-header {
  cap-button::ng-deep button.cap-button.btn-ico {
    padding: 0 13px;
  }
 
  h1 {
    margin-right: 20px;
  }
  
  .flex {
    display: flex;
  }
 
  .flex-end {
    display: flex;
    justify-content: flex-end;
  }
 
  .button-pesquisa {
    margin-top: -9px;
  }
}