<div [formGroup]="form" #modalPage >
<!-- Modal -->
    <cap-modal>
        <div class="app-modal-header">
        </div>
        <div class="app-modal-body">
            <strong>Situação do Boleto: </strong>{{situacaoBoleto}}<br>
            <strong>Situação do Tratamento:</strong> {{situacaoTratamento}}
            <br>
            <fieldset class="py-4">
                <legend>Dados do Cliente</legend>
                <strong>Nome: </strong>{{dadosCliente?.NOME_COMPLETO}}<br>
                <strong>CPF/CNPJ: </strong>{{dadosCliente?.CPF_CNPJ}}<br>
                <strong>Endereço: </strong>
                {{dadosCliente?.ENDERECO}}
                -
                {{dadosCliente?.BAIRRO}}
                -
                {{dadosCliente?.CIDADE}}
                -
                {{dadosCliente?.SIGLA_ESTADO}}
                -
                {{dadosCliente?.CEP}}
                <br>
                <strong>Telefones: </strong>{{dadosCliente?.TELEFONE}}<br>
                <strong>Email: </strong>{{dadosCliente?.EMAIL}}<br>
            </fieldset>
            <cap-tabPanel>
              <cap-tab title="Proposta">
                  <div>
                    <app-table-generica  [table]="tableProposta">
                    </app-table-generica>
                  </div>
              </cap-tab>
              <cap-tab title="Título">
                  <div>
                    <app-table-generica  [table]="tableTitulo">
                    </app-table-generica>
                  </div>
              </cap-tab>
              <cap-tab title="Pagamento">
                <div>
                  <app-table-generica  [table]="tablePagamento">
                  </app-table-generica>
                </div>
              </cap-tab>
              <cap-tab title="Boleto">
                  <div>
                    <app-table-generica  [table]="tableBoleto">
                    </app-table-generica>
                  </div>
              </cap-tab>
            </cap-tabPanel>
            <cap-divisor></cap-divisor>
            <br>
            <cap-tabPanel>
                  <cap-tab title="Tratamento">
                    <div class="row" style="overflow: auto;">
                      <div class="col-md-6">
                        <strong>Observação</strong>
                        <cap-inputTextArea placeholder="Digite uma observação"  label=""
                        textHelper="Tamanho máximo 200 caracteres" maxlength="200" formControlName="P_OBS_MENSAGEM">
                        </cap-inputTextArea>
                      </div>
                      <div class="col-md-6">
                          <div class="row">
                            <legend>Devolver</legend>
                            <cap-select
                              [items]="dadosFormaPgt" label=""
                              name="P_TP_MOVIMENTO_DEBITO" placeholder="Forma de Pagamento"
                              formControlName="P_TP_MOVIMENTO_DEBITO"
                              >
                            </cap-select>
                          </div>
                          <div class="row">
                            <!--
                            <input class="form-control" formControlName="P_BANCO" id="P_BANCO" name="P_BANCO"  type="text"  >
                            -->
                            <cap-inputText
                            label="Banco"
                            id="P_BANCO"
                            name="P_BANCO"
                            title="Banco"
                            formControlName="P_BANCO">
                            </cap-inputText>
                          </div>
                          <div class="row">
                            <!--
                            <input formControlName="P_AGENCIA" id="agencia"  type="text" maxlength="5" onkeypress="mascara(this,soNumeros)" >
                            -->
                            <cap-inputText
                            label="Ag&ecirc;ncia"
                            id="P_AGENCIA"
                            name="P_AGENCIA"
                            title="Ag&ecirc;ncia:"
                            formControlName="P_AGENCIA">
                            </cap-inputText>
                          </div>
                          <div class="row">
                              <!--
                              <input formControlName="P_CONTA_CORRENTE" id="contacorrente"  type="text" maxlength="12" onkeypress="mascara(this,soNumeros)" >
                            -->
                            <cap-inputText
                            label="Conta Corrente"
                            id="P_CONTA_CORRENTE"
                            name="P_CONTA_CORRENTE"
                            title="Conta Corrente"
                            formControlName="P_CONTA_CORRENTE">
                            </cap-inputText>
                          </div>
                          <div class="row mt-3">
                              <!--
                              <strong>Tipo Conta:</strong>
                              <app-select-search
                              (currentItemChange)="tpConta = $event"
                              [placeholder]="'Tipo de conta'"
                              [currentItem]="isSelectedTipo(dadosTratamento?.ID_TP_CONTA,dadosTiposConta)"
                              [items]="dadosTiposConta"></app-select-search>
                              <input formControlName="P_TP_CONTA" id="P_TP_CONTA"  type="hidden"  >
                              -->
                              <br>
                              <cap-select
                                [items]="dadosTiposConta" label=""
                                name="P_TP_CONTA" placeholder="Tipo Conta"
                                formControlName="P_TP_CONTA"
                                [style]=""
                                >
                              </cap-select>
                          </div>
                          <div [formGroup]="form2">
                          <div class="row">
                              <!--
                              <strong>CPF</strong>
                              <input type="text" value="{{dadosTratamento?.CPF_CNPJ}}"  type="text" >
                              -->
                              <cap-inputText
                              label="CPF"
                              id="CPF"
                              name="CPF"
                              title="CPF"
                              formControlName="P_CPF_CNPJ">
                              </cap-inputText>
                          </div>
                          <div class="row">
                              <!--
                              <strong>Valor da devolução</strong>
                              <input  type="text" value="{{dadosTratamento?.VAL_ESTORNO}}" minFractionDigits="2" type="currency">
                              -->
                              <cap-inputText
                              label="Valor da devolução"
                              id="val_estorno"
                              name="val_estorno"
                              title="Valor da devolução"
                              formControlName="P_VAL_ESTORNO">
                              </cap-inputText>
                          </div>
                          </div>
                          <div class="row mt-3">
                              <!--
                              <strong>Data da devolu&ccedil;&atilde;o:</strong>
                							<input formControlName="P_DATA_AGENDAMENTO_ESTORNO" id="dtLiberacao" type="date"  pattern="dd/MM/yyyy" type="both">
                              -->
                              <cap-datepicker
                              id="P_DATA_AGENDAMENTO_ESTORNO"
                              label=""
                              placeholder="Data inicial liberação"
                              mask="dd/mm/yy"
                              formControlName="P_DATA_AGENDAMENTO_ESTORNO"
                              >
                              </cap-datepicker>
                              <input type="hidden"   formControlName="P_ID_BOLETO"  name="P_ID_BOLETO" id="P_ID_BOLETO">
                              <input type="hidden"  formControlName="P_ID_ESTORNO" name="P_ID_ESTORNO" id="P_ID_ESTORNO">

                          </div>
                      </div>
                    </div>
                  </cap-tab>
                  <cap-tab title="Histórico">
                    <table>
                      <tr>
                        <th>
                          Andamento em
                        </th>
                      </tr>
                      <tr *ngFor="let h of dadosHistoricos">
                        <td>
                          {{h.DESC_SITUACAO}}
                        </td>
                        <td>
                          {{h.DATA_ANDAMENTO}}
                        </td>
                      </tr>
                    </table>
                  </cap-tab>
                  <cap-tab title="Críticas">
                    <table>
                      <tr>
                        <th>
                          Andamento em
                        </th>
                      </tr>
                      <tr *ngFor="let c of dadosCriticas">
                        <td>
                          {{c.DESC_TIPO_ESTORNO}}
                        </td>
                      </tr>
                    </table>
                  </cap-tab>
            </cap-tabPanel>
        </div>
        <div class="app-modal-footer" style="margin:auto">
            <cap-button class="bt-confirmar" (click)="liberaEstorno();">
                Liberar Estorno
            </cap-button>
        </div>
  </cap-modal>
</div>

<!--</div>-->
