@import "https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700";

/** GERAL **/
* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

body,
html {
  height: 100%;
  min-height: 100%;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Ubuntu;
}

#wrapper {
  background-color: #f1f1f1;
  height: auto;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}

.content-wrapper {
  min-height: 100%;
  z-index: 800;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: 230px;
}

body.minimizado .loader,
body .loader {
  transition: all 0.3s ease-in-out;
}

body.minimizado .loader {
  left: 0;
  width: 100%;
}

body.minimizado .content-wrapper {
  margin-left: 0px !important;
  z-index: 840;
}

.body.minimizaco cap-menu::ng-deep .cap-menu {
  display: block !important;
}

.content {
  min-height: 250px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

.content-header {
  position: relative;
  padding: 25px;
}

.content-header label.label-input {
  background: transparent;
}

.content-header-small {
  height: 75px !important;
}

.content-header-medium {
  height: 80px !important;
}

.content-header label.label-input {
  background: transparent;
  top: 22px !important;
  left: 9px !important;
}

.content-header-large {
  height: 150px !important;
}

.content-header-abas,
.content-header-cards {
  height: 130px !important;
}

.content-header h1,
.content-header h2,
.content-header h3 {
  margin: 0;
}

.box {
  position: relative;
  border-radius: 5px;
  background: #ffffff;
  margin-bottom: 25px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  padding: 25px;
}

.specialBoxPadding {
  padding: 15px;
}

.navbar {
  background-color: #fff;
  z-index: 1;
  max-height: 70px;
  height: 70px;
}

h1 {
  font-size: 24px;
  letter-spacing: 0.2px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.87);
}

h3 {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.87);
}

.subtitle-1-brcap {
  font-size: 16px;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.87);
}

.subtitle-2-brcap {
  font-size: 16px;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.5);
}

.caption-brcap {
  font-size: 12px;
  letter-spacing: 0.2px;
}

.sm-btn-caption-brcap {
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.chips-caption-brcap {
  font-size: 9px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.icon-select {
  font-size: 26px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.container-header {
  padding: 50px;
  margin-top: -20px;
}

.dp-calendar-wrapper {
  border: none;
}

.dp-calendar-nav-right {
  right: 5px;
  border: none;
  outline: none !important;
}

.dp-calendar-nav-left {
  left: 5px;
  border: none;
  outline: none !important;
}

.dp-calendar-wrapper {
  border: none !important;
}

dp-date-picker {
  display: block !important;
}

.dp-current-location-btn {
  display: none !important;
}

.dp-calendar-nav-container {
  border: none !important;
  border-bottom: 1px solid #ddd !important;
  height: 35px !important;
}

.dp-popup {
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

.dp-calendar-month:hover,
.dp-calendar-nav-right:hover,
.dp-calendar-nav-left:hover {
  background-color: #eee;
  border-radius: 5px;
}

.dp-calendar-month {
  box-sizing: border-box;
  margin: 12px 8px;
  padding: 5px 7px;
  width: unset !important;
  height: unset !important;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  outline: none !important;
  border-radius: 5px;
}

.cap-inputText,
.dp-input-container input {
  box-shadow: none;
  border: 1px solid #757575 !important;
  font-family: Ubuntu;
  background-color: #fff !important;
  outline: none;
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-image: none;
  border-radius: 4px;
}

.cap-inputText.outline {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54) !important;
  background: transparent !important;
  border-radius: 0px;
  padding: 20px 10px 10px 13px;
}

.cap-inputText-icon {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
}

cap-inputText[ng-reflect-style-class="outline"] label {
  background: transparent !important;
}

.cap-inputText.sm {
  height: 40px;
}

label.label-input {
  background-color: #fff;
  font-weight: 500;
  font-family: Ubuntu;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  top: 13px;
  left: 8px;
  padding: 0px 3px;
  z-index: 3;
  height: 4px;
}

.helper-text {
  font-size: 11px;
  font-family: Ubuntu;
  letter-spacing: 0.2px;
  font-weight: 500;
  padding-left: 12px;
  padding-top: 3px;
  position: relative;
  top: 0px;
  left: 0px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

input:disabled::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input:disabled:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input:disabled::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input:disabled:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.content-header .cap-inputText {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54) !important;
  border-radius: 0px !important;
  color: rgba(0, 0, 0, 0.87);
  padding-top: 20px;
}

.content .cap-inputText:disabled {
  cursor: default !important;
  border: 1px solid rgba(117, 117, 117, 0.38) !important;
}

.content-header input[ng-reflect-is-disabled="true"].cap-inputText {
  border-bottom: 1px solid rgba(117, 117, 117, 0.38) !important;
}

.content-header .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  top: 7px;
}

.content-header .bootstrap-select>.dropdown-toggle {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 0px;
}

.icon-calendar {
  float: right;
  position: relative;
  top: -35px;
  right: 10px;
  cursor: pointer;
  z-index: 3;
}

.content-header .icon-calendar {
  top: -35px;
}

.cap-inputText.sm {
  height: 40px;
}

.cap-inputText:disabled {
  border: 1px solid #c9c9c9;
  background-color: #ffffff;
  color: #888;
}

.cap-inputText:focus {
  box-shadow: none;
  border-color: none;
}

p.label-text {
  margin: 10px 0px;
}

p.label-text label {
  background-color: transparent;
  top: 0;
  left: 0;
  display: inline;
  font-size: 14px;
  padding: 0;
}

p.label-text span {
  font-size: 14px;
  display: inline;
  position: relative;
  top: 1px;
}

/* !
* BRCap Icones
* @author Felipe Sousa
* @description Icones no padrao brasilcap
*
*/
@font-face {
  font-family: "brcap-ico";
  src: url("../fonts/darwin-icons/darwin-icons.ttf?mmqvqv") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.brcap-ico {
  font-family: "brcap-ico" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ajuda:before {
  content: "\e921";
}

.menu:before {
  content: "\e900";
}

.adiantar10:before {
  content: "\e919";
}

.voltar:before {
  content: "\e901";
}

.adicionar:before {
  content: "\e902";
}

.alerta:before {
  content: "\e903";
}

.arquivo:before {
  content: "\e904";
}

.busca:before {
  content: "\e905";
}

.calendario:before {
  content: "\e906";
}

.check-circulo:before {
  content: "\e907";
}

.compartilhar:before {
  content: "\e908";
}

.esconder-senha:before {
  content: "\e909";
}

.seguir:before {
  content: "\e910";
}

.anterior:before {
  content: "\e911";
}

.seta-cimabaixo:before {
  content: "\e912";
}

.usuario:before {
  content: "\e913";
}

.x-circulo:before {
  content: "\e914";
}

.ver-senha:before {
  content: "\e916";
}

.retrair:before {
  content: "\e90a";
}

.expandir:before {
  content: "\e910";
}

.favorito:before {
  content: "\e90b";
}

.fullscreen:before {
  content: "\e922";
}

.info:before {
  content: "\e90c";
}

.mais-opcoes:before {
  content: "\e90d";
}

.menos:before {
  content: "\e90e";
}

.sair:before {
  content: "\e90f";
}

.adiantar10:before {
  content: "\e919";
}

.pausar:before {
  content: "\e91a";
}

.tocar:before {
  content: "\e91b";
}

.voltar10:before {
  content: "\e91c";
}

.volumeoff:before {
  content: "\e91d";
}

.volumeon:before {
  content: "\e91e";
}

.codigo:before {
  content: "\e91f";
}

.editar:before {
  content: "\e920";
}

.mover:before {
  content: "\e915";
}

.x:before {
  content: "\78";
}

.sucesso:before {
  content: "\e917";
}

/* .primeira-pagina{
  content: "\";
}
.ultima-pagina{
  content: "\";
}
.permissionar{
  content: "\";
}
.pesquisa-avancada{
  content: "\";
} */

.cap-button .brcap-ico {
  position: relative;
  left: -10px;
}

cap-button .xs i.brcap-ico {
  left: -6px !important;
  top: 2px !important;
}

/** Hambuger **/
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 5px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #7d7d7d;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -11px;
}

.hamburger-inner::after {
  bottom: -11px;
}

/*
 * Arrow Turn
 */
/* .hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg);
}
.hamburger--arrowturn.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}
.hamburger--arrowturn.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
} */

ng-select>div {
  border-radius: 4px;
  border: 1px solid #757575 !important;
  outline: none;
}

.content-header ng-select>div {
  border: none !important;
  border-bottom: 1px solid #757575 !important;
  border-radius: 0px;
}

.content-header ng-select[ng-reflect-is-disabled="true"]>div {
  border-bottom: 1px solid rgba(117, 117, 117, 0.65) !important;
}

.content-header ng-select>div>div.single>div.value,
.content-header ng-select>div>div.single>div.placeholder {
  padding-top: 8px !important;
}

select-dropdown>div.below {
  z-index: 4;
}

ng-select>div>div.single>div.value,
ng-select>div>div.single>div.placeholder {
  line-height: 50px !important;
}

ng-select>div>div.single {
  height: 50px !important;
}

select-dropdown>div {
  font-family: Ubuntu;
  font-size: 12px;
}

select-dropdown>div .filter input {
  height: 50px;
  padding: 10px 10px !important;
  outline: none;
}

ng-select>div>div.single>div.clear,
ng-select>div>div.single>div.toggle {
  line-height: 50px !important;
  color: #757575 !important;
  overflow: hidden;
}

ng-select>div>div.single>div.toggle:hover {
  background-color: transparent !important;
}

select-dropdown>div .options ul li {
  padding: 10px !important;
  border-top: 1px solid #f1f1f1;
}

.form-control:focus {
  outline: none !important;
  border-color: unset !important;
  box-shadow: none !important;
}

.mydp .selection {
  height: 50px !important;
  border: 1px solid #757575;
  font-family: Ubuntu;
  color: rgba(0, 0, 0, 0.87) !important;
  padding-left: 10px !important;
}

.mydrp .selectiongroup {
  border: 1px solid #757575 !important;
}

.mydp .selectiondisabled {
  background: transparent !important;
}

.mydp .nextmonth,
.mydp .prevmonth {
  color: #777 !important;
}

.mydp .invaliddate {
  background: transparent !important;
}

/* .mydp .selectiongroup {
  border: 1px solid #757575 !important;
} */

.mydrp .invaliddaterange {
  background: transparent !important;
}

.mydrp .selectiondisabled {
  background: transparent !important;
}

.mydrp .selectiondisabled,
.mydp .selectiondisabled,
.mydrp .btnpickerdisabled,
.mydp .btnpickerdisabled,
.form-control[disabled] {
  cursor: default !important;
}

.selbtngroup .mydpicon {
  font-family: "brcap-ico" !important;
  font-size: 20px !important;
  position: relative;
  right: 8px;
}

.mydp .mydpicon.icon-mydpcalendar:before {
  content: "\e906" !important;
}

.mydp .mydpicon.icon-mydpremove:before {
  content: "\78" !important;
}

.mydp .btnclear,
.mydp .btndecrease,
.mydp .btnincrease,
.mydp .btnpicker,
.mydp .headertodaybtn {
  background-color: transparent !important;
}

.mydp .daycell {
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.mydp .daycell .datevalue span,
.yearvalue {
  font-family: Ubuntu !important;
  text-decoration: none !important;
  font-weight: 400 !important;
}

.mydp .weekdaytitle {
  background-color: #fff !important;
  font-size: 10px !important;
  padding: 15px 0px !important;
  color: #000 !important;
  font-weight: 600 !important;
  letter-spacing: 0.2px;
}

.mydp .caltable,
.mydp .monthtable,
.mydp .yeartable {
  width: 80% !important;
  height: calc(100% - 50px) !important;
  background-color: #fff !important;
  font-size: 12px !important;
  position: relative;
  left: 28px;
}

.mydp .selectedday .datevalue,
.mydp .selectedmonth .monthvalue,
.mydp .selectedyear .yearvalue {
  background-color: #ddd !important;
  border-radius: 4px !important;
  padding: 4px !important;
  font-family: Ubuntu;
  font-weight: 400;
}

.monthvalue {
  font-family: Ubuntu !important;
  font-weight: 500 !important;
  color: #000;
  font-size: 13px;
  text-decoration: none !important;
}

.mydp {
  border: none !important;
}

.mydp .daycell .datevalue:hover {
  background-color: #dfdfdf;
}

.mydp .daycell .datevalue {
  padding: 8px 1px !important;
  border-radius: 4px !important;
}

.mydp .selectorarrow,
.mydp .headerbtn,
.mydp .headerlabelbtn,
.mydp .yearchangebtn,
.mydp .headerbtncell,
.mydp .yearchangebtncell,
.mydp .header,
.mydp .yearcell,
.mydp .monthcell {
  background-color: #fff !important;
  box-shadow: none !important;
}

.mydp .daycell,
.mydp .inputnoteditable,
.mydp .monthcell,
.mydp .monthlabel,
.mydp .yearcell,
.mydp .yearlabel {
  font-family: Ubuntu;
  font-weight: 500;
}

.content-header .mydp .selection {
  border-bottom: 1px solid #757575;
  border-radius: 0px;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.87);
}

/** INICIO **/

.mydrp {
  width: 100% !important;
}

.mydrp .titleareatxt {
  font-family: Ubuntu;
}

.mydrp .header {
  height: 0px !important;
}

.mydrp .selection {
  height: 50px !important;
  border: none !important;
  font-family: Ubuntu;
  color: rgba(0, 0, 0, 0.87) !important;
  padding-left: 10px !important;
}

.mydrp .nextmonth,
.mydrp .prevmonth {
  color: #777 !important;
}

.mydrp .invaliddate {
  background: transparent !important;
}

.selbtngroup .mydrpicon {
  font-family: "brcap-ico" !important;
  font-size: 20px !important;
  position: relative;
  right: 8px;
}

.mydrp .mydrpicon.icon-mydrpcalendar:before {
  content: "\e906" !important;
}

.mydrp .mydrpicon.icon-mydrpremove:before {
  content: "\78" !important;
}

.mydrp .btnclear,
.mydrp .btndecrease,
.mydrp .btnincrease,
.mydrp .btnpicker,
.mydrp .headertodaybtn {
  background-color: transparent !important;
}

.mydrp .daycell {
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.mydrp .daycell .datevalue span,
.yearvalue {
  font-family: Ubuntu !important;
  text-decoration: none !important;
  font-weight: 400 !important;
}

.mydrp .weekdaytitle {
  background-color: #fff !important;
  font-size: 10px !important;
  padding: 13px 0px !important;
  color: #000 !important;
  font-weight: 600 !important;
  letter-spacing: 0.2px;
}

.mydrp .range {
  background-color: #d9f2e6 !important;
}

.mydrp .caltable,
.mydrp .monthtable,
.mydrp .yeartable {
  width: 80% !important;
  height: calc(100% - 50px) !important;
  background-color: #fff !important;
  font-size: 12px !important;
  position: relative;
  left: 28px;
}

.mydrp .selectedday .datevalue,
.mydrp .selectedmonth .monthvalue,
.mydrp .selectedyear .yearvalue {
  background-color: #ddd !important;
  border-radius: 4px !important;
  padding: 4px !important;
  font-family: Ubuntu;
  font-weight: 400;
}

.monthvalue {
  font-family: Ubuntu !important;
  font-weight: 500 !important;
  color: #000;
  font-size: 13px;
  text-decoration: none !important;
}

.mydrp {
  border: none !important;
}

.mydrp .daycell .datevalue:hover {
  background-color: #dfdfdf;
}

.mydrp .daycell .datevalue {
  padding: 8px 1px !important;
  border-radius: 4px !important;
}

.mydrp .selectorarrow,
.mydrp .headerbtn,
.mydrp .headerlabelbtn,
.mydrp .yearchangebtn,
.mydrp .headerbtncell,
.mydrp .yearchangebtncell,
.mydrp .header,
.mydrp .yearcell,
.mydrp .monthcell {
  background-color: #fff !important;
  box-shadow: none !important;
}

.mydrp .daycell,
.mydrp .inputnoteditable,
.mydrp .monthcell,
.mydrp .monthlabel,
.mydrp .yearcell,
.mydrp .yearlabel {
  font-family: Ubuntu;
  font-weight: 500;
}

.content-header .mydrp .selection {
  border: none !important;
  border-bottom: 1px solid #757575 !important;
  border-radius: 0px;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.87);
}

.content-header .mydp .selectiongroup,
.content-header .mydrp .selectiongroup {
  border: none !important;
  border-radius: 0px;
}

ng-select>div>div.single>div.toggle {
  font-family: "brcap-ico";
}

ng-select>div.disabled>div.single>div.toggle {
  color: rgba(117, 117, 117, 0.38) !important;
}

ng-select>div>div.single>div.toggle:before {
  content: "\e90a";
  font-size: 28px;
}

ng-select>div.open>div.single>div.toggle:before {
  content: "\e918";
  font-size: 28px;
}

select-dropdown>div.above {
  z-index: 3;
}

div.inline-checkbox {
  display: inline-flex;
}

div.inline-checkbox label {
  padding-right: 1em !important;
  white-space: nowrap !important;
}

.toogle i.expandir,
.toogle i.retrair {
  font-size: 24px;
  position: relative;
  top: 4px;
  padding: 10px 5px 10px 0px;
}

/**
** Toast
**/

#toast-container {
  position: absolute;
  right: 20px;
  top: 20px;
}

.toast {
  border: 2px solid;
  border-left: 10px solid;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
  padding: 20px 20px 20px 15px;
  background: #fff;
  border-radius: 5px;
  min-width: 300px;
}

.toast.toast-warning {
  border-color: #ffb72a;
}

.toast.toast-info {
  border-color: rgba(0, 0, 0, 0.54);
}

.toast.toast-error {
  border-color: #b00020;
}

.toast.toast-success {
  border-color: #086930;
}

.toast-close-button {
  display: block;
  float: right;
  background: transparent;
  border: none;
  outline: none;
}

button.cap-button.btn-ico .brcap-ico {
  left: 0px !important;
}

button.cap-button.sm.btn-ico .brcap-ico {
  font-size: 15px;
}

.buttons-form {
  padding: 20px 0px 10px 0px;
}

cap-icon.fecharQuickView {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  display: block;
  z-index: 3;
}

.quickview {
  position: absolute;
  width: 280px;
  height: 100%;
  background: #f4f4f4;
  float: right;
  right: 0;
  z-index: 2;
  top: 0;
  transition: all 2s;

  .label-text-block {
    margin: 0 !important;
  }

  label,
  span {
    font-size: 12px !important;
    line-height: 12px;
    display: inline;
  }
}

.view-block {
  margin: 15px 0px;
}

.over {
  position: absolute;
  width: 100%;
  height: 100%;
  float: left;
  left: 0;
  z-index: 1;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 2s;
}

cap-icon.fecharQuickView {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  z-index: 3;
}

.content-quickview {
  padding: 25px 20px 20px 20px;
}

.d-block {
  display: block !important;
}

.icone-quickview {
  border: 1px solid rgba(117, 117, 117, 0.5);
  padding: 5px;
  border-radius: 4px;
}

.table-filter>thead>tr:nth-child(1)>th {
  background-color: #e4e4e4 !important;
  height: 40px;
}

.table-filter td.select {
  padding: 0px;
}

.table-filter td.select cap-select>ng-select>div {
  border: none !important;
  height: 40px;
}

.table-filter ng-select>div>div.single>div.toggle:before,
.table-filter ng-select>div.open>div.single>div.toggle:before {
  font-size: 18px;
}

.table-filter>thead>tr:nth-child(2)>th {
  background: #fff !important;
  padding: 0;

  ng-select>div {
    border: none !important;
    height: 40px;
  }

  ng-select>div>div.single>div.toggle {
    line-height: 40px !important;
  }

  ng-select>div>div.single>div.toggle:before {
    font-size: 20px;
    color: #888;
  }
}

.item cap-checkbox {
  position: relative;
  top: 13px;
}

/** COL-XL **/
@media screen and (min-width:1441px) {
  .col-xl-1 {
    width: 8.33333333%;
  }

  .col-xl-2 {
    width: 16.66666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.33333333%;
  }

  .col-xl-5 {
    width: 41.66666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.33333333%;
  }

  .col-xl-8 {
    width: 66.66666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.33333333%;
  }

  .col-xl-11 {
    width: 91.66666667%;
  }

  .col-xl-12 {
    width: 100%;
  }

  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .hidden-xl {
    display: none;
  }
}


.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal.fade .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  transform: translate(0, 0) !important;
  max-width: 90%;
  width: 80%;
}

cap-modal.sm .modal-dialog {
  width: 350px;
}

cap-modal.lg .modal-dialog {
  width: 750px;
}

/* disabled */
.helper-text.disabled,
label.disabled {
  color: rgba(0, 0, 0, 0.38) !important;
  cursor: default !important;
}

ng-select .disabled {
  background: white !important;
  border: 1px solid rgba(117, 117, 117, 0.38) !important;
}

ng-select .disabled .placeholder {
  color: rgba(0, 0, 0, 0.38) !important;
}

input[disabled] {
  text-transform: none !important;
}

/* error */
.below.error .toggle,
.error,
.ico-error,
cap-icon.error .ver-senha-password,
my-date-range-picker.error .mydrp .selectiongroup .btnpicker,
my-date-picker.error .mydp .selectiongroup .btnpicker {
  color: #b00020 !important;
}

.ico-error {
  float: right;
  position: relative;
  top: -35px;
  right: 14px;
  font-size: 20px;
}

.below.error,
dp-date-picker.error .dp-input-container .dp-picker-input,
.cap-inputText.error,
.cap-inputTextArea.error,
/* my-date-picker.error .mydp .selectiongroup, */
.cap-radiobutton.error:before,
my-date-range-picker.error .mydrp .selectiongroup {
  border: 2px solid #b00020 !important;
}

/* classes gerais */
.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* loader index.html */
.loader-initial {
  position: fixed;
  z-index: 100;
  background: white;
  width: 100%;
  height: 100%;
}

.loader-initial .fa {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* botão nova pesquisa */
.nova-pesquisa .cap-button {
  width: 195px !important;
  height: 36px !important;
  margin-top: -3px !important;
  float: right;
  padding: 0px 20px !important;
}

.nova-pesquisa .cap-button .busca {
  font-size: 20px !important;
}


/* style cap-select-multi */

.multiSelect {
  text-transform: none !important;
  box-shadow: 0px 2px 0px 0px #555 !important;
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
  margin-top: 0px !important;
  height: 49px !important;
  background-color: rgba(107, 191, 94, 0.5) !important;
  border-radius: 5px 5px 0px 0px !important;
}

.multiSelect .btn {
  text-transform: none !important;
  padding: 8px 0px 0px 11px !important;
  margin: 12px 0px 12px 0px !important;
  border-color: transparent !important;
}

.multiSelect .btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
}

.multiselect-dropdown .btn .selected-item {
  margin-right: 4px !important;
  background: rgba(107, 191, 94, 0.5) !important;
  color: #333 !important;
  border-radius: 2px !important;
  float: left !important;
  border-color: transparent !important;
  overflow: hidden;
  width: 66%;
  position: absolute;
}

.multiSelect .btn>span:first-child {
  position: absolute !important;
  max-width: 66% !important;
  overflow: hidden !important;
}

.multiselect-item-checkbox input[type=checkbox]:checked+div:before {
  background: rgba(107, 191, 94, 0.5) !important;
}

.multiselect-item-checkbox input[type=checkbox]+div:before {
  color: rgba(107, 191, 94, 0.5) !important;
  border: 2px solid rgba(107, 191, 94, 0.5) !important;
}

cap-multi-select label.label-input {
  overflow: hidden !important;
  margin: -1px 0px !important;
  height: 14px !important;
  background: transparent !important;
}
