.snackbars {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    z-index: 100;
    overflow: visible;
}

.snackbar {
    position: fixed;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    right: 0;
    top: 16px;
    transform-origin: center;
    will-change: transform, opacity;
    transition: transform 300ms ease, opacity 300ms ease;
    padding: 0 16px;
}

.snackbars-left {
    .snackbar {
        justify-content: start;
    }
}

.snackbars-right {
    .snackbar {
        justify-content: end;
    }
}

.snackbar[aria-hidden="false"] {
    -webkit-animation: snackbar-show 300ms ease 1;
    animation: snackbar-show 300ms ease 1;
}

.snackbar[aria-hidden="true"] {
    -webkit-animation: snackbar-hide 300ms ease forwards 1;
    animation: snackbar-hide 300ms ease forwards 1;
}

@media (max-width: 400px) {
    .snackbar {
        padding: 0 8px;
    }
}

@-webkit-keyframes snackbar-show {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes snackbar-show {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes snackbar-hide {
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes snackbar-hide {
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.snackbar--container {
    display: flex;
    background: #2a2a2a;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    color: #eee;
    cursor: default;
    margin-bottom: 10px;
    max-width: 700px;
    width: 100%;
}

.snackbar--text {
    flex: 1 1 auto;
    padding: 16px;
    font-size: 100%;
    min-width: 200px;
}

.snackbar--button {
    position: relative;
    flex: 0 1 auto;
    min-width: min-content;
    padding: 8px;
    height: 36px;
    margin: auto 8px auto -8px;
    background: none;
    border: none;
    border-radius: 3px;
    color: lightgreen;
    font-weight: inherit;
    letter-spacing: 0.05em;
    font-size: 100%;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 200ms ease;
    outline: none;
}

.snackbar--button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.snackbar--button:focus:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120%;
    height: 0;
    padding: 0 0 120%;
    margin: -60% 0 0 -60%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform-origin: center;
    will-change: transform;
    -webkit-animation: focus-ring 300ms ease-out forwards 1;
    animation: focus-ring 300ms ease-out forwards 1;
    pointer-events: none;
}

@-webkit-keyframes focus-ring {
    from {
        transform: scale(0.01);
    }
}

@keyframes focus-ring {
    from {
        transform: scale(0.01);
    }
}
