/** CSS Variables **/
:root {
    /** primary **/
    --custom-color-primary: #3880ff;
    --custom-color-primary-rgb: 56, 128, 255;
    --custom-color-primary-contrast: #ffffff;
    --custom-color-primary-contrast-rgb: 255, 255, 255;
    --custom-color-primary-shade: #3171e0;
    --custom-color-primary-tint: #4c8dff;

    /** secondary **/
    --custom-color-secondary: #3dc2ff;
    --custom-color-secondary-rgb: 61, 194, 255;
    --custom-color-secondary-contrast: #ffffff;
    --custom-color-secondary-contrast-rgb: 255, 255, 255;
    --custom-color-secondary-shade: #36abe0;
    --custom-color-secondary-tint: #50c8ff;

    /** success **/
    --custom-color-success: #2dd36f;
    --custom-color-success-rgb: 45, 211, 111;
    --custom-color-success-contrast: #ffffff;
    --custom-color-success-contrast-rgb: 255, 255, 255;
    --custom-color-success-shade: #28ba62;
    --custom-color-success-tint: #42d77d;

    /** warning **/
    --custom-color-warning: #ffc409;
    --custom-color-warning-rgb: 255, 196, 9;
    --custom-color-warning-contrast: #000000;
    --custom-color-warning-contrast-rgb: 0, 0, 0;
    --custom-color-warning-shade: #e0ac08;
    --custom-color-warning-tint: #ffca22;

    /** danger **/
    --custom-color-danger: #eb445a;
    --custom-color-danger-rgb: 235, 68, 90;
    --custom-color-danger-contrast: #ffffff;
    --custom-color-danger-contrast-rgb: 255, 255, 255;
    --custom-color-danger-shade: #cf3c4f;
    --custom-color-danger-tint: #ed576b;

    /** dark **/
    --custom-color-dark: #222428;
    --custom-color-dark-rgb: 34, 36, 40;
    --custom-color-dark-contrast: #ffffff;
    --custom-color-dark-contrast-rgb: 255, 255, 255;
    --custom-color-dark-shade: #1e2023;
    --custom-color-dark-tint: #383a3e;

    /** medium **/
    --custom-color-medium: #92949c;
    --custom-color-medium-rgb: 146, 148, 156;
    --custom-color-medium-contrast: #ffffff;
    --custom-color-medium-contrast-rgb: 255, 255, 255;
    --custom-color-medium-shade: #808289;
    --custom-color-medium-tint: #9d9fa6;

    /** light **/
    --custom-color-light: #f4f5f8;
    --custom-color-light-rgb: 244, 245, 248;
    --custom-color-light-contrast: #000000;
    --custom-color-light-contrast-rgb: 0, 0, 0;
    --custom-color-light-shade: #d7d8da;
    --custom-color-light-tint: #f5f6f9;
}

$customColors: ("primary", "secondary", "success", "warning", "danger", "dark", "medium", "light");
@each $color in $customColors {
    .custom-color-#{$color} {
        --custom-color-base: var(--custom-color-#{$color}) !important;
        --custom-color-base-rgb: var(--custom-color-#{$color}-rgb) !important;
        --custom-color-contrast: var(--custom-color-#{$color}-contrast) !important;
        --custom-color-contrast-rgb: var(--custom-color-#{$color}-contrast-rgb) !important;
        --custom-color-shade: var(--custom-color-#{$color}-shade) !important;
        --custom-color-tint: var(--custom-color-#{$color}-tint) !important;
    }
}
