.bt-confirmar {
    width: 270px;
    height: 40px;
    float: right;
    padding: 6.5px 29.5px;
    border: solid 1px #fff;
    background: #1f5794;
    color: #fff;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    cursor:pointer;
}

.bt-confirmar:hover {
    border: solid 1px #1f5794;
    color: #1f5794;
    background: #fff;
}