<div id="wrapper" class="water-mark">
  <cap-header [username]="usuario?.nome" rotaLogo="/#/dashboard" rotaPerfil="/#/dashboard/minha-conta"
    primerPage="/#/dashboard" (logout)="logout()" logoBrasilCap="../../../assets/img/logo-brasilcap.svg"
    logoSistema="../../../assets/img/posvenda.svg"></cap-header>
  <cap-menu [value]="items"></cap-menu>
  <cap-scrollUp></cap-scrollUp>

  <router-outlet></router-outlet>

</div>
