.password-strength {
    position: absolute;
    z-index: 9999;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding: 15px 20px;
    max-width: 265px;
    font-size: 14px;
    right: -280px;
    top: -2px;
    transition: all 1s;
    border: solid 1px #c9c9c9;
}

.password-strength .pw {
    display: flex;
    margin-bottom: 10px;
}

.password-strength i {
    margin-right: 10px;
    font-size: 18px;
}

.password-strength cap-icon.invalid i {
    opacity: 0.4;
}

.password-strength .hint {
    font-size: 12px;
    margin-top: 15px;
}

.password-strength .progressbar {
    display: block;
    height: 7px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 10px;
    background-color: rgba(158, 158, 158, 0.2);
}

.password-strength .progressbar .line {
    height: 5px;
    display: block;
    border-radius: 5px;
}

.password-strength .progressbar .line.nenhuma {
    background-color: #b00020;
    width: 0%;
}

.password-strength .progressbar .line.fraca {
    background-color: #b00020;
    width: 33%;
}

.password-strength .progressbar .line.media {
    background-color: #ffff66;
    width: 66%;
}

.password-strength .progressbar .line.forte {
    background-color: #00cc00;
    width: 100%;
}

.check-password::ng-deep svg {
    width: 15px;
    height: 15px;        
    margin-right: 10px;
    fill: #417505;   
          
}

.check-password.invalid::ng-deep svg {    
    fill: #c9c9c9;
    opacity: 0.7;
}

.sua-senha-deve-ter {    
    font-family: OpenSans, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;    
    color: #6e6e6e;
    padding-bottom: 10px;
  }

  .textos{  
    font-family: OpenSans, sans-serif;    
    font-weight: normal;
    color: #417505,   
    
  }

  .textos.invalid {
    color: #868e96;
  }

  .evite-usar-nomes-so {
    width: 211px;
    height: 38px;
    font-family: OpenSans, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6e6e6e;
  }  

  .seta-esquerda:before {
      position: absolute;
    content: "";
    background: #fff;
    display: inline-block;
    vertical-align: middle;    
    width: 10px; 
    height: 10px;   
    margin-left: -26px;
    border-bottom:solid 1px #c9c9c9;
    border-left:   solid 1px #c9c9c9;   
    transform: rotate(45deg)
    
  }

  .password-strength img {
      margin-right: 15px;
      max-width: 24px;
  }
  .img-senhaUpperAndLower {
      float: left;
      
  }
