
<div class="password-strength seta-esquerda">  
  <p class="sua-senha-deve-ter">Sua senha deve ter:</p>
  <div class="pw">   
      <img src="../../../assets/img/icon_check_ok.png" *ngIf="senhaLength">
      <img src="../../../assets/img/icon_check_normal.png" *ngIf="!senhaLength">
    <div class="textos" [class.invalid]="!senhaLength">8 ou mais caracteres</div>
  </div>
  <div class="pw">
    <div class="img-senhaUpperAndLower">
      <img src="../../../assets/img/icon_check_ok.png" *ngIf="senhaUpperAndLower">
      <img src="../../../assets/img/icon_check_normal.png" *ngIf="!senhaUpperAndLower">
    </div>

    <div class="textos" [class.invalid]="!senhaUpperAndLower">Uma letra maíuscula e uma minúscula</div>
  </div>
  <div class="pw">
    <img src="../../../assets/img/icon_check_ok.png" *ngIf="senhaNumber">
    <img src="../../../assets/img/icon_check_normal.png" *ngIf="!senhaNumber">
    <div class="textos" [class.invalid]="!senhaNumber">Um número</div>
  </div>
  <div class="pw">
      <img src="../../../assets/img/icon_check_ok.png" *ngIf="senhaSpecial">
    <img src="../../../assets/img/icon_check_normal.png" *ngIf="!senhaSpecial">
      
    <div class="textos" [class.invalid]="!senhaSpecial">Um caracter especial</div>
  </div>
  <div class="sua-senha-deve-ter">Nível de segurança: {{ forcaSenhaLabel }}</div>
  <div class="progressbar"><div class="line {{forcaSenha}}"></div></div>
  <div class="hint evite-usar-nomes-so">
    Evite usar nomes, sobrenomes, datas de nascimento ou telefones.
  </div>
</div>
