.content-header {

  h1 {
    margin-right: 20px;
  }

  .flex {
    display: flex;
  }

  .col-md-1 {
    margin-top: 20px;
  }

  cap-button::ng-deep button.cap-button.btn-ico {
    padding: 0 13px;
  }

  cap-hint::ng-deep .hintText {
    text-align: left;
    max-width: 250px;
    z-index: 5;
  }

  .p-r-15{
    padding-right: 15px;
  }
}
