<div class="content-header"
  [ngClass]="{ 'content-header-large': !novaPesquisa, 'content-header-medium': novaPesquisa  }">
  <div class="row">
    <div [class.flex]="textoHint" class="col-md-9">
      <h1>{{title}}</h1>
      <span *ngIf="!novaPesquisa">{{subtitle}}</span>
      <cap-hint texto="{{textoHint}}" *ngIf="textoHint"></cap-hint>
    </div>
    <div class="col-md-3 p-r-15" *ngIf="novaPesquisa">
      <cap-button label="Nova Pesquisa" icon="busca" class="nova-pesquisa" (click)="abrirPesquisa(false)">
      </cap-button>
    </div>
  </div>
  <form>
    <div class="row" *ngIf="!novaPesquisa">
      
      <ng-content></ng-content>

      <div class="col-md-1">
        <cap-button id="btn-buscar" icon="busca" styleClass="btn-ico" [disabled]="buttonDisabled" type="submit"
          (click)="buscar(); emitMenuEvent();">
        </cap-button>
      </div>
    </div>
  </form>
</div>
