<div [formGroup]="form" class="animated faster fadeIn">
  <div>
      <h1 class="title">Estorno</h1>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
        <cap-datepicker id="dataInicial" label="" placeholder="Informe a data inicial" mask="dd/mm/yy"
        formControlName="P_DATA_ESTORNO_INI">
        </cap-datepicker>
    </div>
    <div class="col-md-6 mb-3">
        <cap-datepicker id="dataFim" label="" placeholder="Informe a data fim" mask="dd/mm/yy"
        formControlName="P_DATA_ESTORNO_FIM">
        </cap-datepicker>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
        <cap-select
        [items]="listaMotivos" label=""
        name="P_ID_TIPO_ESTORNO" placeholder="Lista de motivos"
        formControlName="P_ID_TIPO_ESTORNO"
        [style]="style">
        </cap-select>
      <div *ngIf="f.P_ID_TIPO_ESTORNO.errors && (f.P_ID_TIPO_ESTORNO.dirty || f.P_ID_TIPO_ESTORNO.touched)">
        <div class="invalid-field" *ngIf="f.P_ID_TIPO_ESTORNO.errors?.required">Selecione um motivo</div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
        <cap-select
        [items]="listaTipos" label=""
        name="P_ID_TIPO_LIBERACAO" placeholder="Tipo de liberação"
        formControlName="P_ID_TIPO_LIBERACAO"
        [style]="style">
        </cap-select>
      <div *ngIf="f.P_ID_TIPO_LIBERACAO.errors && (f.P_ID_TIPO_LIBERACAO.dirty || f.P_ID_TIPO_LIBERACAO.touched)">
        <div class="invalid-field" *ngIf="f.P_ID_TIPO_LIBERACAO.errors?.required">Selecione um tipo</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
        <cap-datepicker id="dtLiber" label="" placeholder="Data inicial liberação" mask="dd/mm/yy"
        formControlName="P_DATA_LIBERACAO"
        >
        </cap-datepicker>
    </div>
    <div class="col-md-6 mb-3">
        <cap-datepicker id="dtPrev" label="" placeholder="Data fim liberação" mask="dd/mm/yy"
        formControlName="P_DATA_AGENDAMENTO_ESTORNO">
        </cap-datepicker>
    </div>
  </div>
</div>
