<div class="hint float-right">
  <div tabindex="-1" (blur)="clickOutside()">
    <svg [class.visible]="visible" focusable="true" viewBox="0 0 35.061 35.061"
      xmlns="http://www.w3.org/2000/svg" class="cursor-pointer" (click)="toggleHint()">
      <path
        d="M17.53 0a17.53 17.53 0 1 0 17.53 17.53A17.537 17.537 0 0 0 17.53 0zm1.753 29.8h-3.506v-3.5h3.506v3.5zm3.629-13.586l-1.578 1.613a5.968 5.968 0 0 0-2.051 4.961h-3.506v-.877a7.056 7.056 0 0 1 2.051-4.961L20 14.743a3.428 3.428 0 0 0 1.034-2.472 3.506 3.506 0 1 0-7.012 0h-3.504a7.012 7.012 0 1 1 14.024 0 5.578 5.578 0 0 1-1.63 3.944z"
        data-name="Help Icon" />
    </svg>

    <div class="hint-text" *ngIf="visible">
      {{texto}}
      <ng-content></ng-content>
    </div>
  </div>

</div>
