
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$boleto-primary: mat.define-palette(mat.$indigo-palette);
$boleto-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$boleto-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$boleto-theme: mat.define-light-theme((
  color: (
    primary: $boleto-primary,
    accent: $boleto-accent,
    warn: $boleto-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($boleto-theme);

@import "theme/cores.scss";
@import "theme/custom-snackbar.scss";
@import "theme/theme.scss";
@import "~flatpickr/dist/flatpickr.css";

@tailwind utilities;

.d-modal{
  @apply z-[9999];
}

.d-table {
  th,
  td {
    border-radius: 0 !important;
  }

  :where(thead, tfoot) :where(th, td) {
    @apply bg-transparent;
  }
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: "Open Sans", sans-serif;
}

body {
  color: $cinza-1;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

h2,
h3,
h4,
.error {
  font-weight: 600;
}

h1,
h2,
h3,
p {
  margin: 0;
}

//classes gerais
.wrapper {
  @apply absolute top-0 left-0 w-full h-full;
  background: url("./assets/img/bg_autoatd22.svg") no-repeat center;
}

.content {
  padding: 20px 45px;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (min-width: 1367px) {
  .content {
    width: 1200px;
    margin: auto;
  }
}

.bg {
  @apply bg-cover w-full relative overflow-y-auto;
  height: calc(100%);
}

.box {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  border: solid 2px $azul-3;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

.box-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.displayFlex {
  display: flex;
}

.flexGrow {
  flex-grow: 1;
}

//carousel
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 12px;
  background: transparent;
  border: solid 3px;
  @apply border-white;

  &.active {
    @apply bg-white;
  }
}

.carousel-item img {
  max-height: 100vh;
  object-fit: cover;
}

.carousel-indicators {
  z-index: 1;
}

.carousel-control-next,
.carousel-control-prev {
  display: none;
}

.crie-sua-conta-Reali {
  width: 350px;
  height: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #6e6e6e;
}

//table
.table {
  thead tr th,
  tbody tr td {
    border: none;
  }

  thead tr th {
    font-size: 16px;
    font-weight: 600;
  }

  tbody tr td {
    font-size: 14px;
  }
}

//small(Editar)
small {
  color: $azul-3;
  font-size: 12px;
  font-weight: 600;
}

/* slightly transparent fallback */
.backdrop {
  @apply w-full h-full fixed;
  @apply bg-opacity-80 bg-black;
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop {
    @apply bg-opacity-0 backdrop-blur;
  }
}

//cap-title, cap-sub-title e cap-text
.cap-title,
.cap-sub-title,
.cap-text {
  color: $azul-3;
}

.cap-text span {
  font-size: 14px;
  color: $cinza-1;
  font-weight: 400;
}

.form-group span.icon {
  position: absolute;
  right: 15px;
  top: 14px;
  font-size: 20px;
  color: #868e96;
}

.invalid-field {
  color: $erro;
  font-size: 12px;
  padding-top: 4px;
  display: block;
  font-weight: 600;
  font-style: italic;
}

input {
  outline: none;
  font-size: 16px;

  &:-webkit-autofill {
    box-shadow: 0 0 0 30px #f4f4f4 inset !important;
  }

  &.ng-touched.ng-invalid {
    border: 2px solid $erro;
  }
}

.input-invalid {
  border: 2px solid $erro !important;
}

.loading-img-btn {
  position: relative;
  top: -4px;
}

.pass-icon svg {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 45px;
  fill: #a9a9a9;
  float: right;
  right: 30px;
  display: block;
}

.input-default .password-strength {
  top: 35px !important;
}

.form-control {
  padding: 15px 15px 15px 20px !important;
}

.form-group input.ng-invalid.ng-touched,
.form-control.ng-invalid.nice-select.ng-touched {
  border: 2px solid $erro !important;
}

.datepicker-days {
  padding: 10px 20px 10px 20px;
  border-radius: 50%;
}

.datepicker table tr td,
.datepicker table tr th {
  font-size: 12px;
}

.form-control {
  font-size: 14px;
}

.form-control.nice-select {
  width: 100% !important;
  height: 50px !important;
  border: solid 1px #dddddd;
  background-color: #fbfbfb !important;
  border-radius: 3px !important;
  line-height: normal !important;
  cursor: pointer;
  box-shadow: none;
}

.nice-select .list {
  width: 100%;
}

.nice-select.open .list {
  max-height: 300px !important;
  overflow-y: auto !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) !important;
  border: 1px solid #ccc !important;
}

.animated {
  animation-fill-mode: unset !important;
}

.nice-select .list {
  max-height: 200px;
}

.caixa {
  @apply mt-8 mx-auto mb-6 py-10 px-8 w-full rounded-md border border-gray-300 bg-white;
  max-width: 70%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.btn {
  @apply bg-brasilcap-azul text-white flex space-x-2 justify-center items-center p-2 text-center;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3 all ease-in-out;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: $azul-2;
    transition: 0.3 all ease-in-out;
  }

  &:disabled {
    // color: $cinza-2;
    // border: 2px solid $cinza-2;
    // background-color: transparent;
    cursor: default;
    pointer-events: none;
    opacity: 0.7;
  }

  app-icon {
    @apply text-white text-xs;
  }

  &.outline {
    @apply text-brasilcap-azul border-brasilcap-azul bg-white border-2 border-solid;

    app-icon {
      @apply text-brasilcap-azul text-xs;
    }

    &:hover {
      color: $azul-2;
      border-color: $azul-2;

      app-icon {
        color: $azul-2;
      }
    }
  }
}

.title {
  color: $azul-1;
  opacity: 0.9;
  margin-bottom: 35px;
}

.subTitle {
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 25px;
}

input {
  &.true {
    border-color: $erro;
  }
}

.buttons {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .caixa {
    width: 90%;
    position: relative;
    min-height: unset !important;
    margin-bottom: calc(100% - 100px) !important;

    @apply py-10 px-8 top-8;
  }

  h1.title {
    font-size: 17px;
    font-weight: 600;
  }

  .form-check label.labelClass {
    font-size: 14px;
  }

  .btn {
    width: 100% !important;
  }

  .displayFlex {
    display: block;
  }

  .password-strength {
    right: unset !important;
  }

  .input-default .password-strength {
    top: 100px !important;
  }

  .seta-esquerda::before {
    -webkit-transform: rotate(135deg) !important;
    transform: rotate(135deg) !important;
    margin-left: 0px !important;
    top: -6px;
  }
}

.msg-error {
  width: 100%;
  color: $erro;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}

//modal
.modal-cap {
  position: absolute;
  top: 106.7px;
  left: 137px;
  width: calc(100% - 137px);
  height: calc(100% - 106.7px);
  z-index: 2;
  overflow-x: hidden;

  &-body {
    position: relative;
    left: calc(50% - 312px);
    padding: 16px 22px;
    width: 623.7px;
    border: solid 2px $azul-3;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    margin-bottom: 50px;
  }

  &-title {
    color: $azul-3;
  }
}

//telas de erro
.error-tela {
  background-color: $azul-2;
  width: 100%;
  height: calc(100% - 65px);
  background-size: cover;
  position: relative;
  top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  &-title {
    font-weight: bold;
    text-align: center;
    color: $amarelo-4;
    margin-bottom: 25px;
  }

  &-text {
    @apply text-white text-center;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
