<div class="content-wrapper animated faster fadeIn">
  <div class="content">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <div class="box animated faster fadeIn">
          <div class="title-box">Clientes
            <img class="pull-right" src="../../../assets/img/clientes.png">
          </div>
          <div class="detail-box">
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="box animated faster fadeIn">
          <div class="title-box">Solicitações
            <img class="pull-right" src="../../../assets/img/solicitacao.png">
          </div>
          <div class="detail-box">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box animated faster fadeIn">
          <div id="chart-map-parceiro-uf" style="width: 100%; height: 400px; display: block;"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box animated faster fadeIn">
          <div id="chart-parceiro-cliente" style="width: 100%; height: 400px; display: block;"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div id="center">
            <p>Solicitações por status </p>
          </div>
          <table class="table-solicitacoes">
            <thead>
              <tr>
                <th>Status</th>
                <div id="colDireita">
                  <th>Total</th>
                </div>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
