.title-box {
  font-size: 16px;
  color: #006bbb;
  font-weight: 500;
  margin-top: -10px;
  margin-bottom: 15px;
}

.detail-box {
  text-align: right;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 10px;
  font-weight: 500;
}

.box {
  text-align: left;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 10px;
  font-weight: 500;
}


#center {
  text-align: center;
  font-size: 17px;
  color: #000000
}

#colDireita {
  margin-left: 120px;
  padding: 0;
  line-height: 1.8em;

}


#colEsquerda {
  font-size: 16px;
  padding: 0;
  display: inline;
  margin-right: 5px;

}

.table-solicitacoes {
  font-size: 12px;
}

.no-breakline {
  white-space: nowrap;
}

.txt-right {
  text-align: right;
}