<div class="">
    <div class="box-not-found">
        
        <div class="center">
          <h1 class=" margin-20" ><i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i></h1>
          <h1 class="upper margin-20">ERRO 404</h1>
          <h3 class="upper margin-20">A PÁGINA QUE VOCÊ TENTOU ACESSAR NÃO FOI ENCONTRADA</h3>
          <a class="btn btn-primary" href="./#/dashboard/">voltar</a>
        </div>
        
    </div>
  </div>
  