<div class="styled-table {{table?.styleClass}}" style="{{table?.style}}" #grid>
      <div class="overflow-x-auto" style="border-radius: 5px">
          <table style="" >
              <thead>
                  <tr class="table-header">
                      <!--<th class="rounded-none" *ngFor="let t of theadTable">{{ t }}</th>-->
                      <th *ngFor="let header of table?.colunas; let i = index" nowrap>{{header}}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr  [style.cursor]="table?.eventClick ? 'pointer' : ''"
                      (click)="clicar(row)"  *ngFor="let row of table?.registrosPagina; let i = index" >
                      <td *ngFor="let objKey of table?.colunasRegistros; let j = index" nowrap>
                        {{ trataColunas(row[objKey]) }}
                      </td>
                  </tr>

              </tbody>
          </table>
      </div>
<!-- (pageChange)="setPage($event)" -->
      <app-paginator (pageChange)="setPage($event)" class="mx-4 my-4" [totalItems]="table?.quantidadeRegitros" [pageSize]="table?.tamanhoPagina"
          [maxPages]="5"></app-paginator>
</div>
