$cores-padrao: (
	#006bbb,//rgb(0,107,187)
	#008cde,//rgb(0,140,222)
	#77B9DB,
	#0c56a0,
  rgba(0, 161, 255, 0.3),
  #9DCAE4,
	#B5E2FB
);



$cores-cinza: (
	#666666,
	#f2f2f2,
	#eeeeee,
	#DDDDDD,
	#999999,
	#eaeaea,
	#f7f7f7,
	#F5F5F5,
	#BBBBBB,
	rgba(117, 117, 117, 0.2), //10 - bg do header da tabela
	rgba(0, 0, 0, 0.12), //11 - cor da borda da tabela
	rgba(117, 117, 117, 0.1) //12 - cor do hover da linha
);

$cores-verde:(
	#217f19,
);

$cores-vermelho:(
	#b20303,
);


$cor-fundo: #002e4d;
$cor-padrao-1: nth($cores-padrao, 1);
$cor-padrao-2: nth($cores-padrao, 2);
$cor-padrao-3: nth($cores-padrao, 3);
$cor-padrao-4: nth($cores-padrao, 4);
$cor-padrao-5: nth($cores-padrao, 5);
$cor-padrao-6: nth($cores-padrao, 6);
$cor-padrao-7: nth($cores-padrao, 7);

$cor-cinza-1: nth($cores-cinza, 1);
$cor-cinza-2: nth($cores-cinza, 2);
$cor-cinza-3: nth($cores-cinza, 3);
$cor-cinza-4: nth($cores-cinza, 4);
$cor-cinza-5: nth($cores-cinza, 5);
$cor-cinza-6: nth($cores-cinza, 6);
$cor-cinza-7: nth($cores-cinza, 7);
$cor-cinza-8: nth($cores-cinza, 8);
$cor-cinza-9: nth($cores-cinza, 9);
$cor-cinza-10: nth($cores-cinza, 10);
$cor-cinza-11: nth($cores-cinza, 11);
$cor-cinza-12: nth($cores-cinza, 12);

$cor-verde-1: nth($cores-verde, 1);

$cor-vermelho-1: nth($cores-vermelho, 1);
$cor-verde-1: nth($cores-verde, 1);

$cor-disable: #b3b3b3;
$cor-table-selected: #ededed;

$branco: #ffffff;
$preto: #000000;

$texto-padrao: rgba(0,0,0,0.87);
