@import "cores";

.red {
  color: $cor-vermelho-1 !important;
}
.alerta {
  color: $cor-vermelho-1 !important;
}
.sucesso {
  color: $cor-verde-1 !important;
}
.neutro {
  color: $preto !important;
}
.buttons .btnPesquisa button {
  margin-top: 25px;
}

.fix-btn {
  position: relative;
  top: 21px;
}
