@import "cores";

.float-right {
  float: right;
}

.marg0 {
  margin: 0px;
}

.cxBotaoPesquisa {
  padding: 2px;
}

.valorLabel {
  margin-top: 5px !important;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 0px !important;
}

.valorLabelProtocolo {
  font-size: 20px;
  margin: 0px;
}

.alerta {
  color: $cor-vermelho-1 !important;
}

.sucesso {
  color: $cor-verde-1 !important;
}

.neutro {
  color: $preto !important;
}

.headerClientes {
  padding-bottom: 75px;
}

#tabPanelClientes {
  position: relative;
  top: -72px;

  .nav-tabs {
    border-bottom: none;
    margin-left: 15px;
  }

  ul {
    margin-top: -20px;
  }
}

.dadosCliente,
.dadosProtocolo,
.dadosAtendimento {
  margin-top: 10px;
}

.dadosProtocolo {
  width: 270px;
  float: right;
  overflow: hidden;
  padding: 5px 10px;
}

.dadosProtocoloClosed {
  height: 60px;
}

.dadosProtocoloOpen {
  position: absolute;
  right: 15px;
  z-index: 99999;
  height: auto;
}

#descricao textarea {
  height: 150px;
}

.AbasEConteudo {
  margin-top: -62px !important;
}

.boxDadosCliente {
  margin-top: 15px;
}

.cap-radiobutton {
  display: inline;
}

.block {
  display: block;
}

.desejaRetorno,
.meioContato {
  margin-bottom: 15px;
  margin-top: 15px
}

.txt-right {
  text-align: right;
}

.btnCancelar .cap-button {
  margin-right: 26px;
  background-color: #fff;
  color: #000 !important;
}

.tituloLabel {
  font-family: Ubuntu;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #000000;
}

.arrowBtn {
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 3px 0px 0px 0px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.cxBotaoFinalizar {
  position: relative;
  margin-right: 40px;
  z-index: 10000;
  float: right;
  top: 20px;
}

.cxBotaoFinalizar .botaoFinalizar .cap-button {
  width: 230px;
  padding: 0;
  height: 36px;
  top: 0px;
}

.botaoFinalizar {
  position: relative;
  top: -20px;
}

.txtProtocolo {
  font-family: Ubuntu;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #000000;
  margin: 0px;
}

.lblTxtProtocolo {
  font-family: Ubuntu;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #5a5a5a;
  margin: 0px;
}

// css tabela de consulta titulos
.linhaPlano {
  cursor: pointer;
}

.linhaPlano:hover {
  background: rgba(0, 161, 255, 0.1) !important;
}

.table-striped>tbody>tr:nth-of-type(odd):hover {
  background-color: #f9f9f9 !important;
}

.ver-detalhe {
  display: table;
  margin: 0 auto;

  img {
    border: 1px solid #888;
    border-radius: 4px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
      background: $cor-padrao-2;
      border: 1px solid $cor-padrao-2;
    }
  }
}

.quickview {
  position: absolute;
  width: 280px;
  height: 100%;
  background: #f4f4f4;
  float: right;
  right: 0;
  z-index: 2;
  top: 0;
  transition: all 2s;

  .label-text-block {
    margin: 0 !important;
  }

  label,
  span {
    font-size: 12px !important;
    line-height: 12px;
    display: inline;
  }
}

.view-block {
  margin: 15px 0px;
}

.over {
  position: absolute;
  width: 100%;
  height: 100%;
  float: left;
  left: 0;
  z-index: 1;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 2s;
}

.d-block {
  display: block !important;
}

.view-block.datas {

  span,
  label {
    font-size: 12px !important;
  }
}

label.nuDemandaQuick {
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  left: 0 !important;
}

#tableConsultaFamiliaTitulo tr:nth-child(2) th {
  background: #fff;
  padding: 0;

  ng-select>div {
    border: none !important;
    height: 40px;
    width: 91px;
  }

  ng-select>div>div.single>div.toggle {
    line-height: 40px !important;
  }

  ng-select>div>div.single>div.toggle:before {
    font-size: 20px;
    color: #888;
  }
}

.boxTitulosCliente {
  min-height: 475px;
}

.overlay-loading {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;

  .fa-spinner:before {
    color: #fff;
  }

  .fa-spin {
    animation: fa-spin 2s infinite linear;
    margin: 0 auto;
    position: relative;
    left: 50%;
    margin-top: 310px;
    margin-left: -110px;
  }
}

.marg-top-20 {
  margin-top: 20px;
}
