@import "cores";

.alerta {
  color: $cor-vermelho-1 !important;
}

.sucesso {
  color: $cor-verde-1 !important;
}

.neutro {
  color: $preto !important;
}

.dadosDemanda {
  margin-top: 10px;
}

.boxDadosSolicitante,
.boxDadosResponsavel {
  background: #eee;
}

.valorLabel {
  margin-top: 5px !important;
}

#descricao textarea,
#resposta textarea {
  height: 150px;
}

#btnAssumir {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  left: 15px;
}

.boxDadosResponsavel label {
  left: 9px !important;
  background: rgba(238, 238, 238, 1);
  background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top,
    left bottom,
    color-stop(0%, rgba(238, 238, 238, 1)),
    color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgb(255, 255, 255) 100%);
}

.bgTransparant label.switch-label,
.bgTransparant label.cap-checkbox {
  top: 10px !important;
  background: transparent !important;
}

.help-text-reclassificar {
  margin: 15px 10px;
  font-size: 12px;
  letter-spacing: 0.4px;
}

#tabPanelDemanda {
  position: relative;
  top: -72px;
}

.nav-tabs {
  border-bottom: none;
  margin-left: 15px;
}

.headerDemanda {
  padding-bottom: 75px;
}

cap-button.botaoFinalizar>button.cap-button {
  margin-top: 15px;
}

.linhaDemanda {
  cursor: pointer;
}

.linhaDemanda:hover {
  background: rgba(0, 161, 255, 0.1);
}

.ver-detalhe {
  display: table;
  margin: 0 auto;

  img {
    border: 1px solid #888;
    border-radius: 4px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
      background: $cor-padrao-2;
      border: 1px solid $cor-padrao-2;
    }
  }
}

.quickview {
  position: absolute;
  width: 280px;
  height: 100%;
  background: #f4f4f4;
  float: right;
  right: 0;
  z-index: 2;
  top: 0;
  transition: all 2s;

  .label-text-block {
    margin: 0 !important;
  }

  label,
  span {
    font-size: 14px !important;
    line-height: 14px;
    display: inline;
  }
}

.view-block {
  margin: 15px 0px;
}

.over {
  position: absolute;
  width: 100%;
  height: 100%;
  float: left;
  left: 0;
  z-index: 1;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 2s;
}

.d-block {
  display: block !important;
}

.view-block.datas {

  span,
  label {
    font-size: 12px !important;
  }
}

label.nuDemandaQuick {
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  left: 0 !important;
}

#tabPanelDemanda>div>cap-tab:nth-child(1)>div>div>table>thead>tr:nth-child(2)>th {
  background: #fff;
  padding: 0;

  ng-select>div {
    border: none !important;
    height: 40px;
  }

  ng-select>div>div.single>div.toggle {
    line-height: 40px !important;
  }

  ng-select>div>div.single>div.toggle:before {
    font-size: 20px;
    color: #888;
  }
}

.box.fila {
  min-height: 580px;
}

.text-right {
  text-align: right;
}

cap-icon.foraPrazo i {
  float: left;
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
}

cap-select.grupo>label.disabled {
  background: linear-gradient(to bottom, #fff 0%, #eeeeee 100%);
}

.col-5 {
  width: 5%;
}

.col-10 {
  width: 10%;
}

.col-20 {
  width: 20%;
}

.col-15 {
  width: 15%;
}

#btnAtualizar {
  button.cap-button {
    top: 25px !important;
  }
}

.m-t-15 {
  margin-top: 15px;
}
