@import "cores";

.red {
  color: $cor-vermelho-1 !important;
}

.alerta {
  color: $cor-vermelho-1 !important;
}

.sucesso {
  color: $cor-verde-1 !important;
}

.neutro {
  color: $preto !important;
}

.bgTransparant label.switch-label,
.bgTransparant label.cap-checkbox {
  top: 10px !important;
  background: transparent !important;
}

.linhaPlano:hover {
  background: rgba(0, 161, 255, 0.1);
}

.ver-detalhe {
  cursor: pointer;
  display: table;
  margin: 0 auto;

  img {
    border: 1px solid #888;
    border-radius: 4px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
      background: $cor-padrao-2;
      border: 1px solid $cor-padrao-2;
    }
  }
}

.quickview {
  position: absolute;
  width: 280px;
  height: 100%;
  background: #f4f4f4;
  float: right;
  right: 0;
  z-index: 2;
  top: 0;
  transition: all 2s;

  .label-text-block {
    margin: 0 !important;
  }

  label,
  span {
    font-size: 14px !important;
    line-height: 14px;
    display: inline;
  }
}

.view-block {
  margin: 15px 0px;
}

.over {
  position: absolute;
  width: 100%;
  height: 100%;
  float: left;
  left: 0;
  z-index: 1;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 2s;
}

.quickview label,
.quickview span {
  left: 0px !important;
  background: transparent !important;
  font-size: 14px !important;
  line-height: 14px;
  display: inline;
}

.d-block {
  display: block !important;
}

.view-block.datas {

  span,
  label {
    font-size: 12px !important;
  }
}

.content-header label {
  top: 0px !important;
}

.content-header .cap-inputText {
  top: -24px !important;
  position: relative;
}

.labelCount {
  font-size: 16px;
}

.numberCount {
  font-family: Ubuntu;
  font-size: 34px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

#tableConsultaTitulos>thead>tr:nth-child(2)>th {
  background: #fff;
  padding: 0;

  ng-select>div {
    border: none !important;
    height: 40px;
  }

  ng-select>div>div.single>div.toggle {
    line-height: 40px !important;
  }

  ng-select>div>div.single>div.toggle:before {
    font-size: 20px;
    color: #888;
  }
}

#tableConsultaTitulos tbody tr td ng-select>div {
  border: none !important;
  height: 40px;
}

table.table thead tr th {
  font-size: 12px;
  font-family: "ubuntu-regular";
  font-weight: normal;
  text-transform: none;
  color: #666;
  background: rgba(117, 117, 117, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.table>tbody>tr>td {
  border: 1px solid rgba(0, 0, 0, 0.12);
  vertical-align: middle !important;
}

ng-select>div>div.single>div.toggle:before {
  content: "\E90A";
  font-size: 22px;
  color: #888888;
}

#tableConsultaTitulos ng-select>div>div.single>div.toggle {
  width: 20px !important;
}

.btn-menor button {
  font-size: 10px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.9px !important;
  height: 24px !important;
  padding: 0 10px !important;
}

.boxTitulosPorCpf {
  width: 768px;
  float: left;
}

.content-quickview {
  height: 100%;
  overflow: auto;
}

.boxExtrato {
  width: 296px;
  height: 381px;
  float: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.borderDivi {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.borderDivi2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

.cinza {
  font-family: Ubuntu;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #a1a1a1;
}

.verde {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #417505;
}

.vermelho {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #e61313;
}

.azul {
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #0068a5;
}

.dvExportar {
  margin-top: 10px;
}
