@import "cores";

.bgTransparant label.switch-label,
.bgTransparant label.cap-checkbox {
  top: 10px !important;
  background: transparent !important;
}

.linhaPlano:hover {
  background: rgba(0, 161, 255, 0.1);
}

.ver-detalhe {
  display: table;
  margin: 0 auto;

  img {
    border: 1px solid #888;
    border-radius: 4px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
      background: $cor-padrao-2;
      border: 1px solid $cor-padrao-2;
    }
  }
}

.fix-btn-search {
  position: relative;
  top: 20px;
}

.box.fila {
  min-height: 580px;
}

.text-right {
  text-align: right;
}

cap-icon.foraPrazo i {
  float: left;
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
}

cap-select.grupo>label.disabled {
  background: linear-gradient(to bottom, #fff 0%, #eeeeee 100%);
}

.col-5 {
  width: 5%;
}

.col-10 {
  width: 10%;
}

.col-20 {
  width: 20%;
}

.col-15 {
  width: 15%;
}

table thead tr th {
  font-size: 12px;
  font-family: "ubuntu-regular";
  font-weight: normal;
  text-transform: none;
  color: #666;
  background: rgba(117, 117, 117, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.table>tbody>tr>td {
  border: 1px solid rgba(0, 0, 0, 0.12);
  vertical-align: middle !important;
}

.switch-label {
  min-width: 0 !important;
}

.boxControleApuracao {
  min-height: 351px;
}

.marg-right-15 {
  margin-right: 15px;
}

.marg-right-11 {
  margin-right: 11px;
}

.btn-download button {
  font-size: 10px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.9px !important;
  height: 24px !important;
  padding: 0 10px !important;
}

@media screen and (max-width: 720px) {
  .fix-btn-search {
    position: relative;
    top: 5px;
  }
}

.content-header cap-button::ng-deep .cap-button {
  width: 40px;
  height: 40px;

  .busca {
    left: -12px !important;
  }
}

:host ::ng-deep .mydp .selection{
  height: 40px !important;
}

.m-t-5{
  margin-top: -5px;
}

.m-t-25{
  margin-top: -25px;
}