// menu
:host ::ng-deep {
  ul.list li:hover {
    border-top: 2px solid rgba(0, 140, 222, 0.2) !important;
    border-bottom: 2px solid rgba(0, 140, 222, 0.5) !important;
  }

  .menu-item:hover {
    background-color: rgba(0, 140, 222, 0.2) !important;
  }

  .menuActive {
    background-color: rgba(0, 140, 222, 0.1) !important;
  }

  .ativado:after {
    background-color: #008cde !important;
  }
}

// marca d´agua
.water-mark {
  background: url(../../assets/img/logo-marca-dagua.png) no-repeat right bottom;
}