@import "cores";

.red {
  color: $cor-vermelho-1 !important;
}
.alerta {
  color: $cor-vermelho-1 !important;
}
.sucesso {
  color: $cor-verde-1 !important;
}
.neutro {
  color: $preto !important;
}

.content-header .helper-text {
    padding-left: 0px;
}