@import "cores";

.bgTransparant label.switch-label,
.bgTransparant label.cap-checkbox {
  top: 10px !important;
  background: transparent !important;
}

.linhaPlano:hover {
  background: rgba(0, 161, 255, 0.1);
}

.ver-detalhe {
  cursor: pointer;
  display: table;
  margin: 0 auto;
  img {
    border: 1px solid #888;
    border-radius: 4px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      background: $cor-padrao-2;
      border: 1px solid $cor-padrao-2;
    }
  }
}

.quickview {
  position: absolute;
  width: 280px;
  height: 100%;
  background: #f4f4f4;
  float: right;
  right: 0;
  z-index: 2;
  top: 0;
  transition: all 2s;

  .label-text-block {
    margin: 0 !important;
  }

  label,
  span {
    font-size: 14px !important;
    line-height: 14px;
    display: inline;
  }
}

.view-block {
  margin: 15px 0px;
}
.over {
  position: absolute;
  width: 100%;
  height: 100%;
  float: left;
  left: 0;
  z-index: 1;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 2s;
}

.quickview label,
.quickview span {
  left: 0px !important;
  background: transparent !important;
  font-size: 14px !important;
  line-height: 14px;
  display: inline;
}

.d-block {
  display: block !important;
}

.view-block.datas {
  span,
  label {
    font-size: 12px !important;
  }
}

#tableVerificaApuracaoTitulo > thead > tr:nth-child(2) > th {
  background: #fff;
  padding: 0;

  ng-select > div {
    border: none !important;
    height: 40px;
  }
  ng-select > div > div.single > div.toggle {
    line-height: 40px !important;
  }
  ng-select > div > div.single > div.toggle:before {
    font-size: 20px;
    color: #888;
  }
}

#tableVerificaApuracaoTitulo tbody tr td ng-select > div {
  border: none !important;
  height: 40px;
}

.box.fila {
  min-height: 580px;
}

.text-right {
  text-align: right;
}

.pad-left-right-10 {
  padding: 0 5px !important;
}

cap-icon.foraPrazo i {
  float: left;
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
}

cap-select.grupo > label.disabled {
  background: linear-gradient(to bottom, #fff 0%, #eeeeee 100%);
}

.col-5 {
  width: 5%;
}
.col-10 {
  width: 10%;
}
.col-20 {
  width: 20%;
}
.col-15 {
  width: 15%;
}

table thead tr th {
  font-size: 12px;
  font-family: "ubuntu-regular";
  font-weight: normal;
  text-transform: none;
  color: #666;
  background: rgba(117, 117, 117, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.switch-label {
  min-width: 0 !important;
}

.btn-menor button {
  font-size: 10px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.9px !important;
  height: 24px !important;
  padding: 0 10px !important;
}

.content-header .mydp {
  display: block;
}

.table > tbody > tr > td {
  border: 1px solid rgba(0, 0, 0, 0.12);
  vertical-align: middle !important;
}

.selectStatusAprovacao {
  border-radius: 5px;
  padding: 10px;
  float: left;
  cursor: pointer;
}

.txtAreaObsStatusApto {
  width: 100%;
  border-radius: 5px;
}

.containerTxtArea {
  float: left;
  margin-top: 15px;
  label {
    position: absolute;
    top: 53px;
  }
}

ng-select > div > div.single > div.toggle:before {
  content: "\E90A";
  font-size: 22px;
  color: #888888;
}

#tableVerificaApuracaoTitulo ng-select > div > div.single > div.toggle {
  width: 20px !important;
}

.btn-download button {
  font-size: 10px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.9px !important;
  height: 24px !important;
  padding: 0 10px !important;
}

.listaTitulos {
  min-height: 652px !important;
}

.content-header .helper-text {
  padding-left: 0px;
}

.txtAreaObsStatusAprovacao {
  width: 100%;
  border-radius: 5px;
}

#swal2-content {
  display: inline-block !important;
}

.linhaBtnDownload {
  margin-top: 0px;
}

.fix-line-height {
  line-height: 9px;
}