@import 'cores';

.pagination {
  width: 100%;
  position: relative;
  flex: 1;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: left;
  font-family: Ubuntu-Regular;
  font-size: 12px;

}

.description {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.page-counts {
  margin-right: 50px;
}

.numbers {
  display: block;
  text-align: left;
  flex: 1;
}

button {
  flex: 0 0 auto;
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  background-color: $cor-padrao-2;
  color: #fff;
  padding: 3px 10px 5px 10px;
  max-width: 40px;
  min-width: 24px;
  height: 24px;
}

button.active {
  background-color: $cor-padrao-3;
}

button.prev {
  margin-right: -3px;
}

button.next {
  margin-left: -3px;
}

button.disabled {
  background-color: #B4B4B4;
  cursor: default;
}

button.first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: -3px;
}

button.last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -3px;
}

button.btnPaginacao {
  background: #FFF !important;
  color: #000 !important;
  border-bottom: 1px solid #999 !important;
  max-width: 100% !important;
  height: 24px !important;
  cursor: default;
}

@media screen and (max-width: 747px) {
  .pagination {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 427px) {
  button {
    max-width: 30px;
    min-width: 30px;
  }
}

@media screen and (max-width: 337px) {
  button {
    padding: 10px;
    max-width: 30px;
    min-width: 30px;
  }

  button {
    padding: 10px 5px 10px 5px;
    max-width: 25px;
    min-width: 25px;
  }
}
