@import "cores";

* {
  font-family: Ubuntu;
}

#wrapper {
  overflow: hidden !important;
}

.cap-menu,
.cap-button {
  background-color: $cor-padrao-1;
}

.main-header .logo,
.menu-item:hover {
  background-color: $cor-padrao-2 !important;
}

.content-login {
  background-image: linear-gradient(54deg, rgb(0, 61, 114), rgb(1, 111, 176));
}

.content-header {
  background-color: $cor-padrao-5 !important;

  cap-button cap-icon .busca {
    font-size: 24px !important;
  }

  .cap-inputText.sm {
    padding: 15px 10px;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px $cor-padrao-6 inset !important;
  }

  my-date-picker .mydp .selectiongroup input,
  my-date-range-picker .mydrp .selectiongroup input,
  ng-select>div,
  .mydrp .selection,
  .cap-inputText {
    background-color: $cor-padrao-6 !important;
  }

  cap-monthpicker .dp-input-container input {
    border: none !important;
    border-bottom: 1px solid #f5f5f5 !important;
    border-radius: 0px !important;
    border-bottom: 1px solid #757575 !important;
    background-color: $cor-padrao-6 !important;
    padding: 12px 12px 0px 12px;
  }
}

// .content-header-medium {
//   my-date-range-picker .mydrp .selectiongroup input,
//   my-date-picker .mydp .selectiongroup input,
//   ng-select>div>div.single>div.toggle,
//   ng-select>div>div.single>div.value {
//     line-height: 40px !important;
//     padding-top: 0 !important;
//   }

//   my-date-range-picker .mydrp .selbtngroup,
//   my-date-picker .mydp .selbtngroup {
//     height: 40px !important;
//   }
// }

.bootstrap-select.btn-group .dropdown-toggle .filter-option,
.icon-select {
  color: $texto-padrao;
}

.daycell span,
.mydp .daycell,
.mydp .monthcell,
.mydp .weekdaytitle,
.mydp .yearcell {
  font-size: 12px !important;
}

.help-block.text-danger {
  font-size: 12px;
  color: #b00020;
  font-weight: 500;
  position: relative;
  top: -10px;
  left: 14px;
}

//toast
#toast-container {
  z-index: 10000;
}

.toast-close-button {
  float: right;
  background: none;
  border: none;
  font-size: 35px;
  line-height: 20px;
  outline: none;
}

.dropdown-menu>a>li:hover {
  border-left: 5px solid $cor-padrao-2 !important;
}

//tipos de labels
.label-text {
  margin: 10px 0px;

  label {
    background-color: transparent;
    top: 0;
    left: 0;
    display: inline;
    font-size: 14px;
    padding: 0;
  }

  span {
    font-size: 14px;
    display: inline;
    position: relative;
    top: 1px;
  }
}

.label-text-inline {
  label {
    background-color: transparent;
    top: 0;
    left: 0;
    display: inline-block;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }

  span {
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: 1px;
  }
}

.label-text-block {
  margin: 10px 0px;

  label {
    background-color: transparent;
    top: 0;
    left: 0;
    display: block;
    font-size: 12px;
    padding: 0;
  }

  span {
    font-size: 12px;
    display: block;
  }
}

// Audio
.brcap-ico.tocar,
.brcap-ico.volumeon {
  color: #006db5 !important;
  font-size: 25px !important;
  border: 1px solid #006db5 !important;
  border-radius: 6px !important;
  cursor: pointer;
}

.brcap-ico.volumeon {
  position: relative;
  top: -5px;
  left: -14px;
}

.dividerPlayer {
  font-size: 10px;
  position: relative;
  top: -7px;
  left: -3px;
}

//btnFormaContato
.btnFormaContato {
  width: 30px !important;
  height: 30px !important;
  padding: 4px 15px !important;
  margin: 0px !important;
}

cap-icon.iconFormaContato i {
  position: relative;
  top: -8px;
  left: 1.5px;
}

// cap-toggle
cap-toggle {
  label {
    margin: 0 16px !important;
    padding: 2px 0 0px 44px !important;
    background: transparent;
  }

  &[ng-reflect-model="true"] .switch-label:before {
    background: #78bee7 !important;
  }

  &[ng-reflect-model="S"] .switch-label:before {
    background: #78bee7 !important;
  }
}

.switch-label:after {
  background: $cor-padrao-1 !important;
}

// cap-checkbox
cap-checkbox[ng-reflect-model="true"] label:before {
  background: $cor-padrao-1 !important;
  border: 2px solid $cor-padrao-1 !important;
}

cap-select.grupo[ng-reflect-is-disabled="true"] label {
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

//cap-tabPanel
.cap-tabPanel>li.active>a {
  background-color: rgba(0, 107, 187, 0.42) !important;
}

#tabPanelDemanda .label-text-block label {
  font-size: 18px;
}

cap-tabPanel .cap-tabPanel>li:hover>a {
  background-color: rgba(0, 140, 222, 0.5) !important;
}

.nav-tabs>li.active>a {
  border-bottom: 2px solid #0059a3 !important;
}

.cap-tabPanel>li.disabled>a {
  color: rgba(0, 0, 0, 0.6) !important;
}

.cap-tabPanel>li>a {
  color: $preto !important;
}

.titulo-form {
  margin-top: 0px;
}

// Interação dos componentes
.content-header .cap-inputText.form-control:focus,
.content-header my-date-picker .mydp .selectiongroup input:focus,
.content-header ng-select>div:focus,
.content-header my-date-picker .mydp .selectiongroup input:focus,
.content-header my-date-range-picker .mydrp .selectiongroup input:focus,
.content-header ng-select .below:focus,
.content-header .form-control:focus {
  border-bottom: 2px solid $cor-padrao-2 !important;
}

.content ng-select .below:focus,
.content .cap-inputText.form-control:focus {
  border: 2px solid $cor-padrao-2 !important;
}

// Swal
.swal2-cancel {
  display: inline-block;
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid#9e9e9e !important;
}

.swal2-icon.swal2-warning {
  color: #9e9e9e !important;
  border-color: #9e9e9e !important;
}

.alignItemRowCenter {
  display: flex;
  align-items: center;
}

.func-label .item i {
  float: right;
  position: relative;
  top: -11px;
  font-size: 24px;
  cursor: pointer;
}

.nav-tabs {
  border: none !important;
}

//cap-button
.cap-button {
  top: 0 !important;

  &:hover {
    opacity: 0.8;
  }

  &[disabled] {
    opacity: 0.38;

    .brcap-ico {
      pointer-events: none;
    }
  }

  .brcap-ico {
    left: -10px;
    position: relative !important;
    top: 0px !important;
    font-size: 20px;
  }
}

cap-button {
  &.btn-voltar {
    position: relative;
    top: 15px;
    float: right;
  }

  &.btn-pesquisar-apuracao {
    position: relative;
    top: 6px !important;

    i {
      left: 7px !important;
    }
  }

  &.liberacao-pgt button {
    display: table !important;
    margin: 0 auto !important;
  }
}

div.inline-radio .cap-radiobutton {
  display: inline;
}

.inconsistente {

  input,
  textarea,
  ng-select>div>div.single {
    border: 1px solid #b20020 !important;
    border-radius: 4px;
  }

  ng-select>div {
    border: none !important;
  }

  .mydp .selectiongroup {
    border: none !important;
  }

  label {
    color: #b20020 !important;
  }
}

.box .mydp .selection {
  border: 1px solid #757575 !important;
}

small.msg {
  position: relative;
  font-size: 11px;
  left: 10px;
  margin-right: 20px;
  display: block;
}

.error {
  small {
    position: relative;
    top: 3px;
    left: 10px;
    color: #b20303;
    font-size: 11px;
    display: block;
  }

  small.radio {
    display: block;
    left: 0;
  }

  my-date-picker .selectiongroup,
  cap-inputtext input,
  cap-inputtextarea textarea,
  ng-select>div.below {
    border: 1px solid #b20303 !important;
  }

  label {
    color: #b20303 !important;
  }

  i {
    float: right;
    top: -45px;
    position: relative;
    transform: scale(1.5);
    right: 15px;
    color: #b20303;
  }
}

cap-icon.fecharExtrato {
  cursor: pointer;
  position: absolute;
  display: block;
  z-index: 3;
  top: 0px;
  right: 25px;
}

.btn-exportar {
  margin-left: 10px !important;
}

//Calendário de sorteios
.fc button,
.fc table,
body .fc {
  font-size: 1em;
}

.fc-bg,
.fc-row .fc-bgevent-skeleton,
.fc-row .fc-highlight-skeleton {
  bottom: 0;
}

.fc-icon,
.fc-unselectable {
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

.fc {
  direction: ltr;
  text-align: left;
}

.fc-rtl {
  text-align: right;
}

.fc th,
.fc-basic-view td.fc-week-number,
.fc-icon,
.fc-toolbar {
  text-align: center;
}

.fc-highlight {
  background: #bce8f1;
  opacity: 0.3;
}

.fc-bgevent {
  background: #8fdf82;
  opacity: 0.3;
}

.fc-nonbusiness {
  background: #d7d7d7;
}

.fc button {
  box-sizing: border-box;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  box-shadow: none;
  border-color: #757575;
}

.fc button::-moz-focus-inner {
  margin: 0;
  padding: 0;
}

.fc-state-default {
  border: 1px solid;
  background-color: $cor-cinza-8;
  background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
  background-image: -o-linear-gradient(top, #fff, #e6e6e6);
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-state-default.fc-corner-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.fc-state-default.fc-corner-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.fc button .fc-icon {
  position: relative;
  top: -0.05em;
  margin: 0 0.2em;
  vertical-align: middle;
}

.fc-state-active,
.fc-state-disabled,
.fc-state-down,
.fc-state-hover {
  color: #333;
  background-color: #e6e6e6;
}

.fc-state-hover {
  color: #333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.fc-state-active,
.fc-state-down {
  background-color: #ccc;
  background-image: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-state-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  box-shadow: none;
}

.fc-event.fc-draggable,
.fc-event[href],
.fc-popover .fc-header .fc-close,
a[data-goto] {
  cursor: pointer;
}

.fc-button-group {
  display: inline-block;
}

.fc .fc-button-group>* {
  float: left;
  margin: 0 0 0 -1px;
}

.fc .fc-button-group> :first-child {
  margin-left: 0;
}

.fc-popover {
  position: absolute;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.fc-popover .fc-header {
  padding: 10px 15px;
}

.fc-popover .fc-header .fc-title {
  margin: 0 2px;
}

.fc-ltr .fc-popover .fc-header .fc-title,
.fc-rtl .fc-popover .fc-header .fc-close {
  float: left;
}

.fc-ltr .fc-popover .fc-header .fc-close,
.fc-rtl .fc-popover .fc-header .fc-title {
  float: right;
}

.fc-divider {
  border-style: solid;
  border-width: 1px;
}

hr.fc-divider {
  height: 0;
  margin: 0;
  padding: 0 0 2px;
  border-width: 1px 0;
}

.fc-bg table,
.fc-row .fc-bgevent-skeleton table,
.fc-row .fc-highlight-skeleton table {
  height: 100%;
}

.fc-clear {
  clear: both;
}

.fc-bg,
.fc-bgevent-skeleton,
.fc-helper-skeleton,
.fc-highlight-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fc table {
  width: 100%;
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.fc td {
  border-style: solid;
  border-width: 1px;
  padding: 0;
  vertical-align: top;
}

.fc th {
  border: none;
}

.fc td.fc-today {
  border-style: double;
}

a[data-goto]:hover {
  text-decoration: underline;
}

.fc .fc-row {
  border-style: solid;
  border-width: 0;
}

.fc-row table {
  border-left: 0 hidden transparent;
  border-right: 0 hidden transparent;
  border-bottom: 0 hidden transparent;
}

.fc-row:first-child table {
  border-top: 0 hidden transparent;
}

.fc-row {
  position: relative;
}

.fc-row .fc-bg {
  z-index: 1;
}

.fc-row .fc-bgevent-skeleton td,
.fc-row .fc-highlight-skeleton td {
  border-color: transparent;
}

.fc-row .fc-bgevent-skeleton {
  z-index: 2;
}

.fc-row .fc-highlight-skeleton {
  z-index: 3;
}

.fc-row .fc-content-skeleton {
  position: relative;
  z-index: 4;
  padding-bottom: 2px;
}

.fc-row .fc-helper-skeleton {
  z-index: 5;
}

.fc .fc-row .fc-content-skeleton table,
.fc .fc-row .fc-helper-skeleton td {
  background: 0 0;
  border-color: transparent;
}

.fc-row .fc-content-skeleton td,
.fc-row .fc-helper-skeleton td {
  border-bottom: 0;
}

.fc-row .fc-content-skeleton tbody td,
.fc-row .fc-helper-skeleton tbody td {
  border-top: 0;
}

.fc-scroller {
  -webkit-overflow-scrolling: touch;
}

.fc-icon,
.fc-row.fc-rigid,
.fc-time-grid-event {
  overflow: hidden;
}

.fc-scroller>.fc-day-grid,
.fc-scroller>.fc-time-grid {
  position: relative;
  width: 100%;
}

.fc-event {
  position: relative;
  display: block;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.3;
  border-radius: 11px;
}

.fc-event,
.fc-event-dot {
  background-color: #3a87ad;
}

.fc-event,
.fc-event:hover {
  color: #fff;
  text-decoration: none;
}

.fc-not-allowed,
.fc-not-allowed .fc-event {
  cursor: not-allowed;
}

.fc-event .fc-bg {
  z-index: 1;
  background: #fff;
  opacity: 0.25;
}

.fc-event .fc-content {
  position: relative;
  z-index: 2;
  padding: 4px 5px;
  text-overflow: ellipsis;
}

.fc-event .fc-resizer {
  position: absolute;
  z-index: 4;
  display: none;
}

.fc-event.fc-allow-mouse-resize .fc-resizer,
.fc-event.fc-selected .fc-resizer {
  display: block;
}

.fc-event.fc-selected .fc-resizer:before {
  content: "";
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
}

.fc-event.fc-selected {
  z-index: 9999 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.fc-event.fc-selected.fc-dragging {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.fc-h-event.fc-selected:before {
  content: "";
  position: absolute;
  z-index: 3;
  top: -10px;
  bottom: -10px;
  left: 0;
  right: 0;
}

.fc-ltr .fc-h-event.fc-not-start,
.fc-rtl .fc-h-event.fc-not-end {
  margin-left: 0;
  border-left-width: 0;
  padding-left: 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.fc-ltr .fc-h-event.fc-not-end,
.fc-rtl .fc-h-event.fc-not-start {
  margin-right: 0;
  border-right-width: 0;
  padding-right: 1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.fc-ltr .fc-h-event .fc-start-resizer,
.fc-rtl .fc-h-event .fc-end-resizer {
  cursor: w-resize;
  left: -1px;
}

.fc-ltr .fc-h-event .fc-end-resizer,
.fc-rtl .fc-h-event .fc-start-resizer {
  cursor: e-resize;
  right: -1px;
}

.fc-h-event.fc-allow-mouse-resize .fc-resizer {
  width: 7px;
  top: -1px;
  bottom: -1px;
}

.fc-h-event.fc-selected .fc-resizer {
  border-radius: 4px;
  border-width: 1px;
  width: 6px;
  height: 6px;
  border-style: solid;
  border-color: inherit;
  background: #fff;
  top: 50%;
  margin-top: -4px;
}

.fc-ltr .fc-h-event.fc-selected .fc-start-resizer,
.fc-rtl .fc-h-event.fc-selected .fc-end-resizer {
  margin-left: -4px;
}

.fc-ltr .fc-h-event.fc-selected .fc-end-resizer,
.fc-rtl .fc-h-event.fc-selected .fc-start-resizer {
  margin-right: -4px;
}

.fc-day-grid-event {
  margin: 5px 2px 0;
  padding: 0 1px;
}

tr:first-child>td>.fc-day-grid-event {
  margin-top: 10px;
}

.fc-day-grid-event.fc-selected:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background: #000;
  opacity: 0.25;
}

.fc-day-grid-event .fc-content {
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.fc-day-grid-event .fc-time {
  font-weight: 700;
}

.fc-ltr .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer,
.fc-rtl .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer {
  margin-left: -2px;
}

.fc-ltr .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer,
.fc-rtl .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer {
  margin-right: -2px;
}

a.fc-more {
  margin: 1px 3px;
  font-size: 0.85em;
  cursor: pointer;
  text-decoration: none;
}

a.fc-more:hover {
  text-decoration: underline;
}

.fc.fc-bootstrap3 a,
.ui-widget .fc-event {
  text-decoration: none;
}

.fc-limited {
  display: none;
}

.fc-icon,
.fc-toolbar .fc-center {
  display: inline-block;
}

.fc-day-grid .fc-row {
  z-index: 1;
}

.fc-more-popover {
  z-index: 2;
  width: 220px;
}

.fc-more-popover .fc-event-container {
  padding: 10px;
}

.fc-bootstrap3 .fc-popover .panel-body,
.fc-bootstrap4 .fc-popover .card-body {
  padding: 0;
}

.fc-now-indicator {
  position: absolute;
  border: 0 solid red;
}

.fc-bootstrap3 .fc-today.alert,
.fc-bootstrap4 .fc-today.alert {
  border-radius: 0;
}

.fc-unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.fc-unthemed td {
  border-color: transparent;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
td.fc-widget-content,
.fc-unthemed tbody {
  border-color: #cccccc;
}

.fc-unthemed .fc-popover {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-popover .fc-header {
  background: #eee;
}

.fc-unthemed .fc-disabled-day {
  background: #d7d7d7;
  opacity: 0.3;
}

.fc-icon {
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fc-icon:after {
  position: relative;
}

.fc-icon-left-single-arrow:after {
  content: "\2039";
  font-weight: 700;
  font-size: 200%;
  top: -7%;
}

.fc-icon-right-single-arrow:after {
  content: "\203A";
  font-weight: 700;
  font-size: 200%;
  top: -7%;
}

.fc-icon-left-double-arrow:after {
  content: "\AB";
  font-size: 160%;
  top: -7%;
}

.fc-icon-right-double-arrow:after {
  content: "\BB";
  font-size: 160%;
  top: -7%;
}

.fc-icon-left-triangle:after {
  content: "\25C4";
  font-size: 125%;
  top: 3%;
}

.fc-icon-right-triangle:after {
  content: "\25BA";
  font-size: 125%;
  top: 3%;
}

.fc-icon-down-triangle:after {
  content: "\25BC";
  font-size: 125%;
  top: 2%;
}

.fc-icon-x:after {
  content: "\D7";
  font-size: 200%;
  top: 6%;
}

.fc-unthemed .fc-popover .fc-header .fc-close {
  color: #666;
  font-size: 0.9em;
  margin-top: 2px;
}

.fc-unthemed .fc-list-item:hover td {
  background-color: $cor-cinza-8;
}

.ui-widget .fc-disabled-day {
  background-image: none;
}

.fc-bootstrap3 .fc-time-grid .fc-slats table,
.fc-bootstrap4 .fc-time-grid .fc-slats table,
.fc-time-grid .fc-slats .ui-widget-content {
  background: 0 0;
}

.fc-popover>.ui-widget-header+.ui-widget-content {
  border-top: 0;
}

.fc-bootstrap3 hr.fc-divider,
.fc-bootstrap4 hr.fc-divider {
  border-color: inherit;
}

.ui-widget .fc-event {
  color: #fff;
  font-weight: 400;
}

.ui-widget td.fc-axis {
  font-weight: 400;
}

.fc.fc-bootstrap3 a[data-goto]:hover {
  text-decoration: underline;
}

.fc.fc-bootstrap4 a {
  text-decoration: none;
}

.fc.fc-bootstrap4 a[data-goto]:hover {
  text-decoration: underline;
}

.fc-bootstrap4 a.fc-event:not([href]):not([tabindex]) {
  color: #fff;
}

.fc-bootstrap4 .fc-popover.card {
  position: absolute;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 1em;
}

.fc-toolbar.fc-footer-toolbar {
  margin-top: 1em;
}

.fc-toolbar .fc-left {
  float: left;
}

.fc-toolbar .fc-right {
  float: right;
}

.fc .fc-toolbar>*>* {
  float: left;
  margin-left: 0.75em;
}

.fc .fc-toolbar>*> :first-child {
  margin-left: 0;
}

.fc-toolbar h2 {
  margin: 0;
  margin-top: 3px;
}

.fc-toolbar button {
  position: relative;
}

.fc-toolbar .fc-state-hover,
.fc-toolbar .ui-state-hover {
  z-index: 2;
}

.fc-toolbar .fc-state-down {
  z-index: 3;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active {
  z-index: 4;
}

.fc-toolbar button:focus {
  z-index: 5;
}

.fc-view-container *,
.fc-view-container :after,
.fc-view-container :before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.fc-view,
.fc-view>table {
  position: relative;
  z-index: 1;
}

.fc-basicDay-view .fc-content-skeleton,
.fc-basicWeek-view .fc-content-skeleton {
  padding-bottom: 1em;
}

.fc-basic-view .fc-body .fc-row {
  min-height: 96px;
}

.fc-row.fc-rigid .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #cccccc;
}

.fc-day-top.fc-other-month {
  opacity: 0.3;
}

.fc-basic-view .fc-day-number,
.fc-basic-view .fc-week-number {
  padding: 2px;
}

.fc-basic-view th.fc-day-number,
.fc-basic-view th.fc-week-number {
  padding: 0 2px;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  float: right;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 4px;
  margin-top: 4px;
}

.fc-rtl .fc-basic-view .fc-day-top .fc-day-number {
  float: left;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-week-number {
  float: left;
  border-radius: 0 0 3px;
}

.fc-rtl .fc-basic-view .fc-day-top .fc-week-number {
  float: right;
  border-radius: 0 0 0 3px;
}

.fc-basic-view .fc-day-top .fc-week-number {
  min-width: 1.5em;
  text-align: center;
  background-color: $cor-cinza-2;
  color: grey;
}

.fc-basic-view td.fc-week-number>* {
  display: inline-block;
  min-width: 1.25em;
}

.fc-agenda-view .fc-day-grid {
  position: relative;
  z-index: 2;
}

.fc-agenda-view .fc-day-grid .fc-row {
  min-height: 3em;
}

.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
  padding-bottom: 1em;
}

.fc .fc-axis {
  vertical-align: middle;
  padding: 0 4px;
  white-space: nowrap;
}

.fc-ltr .fc-axis {
  text-align: right;
}

.fc-rtl .fc-axis {
  text-align: left;
}

.fc-time-grid,
.fc-time-grid-container {
  position: relative;
  z-index: 1;
}

.fc-time-grid {
  min-height: 100%;
}

.fc-time-grid table {
  border: 0 hidden transparent;
}

.fc-time-grid>.fc-bg {
  z-index: 1;
}

.fc-time-grid .fc-slats,
.fc-time-grid>hr {
  position: relative;
  z-index: 2;
}

.fc-time-grid .fc-content-col {
  position: relative;
}

.fc-time-grid .fc-content-skeleton {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
}

.fc-time-grid .fc-business-container {
  position: relative;
  z-index: 1;
}

.fc-time-grid .fc-bgevent-container {
  position: relative;
  z-index: 2;
}

.fc-time-grid .fc-highlight-container {
  z-index: 3;
  position: relative;
}

.fc-time-grid .fc-event-container {
  position: relative;
  z-index: 4;
}

.fc-time-grid .fc-now-indicator-line {
  z-index: 5;
}

.fc-time-grid .fc-helper-container {
  position: relative;
  z-index: 6;
}

.fc-time-grid .fc-slats td {
  height: 1.5em;
  border-bottom: 0;
}

.fc-time-grid .fc-slats .fc-minor td {
  border-top-style: dotted;
}

.fc-time-grid .fc-highlight {
  position: absolute;
  left: 0;
  right: 0;
}

.fc-ltr .fc-time-grid .fc-event-container {
  margin: 0 2.5% 0 2px;
}

.fc-rtl .fc-time-grid .fc-event-container {
  margin: 0 2px 0 2.5%;
}

.fc-time-grid .fc-bgevent,
.fc-time-grid .fc-event {
  position: absolute;
  z-index: 1;
}

.fc-time-grid .fc-bgevent {
  left: 0;
  right: 0;
}

.fc-v-event.fc-not-start {
  border-top-width: 0;
  padding-top: 1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.fc-v-event.fc-not-end {
  border-bottom-width: 0;
  padding-bottom: 1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.fc-time-grid-event.fc-selected {
  overflow: visible;
}

.fc-time-grid-event.fc-selected .fc-bg {
  display: none;
}

.fc-time-grid-event .fc-content {
  overflow: hidden;
}

.fc-time-grid-event .fc-time,
.fc-time-grid-event .fc-title {
  padding: 0 1px;
}

.fc-time-grid-event .fc-time {
  font-size: 0.85em;
  white-space: nowrap;
}

.fc-time-grid-event.fc-short .fc-content {
  white-space: nowrap;
}

.fc-time-grid-event.fc-short .fc-time,
.fc-time-grid-event.fc-short .fc-title {
  display: inline-block;
  vertical-align: top;
}

.fc-time-grid-event.fc-short .fc-time span {
  display: none;
}

.fc-time-grid-event.fc-short .fc-time:before {
  content: attr(data-start);
}

.fc-time-grid-event.fc-short .fc-time:after {
  content: "\A0-\A0";
}

.fc-time-grid-event.fc-short .fc-title {
  font-size: 0.85em;
  padding: 0;
}

.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer {
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  overflow: hidden;
  line-height: 8px;
  font-size: 11px;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
}

.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer:after {
  content: "=";
}

.fc-time-grid-event.fc-selected .fc-resizer {
  border-radius: 5px;
  border-width: 1px;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-color: inherit;
  background: #fff;
  left: 50%;
  margin-left: -5px;
  bottom: -5px;
}

.fc-time-grid .fc-now-indicator-line {
  border-top-width: 1px;
  left: 0;
  right: 0;
}

.fc-time-grid .fc-now-indicator-arrow {
  margin-top: -5px;
}

.fc-ltr .fc-time-grid .fc-now-indicator-arrow {
  left: 0;
  border-width: 5px 0 5px 6px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.fc-rtl .fc-time-grid .fc-now-indicator-arrow {
  right: 0;
  border-width: 5px 6px 5px 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.fc-event-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.fc-rtl .fc-list-view {
  direction: rtl;
}

.fc-list-view {
  border-width: 1px;
  border-style: solid;
}

.fc .fc-list-table {
  table-layout: auto;
}

.fc-list-table td {
  border-width: 1px 0 0;
  padding: 8px 14px;
}

.fc-list-table tr:first-child td {
  border-top-width: 0;
}

.fc-list-heading {
  border-bottom-width: 1px;
}

.fc-list-heading td {
  font-weight: 700;
}

.fc-ltr .fc-list-heading-main {
  float: left;
}

.fc-ltr .fc-list-heading-alt,
.fc-rtl .fc-list-heading-main {
  float: right;
}

.fc-rtl .fc-list-heading-alt {
  float: left;
}

.fc-list-item.fc-has-url {
  cursor: pointer;
}

.fc-list-item-marker,
.fc-list-item-time {
  white-space: nowrap;
  width: 1px;
}

.fc-ltr .fc-list-item-marker {
  padding-right: 0;
}

.fc-rtl .fc-list-item-marker {
  padding-left: 0;
}

.fc-list-item-title a {
  text-decoration: none;
  color: inherit;
}

.fc-list-item-title a[href]:hover {
  text-decoration: underline;
}

.fc-list-empty-wrap2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fc-list-empty-wrap1 {
  width: 100%;
  height: 100%;
  display: table;
}

.fc-list-empty {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.fc-unthemed .fc-list-empty {
  background-color: #eee;
}

.fc-prev-button,
.fc-next-button {
  padding: 5px;
}

.fc-today-button {
  padding: 5px 30px;
}

.fc-month-button,
.fc-agendaWeek-button {
  padding: 5px 10px;
  background-color: #9e9e9e !important;
  color: #fff;
  outline: none;
  text-shadow: none;
  border: none;
}

.fc-state-active {
  background-color: $cor-padrao-1 !important;
  color: #fff;
}

th.fc-day-header.fc-widget-header>span {
  font-size: 14px !important;
  font-weight: normal !important;
}

.apurado {
  background-color: #757575;
}

.cadastrado {
  background-color: #086930;
}

.em_cadastramento {
  background-color: #f5a623;
}

.a_cadastrar {
  background-color: #b00020;
}

.fc-state-highlight .fc-day-number {
  background-color: $cor-padrao-1;
  color: #fff !important;
  width: 20px;
  border-radius: 15px;
  height: 20px;
  text-align: center;
}

.fc-agendaWeek-view .fc-divider.fc-widget-header {
  display: none;
}

.fc-agendaWeek-view {
  .fc-scroller.fc-time-grid-container {
    display: none;
  }

  .fc-row.fc-widget-header,
  td.fc-widget-content {
    border: none;
    border-bottom: 1px solid #ccc;
  }

  th.fc-day-header.fc-widget-header,
  .fc-unthemed td {
    padding: 5px;
  }

  th:nth-child(1).fc-day-header.fc-widget-header {
    border: 1px solid #ccc;
  }

  tr:nth-child(2) th.fc-day-header.fc-widget-header {
    text-align: right !important;
    border: 1px solid #ccc;
  }

  tr:nth-child(2) .fc-today span {
    background-color: $cor-padrao-1;
    color: #fff !important;
    border-radius: 15px;
    padding: 5px;
    margin-right: -3px;
  }

  tbody.fc-body td {
    border-bottom: 1px solid #ccc;
  }

  .fc-head-container tr th:nth-child(1)>th,
  .fc-head-container tr th:nth-child(2)>th {
    display: none;
  }
}

.fc-event:hover {
  opacity: 0.75;
}

.fc-agendaWeek-button:hover,
.fc-month-button:hover,
.fc-next-button:hover,
.fc-prev-button:hover {
  opacity: 0.75;
}

.boxMenor {
  min-height: 351px;
}

.boxMaior {
  min-height: 351px;
  min-width: 1000px;
}

angular2-fullcalendar>div.fc-view-container>div>table>thead>tr>td>div>table>thead>tr:nth-child(1)>th.fc-axis.fc-widget-header,
angular2-fullcalendar>div.fc-view-container>div>table>thead>tr>td>div>table>thead>tr:nth-child(2)>th.fc-axis.fc-widget-header {
  display: none;
}

.buttons-form {
  padding: 20px 0px 10px 0px;
}

.fix-btn {
  position: relative;
  top: 20px;
}

// quickview
.quickview {
  position: absolute;
  width: 280px;
  height: 100%;
  background: #f4f4f4;
  float: right;
  right: 0;
  z-index: 2;
  top: 0;

  .label-text-block {
    margin: 0 !important;
  }

  label,
  span {
    font-size: 12px !important;
    line-height: 12px;
    display: inline;
  }
}

.view-block {
  margin: 15px 0px;
}

.over {
  position: absolute;
  width: 100%;
  height: 100%;
  float: left;
  left: 0;
  z-index: 1;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

cap-icon.fecharQuickView {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  z-index: 3;
}

.content-quickview {
  padding: 25px 20px 20px 20px;
  height: inherit;
  overflow: auto;
}

.d-block {
  display: block !important;
}

.icone-quickview {
  border: 1px solid rgba(117, 117, 117, 0.5);
  padding: 5px;
  border-radius: 4px;
  display: block;
}

cap-icon.action-icon i {
  border: 1px solid #757575;
  border-radius: 4px;
  padding: 4px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: #797979;
}

ng-select>div>div.single>div.value {
  word-break: break-all !important;
  white-space: unset !important;
}

.red {
  color: $cor-vermelho-1 !important;
}

.alerta {
  color: $cor-vermelho-1 !important;
}

.sucesso {
  color: $cor-verde-1 !important;
}

.neutro {
  color: $preto !important;
}

.ver-detalhe img {
  border: 1px solid #bbb;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: #fafafa;
  }
}

.form-button-input {
  display: inline;

  .cap-inputText {
    width: 85%;
  }

  cap-button {
    position: relative;
    top: -40px;
    float: right;
    width: 10%;
  }
}

.fix-zindex {
  position: relative !important;
  z-index: 9999 !important;
}

.header-table {
  margin-bottom: 10px;
  position: relative;
  top: -15px;
}

.overflow-table-default {
  overflow: inherit;
}

.search-icon-blue {
  background-image: url("../img/search-icon-blue.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  padding: 0px !important;
}

.rotate-90deg {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

.botao-limpar {
  background-color: white;
  color: black !important;
  width: 190px;
}

.botao-salvar-alterar {
  width: 190px;
}

.fechar-cliente-selecionado {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 0px;
}

@media screen and (max-width: 720px) {
  .buttons-form {
    padding: 0px 0px 20px 0px !important;
  }
}

.btn-circle {
  padding: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
  border-radius: 50%;
  cursor: pointer;
}

.fix-input {
  position: relative;
  top: -10px;
}

.box.selecionado {
  border-left: 4px solid #006bbc;
}

cap-select.sm {
  label.label-input {
    top: 18px !important;
    left: 7px !important;
    font-size: 10px !important;
  }

  ng-select>div>div.single {
    height: 40px !important;
  }

  ng-select>div>div.single>div.toggle:before {
    font-size: 20px !important;
  }

  ng-select>div>div.single>div.value {
    padding-top: 3px !important;
  }
}

.cap-inputText.sm {
  .cap-inputText-icon {
    top: 25px !important;
  }
}

.selectStatusAprovacao,
.selectStatusApto {
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0px;
  font-size: 14px;
}

.tituloVerificaApuracaoModal {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.txtAreaObsStatusApto {
  font-size: 14px !important;
  resize: none !important;
}

// disabled
.mydrp .selectiondisabled,
.mydrp .btnpickerdisabled {
  cursor: default !important;
  opacity: 0.38 !important;
}

.mydrp .btnpickerdisabled {
  color: #757575 !important;
}

.content-header .cap-inputText:disabled {
  border: none !important;
  border-bottom: 1px solid rgba(117, 117, 117, 0.38) !important;
}

:host ::ng-deep ng-select .below.disabled .toggle {
  color: #757575;
}

// conserto de position do label em inputs
.content label.label-input {
  top: 9px;
  height: 10px;
}

// table-title e table-sub-title
.table-title {
  font-size: 20px;
  line-height: 1;
  margin: 0 0 5px;
}

.table-sub-title {
  margin-bottom: 16px;
}

// tabela
.table-responsive {
  background-color: white;
  border: 1px solid;
  border-color: rgba(117, 117, 117, 0.1);

  thead tr:first-child {
    height: 45px;
    background-color: rgba(74, 74, 74, 0.2);
  }

  tbody tr:hover {
    background-color: rgba(0, 140, 222, 0.12) !important;
  }

  thead tr th,
  tbody tr td {
    vertical-align: middle !important;
    border: 1px solid;
    border-color: rgba(117, 117, 117, 0.1);
  }

  thead tr th {
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    letter-spacing: 0.4px;
    color: $preto !important;
    border-bottom-color: inherit !important;
    border-bottom-width: 1px !important;
  }

  tbody tr {
    td {
      font-size: 12px !important;
      line-height: 1;
      letter-spacing: 0.4px;
      color: $preto;
      height: 40px;
    }

    &:nth-child(even) {
      background: rgba(117, 117, 117, 0.1);
    }
  }

  // table-filter
  &.table-filter {
    &>thead>tr:nth-child(1)>th {
      background-color: #e4e4e4 !important;
      height: 40px;
    }

    td.select {
      padding: 0px;
    }

    ng-select .below:focus {
      border: none !important;
    }

    td.select cap-select>ng-select>div {
      border: none !important;
      height: 40px;
    }

    ng-select>div>div.single>div.toggle:before,
    ng-select>div.open>div.single>div.toggle:before {
      font-size: 18px;
    }

    &>thead>tr:nth-child(2)>th {
      background: #fff !important;
      padding: 0;

      ng-select>div {
        border: none !important;
        height: 40px;
      }

      ng-select>div>div.single>div.toggle {
        line-height: 40px !important;
      }

      ng-select>div>div.single>div.toggle:before {
        font-size: 20px;
        color: #888;
      }
    }
  }

  // Botão quick-view
  .quick-view-button .cap-button {
    width: 20px;
    height: 20px;
    border: 1px solid #757575;
    padding: 0 10px;
    background: white;
    color: #757575;

    .brcap-ico {
      font-size: 14px !important;
      left: -7px;
    }

    &:hover,
    &:focus {
      border: 1px solid transparent;
      background: $cor-padrao-1;
      color: white;
    }
  }
}

// card com quick view aberto
.box.detalhe {
  min-height: 580px;
}

// conserto do componente pagination
.pagination {
  margin: 15px 0 0 !important;
}

.line-height-desbloquear-pgt {
  line-height: 9px;
}

.animated {
  animation-fill-mode: inherit !important;
}

//classes cap-button
.small button.cap-button {
  height: 40px !important;
}

.xs button.cap-button {
  height: 25px !important;
  font-size: 10px !important;
}

.sindu_dragger table {
  background: white !important;
}

//margins comuns
.m-t-15 {
  margin-top: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.dp-calendar-month {
  box-sizing: border-box;
  margin: 10px 5px;
  padding: 7px 7px;
  width: unset !important;
  height: unset !important;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
  outline: none !important;
  border-radius: 5px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}

.dp-calendar-nav-left,
.dp-calendar-nav-right {
  background-color: transparent;
}

cap-modal.modal-pagamento-compromisso .modal .modal-dialog {
  width: 900px;
}

.no-margin {
  margin: 0;
}

.incluirDocGravame cap-button.cap-button {
  margin-top: 15px !important;
}

.modal-sm .modal .modal-dialog {
  width: 380px;

  .close-modal {
    display: none;
  }

  .modal-header .app-modal-header h2 {
    opacity: 0.9;
    font-size: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
  }

  .app-modal-body {
    opacity: 0.9;
    line-height: 1.43;
    letter-spacing: 0.25px;
    color: rgb(0, 0, 0);
  }

  .app-modal-footer .bigger-padding .cap-button {
    padding: 0 24px;
  }

  p {
    margin: 0;
  }
}

.button-xs-gray .cap-button {
  background-color: rgb(117, 117, 117) !important;
  color: white !important;
  border: none !important;

  .sucesso {
    color: white !important;
  }

  &:hover {
    opacity: 1;
  }
}

.button-xs-blue .cap-button {
  background-color: rgb(0, 107, 187) !important;
  color: white !important;
  border: none !important;

  .sucesso {
    color: white !important;
  }
}

.loader {
  z-index: 1100 !important;
}

.flex-container {
  display: flex;

  &-column {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }
}

.flex-item {
  display: flex;
  flex: 0;
  margin: 3px;

  &-start {
    align-self: flex-start;
  }

  &-end {
    align-self: flex-end;
  }

  &-center {
    align-self: center;
  }
}

//linha selecionada da tabela
.table-responsive tbody tr.line-selected {
  background: #7DADD1 !important;
}

body.minimizado .loader {
  width: 100%;
  left: 0;
}

//componente content-header-small
content-header-small .input-center {
  margin-top: -30px;
  padding-right: 0;

  my-date-range-picker .mydrp .selectiongroup input,
  cap-select ng-select>div>div.single>div.toggle,
  cap-select ng-select>div>div.single>div.value {
    line-height: 50px !important;
  }

  my-date-range-picker .mydrp .selectiongroup input {
    padding-top: 10px !important;
  }

  my-date-range-picker .mydrp .selbtngroup {
    height: 50px !important;
  }

  cpf-cnpj-input small.msg {
    margin-top: 0;
    font-size: 10px;
  }
}

//componente content-header-large
content-header-large .col-lg-1,
content-header-large .col-lg-2,
content-header-large .col-lg-3,
content-header-large .col-lg-4,
content-header-large .col-lg-5,
content-header-large .col-lg-6,
content-header-large .col-lg-7,
content-header-large .col-lg-8,
content-header-large .col-lg-9,
content-header-large .col-lg-10,
content-header-large .col-lg-11,
content-header-large .col-lg-12,
content-header-large .col-md-1,
content-header-large .col-md-2,
content-header-large .col-md-3,
content-header-large .col-md-4,
content-header-large .col-md-5,
content-header-large .col-md-6,
content-header-large .col-md-7,
content-header-large .col-md-8,
content-header-large .col-md-9,
content-header-large .col-md-10,
content-header-large .col-md-11,
content-header-large .col-md-12 {
  padding-right: 0;
}

//x-button parceiro-input e plano-input
.x-button {
  position: absolute;
  right: 22px;
  top: 35px;

  .brcap-ico {
    font-size: 19px;
    color: #757575;
    cursor: pointer;
  }
}

//quickv-view styles
.solid-border .view-block,
.dashed-border .view-block {
  padding-bottom: 20px;

  &:last-child {
    border-bottom: none;
  }
}

.solid-border .view-block {
  border-bottom: 1px solid rgb(151, 151, 151);
}

.dashed-border .view-block {
  border-bottom: 1px dashed rgb(151, 151, 151);
}

//full-width loading
cap-loading.full-width .loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1100;
}