@import 'cores';

.label-primary , .btn-primary {
    background: $cor-padrao-2;
    color: white;
}
.color-primary {
    color: $cor-padrao-2;
}


.label.label-inativo {
    background: $cor-cinza-1;
    color: white;
}


.label.label-outline {
    background: transparent;
    border: 1px solid;
    color: $cor-padrao-2;
}

.label.label-encerrado {
    border-color: $cor-cinza-1;
    color: $cor-cinza-1;
}

.left {
    text-align: left !important;
}

.icon-size {
    width: 40px;
}

.collapse.show{
    display: table-row !important;
}

.intern-box {
    background: $cor-cinza-3;
    border-top: 1px solid white;
    font-style: italic;
    
}

tr.clicked {
    background: $cor-cinza-4;
    border-bottom: 2px solid white !important;
    
}
.table {
    transition: all 0.5s;
    > tbody {
        border: none;

        &:last-child {
            border-bottom: 1px solid $cor-padrao-2;
        }
    }
}
.numero-titulo {
    position: relative;
    top: -5px;
}