@import 'cores';

.label-primary , .btn-primary {
    background: $cor-padrao-2;
}
.color-primary {
    color: $cor-padrao-2;
}


.label.label-inativo {
    background: $cor-cinza-1;
    color: white;
}


.label.label-outline {
    background: transparent;
    border: 1px solid;
    color: $cor-padrao-2;
}

.label.label-encerrado {
    border-color: $cor-cinza-1;
    color: $cor-cinza-1;
}

.left {
    text-align: left !important;
}

.icon-size {
    width: 40px;
}

.collapse.show{
    display: table-row !important;
}

.intern-box {
    background: $cor-cinza-3;
    border-top: 1px solid white;
    font-style: italic;
    
}

tr.clicked {
    background: $cor-cinza-4;
    border-bottom: 2px solid white !important;
    
}
.table {
    transition: all 0.5s;
    > tbody {
        border: none;

        &:last-child {
            border-bottom: 1px solid $cor-padrao-2;
        }
    }
}

.mouse-pointer {
    cursor: pointer;
}

tr {
    td{
        &.icon{
            i {
                margin-right: 5px;
                position: relative;
                top: -4px;
            }
        }
    }
} 

.lbl-detalhe {
    color: #6A6A6A !important;
    font-size: 11px !important;
}

.span-detalhe {
    font-size: 12px;
}

.link-condicoes-gerais {
    font-size: 12px;
    position: relative;
    display: block;
    cursor: pointer;
    top: 40px;
    text-decoration: underline;
}

.b-right {
    border-right: 1px solid #bbb !important;
    height: 100px !important;
}

.p-bottom-10 {
    padding-bottom: 10px !important;
}