@import "cores";

.red {
  color: $cor-vermelho-1 !important;
}

.alerta {
  color: $cor-vermelho-1 !important;
}

.sucesso {
  color: $cor-verde-1 !important;
}

.neutro {
  color: $preto !important;
}

.paddinBottom30 {
  padding-bottom: 13px;
}

.alert-danger {
  background: white;
  border-color: red;
  text-align: center;
  color: red;
  font-size: 1.4em;
}

.opicional {
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
}

.listaTitulos {
  min-height: 652px !important;
}

#tableVerificaApuracaoTitulo>thead>tr:nth-child(2)>th {
  background: #fff;
  padding: 0;

  ng-select>div {
    border: none !important;
    height: 40px;
  }

  ng-select>div>div.single>div.toggle {
    line-height: 40px !important;
  }

  ng-select>div>div.single>div.toggle:before {
    font-size: 20px;
    color: #888;
  }
}

.btn-download button {
  font-size: 10px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.9px !important;
  height: 24px !important;
  padding: 0 10px !important;
}

.linhaPlano:hover {
  background: rgba(0, 161, 255, 0.1);
}

.ver-detalhe {
  display: table;
  margin: 0 auto;
  cursor: pointer;

  img {
    border: 1px solid #888;
    border-radius: 4px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
      background: $cor-padrao-2;
      border: 1px solid $cor-padrao-2;
    }
  }
}

.quickview {
  position: absolute;
  width: 280px;
  height: 100%;
  background: #f4f4f4;
  float: right;
  right: 0;
  z-index: 2;
  top: 0;
  transition: all 2s;

  .label-text-block {
    margin: 0 !important;
  }

  label,
  span {
    left: 0px !important;
    background: transparent !important;
    font-size: 12px !important;
    line-height: 12px;
    display: inline;
  }
}

.view-block {
  margin: 15px 0px;
}

.over {
  position: absolute;
  width: 100%;
  height: 100%;
  float: left;
  left: 0;
  z-index: 1;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 2s;
}

.d-block {
  display: block !important;
}

.view-block.datas {

  span,
  label {
    font-size: 12px !important;
  }
}

.box.fila {
  min-height: 580px;
}

.text-right {
  text-align: right;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

table thead tr th {
  font-size: 12px;
  font-family: "ubuntu-regular";
  font-weight: normal;
  text-transform: none;
  color: #666;
  background: rgba(117, 117, 117, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.table>tbody>tr>td {
  border: 1px solid rgba(0, 0, 0, 0.12);
  vertical-align: middle !important;
}

#tableVerificaApuracaoTitulo ng-select>div>div.single>div.toggle {
  width: 20px !important;
}

.fix-btn-exportar {
  position: relative;
  top: -39px;
}

h4 {
  margin-top: 20px;
}


.fix-input-sm {
  position: relative;
  top: -10px;
}

.content-header {
  padding: 0px 15px 0px 15px;
  height: 70px;

  h1 {
    position: relative;
    top: 10px;
    font-size: 20px;
    left: 12px;
  }
}
